<inn-navbar>
  <li class="active"><a href="">View projects status</a></li>
  <li><a href="#/manage/plan" data-ng-click="false">Manage projects</a></li>
  <li><a href="#/manage/loadPanels">Load panels</a></li>
</inn-navbar>

<div class="container">
  <div class="row">
    <div class="container box">
      <div class="row">
        <h1>
          Projects in Production
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12 checkrow">
           <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" ng-model="vm.limitView"> Limit to 4 weeks
              </label>
           </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover table-bordered">
          <col/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <thead>
            <tr>
              <th rowspan="2">Project</th>
              <th colspan="2" scope="colgroup">Delivery Date</th>
              <th rowspan="2" scope="colgroup">Risk</th>
              <th colspan="2" scope="colgroup">Estimated</th>
              <th colspan="2" scope="colgroup">Actuals</th>
              <th colspan="2" scope="colgroup">Completed</th>
            </tr>
            <tr>
              <th colspan="2" scope="colgroup">Revision</th>
              <th>Count</th>
              <th>m<sup>2</sup></th>
              <th>Count</th>
              <th>m<sup>2</sup></th>
              <th>Count</th>
              <th>m<sup>2</sup></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="project in vm.projects" data-ng-click="vm.selectProject(project.projectId)">
              <td>{{project.label}}</td>
              <td>{{project.delivery | date:"EEE dd-MMM-yy"}}</td>
              <td>{{project.revision | revisionCount}}</td>
              <td><span data-ng-if="project.risk.days < 0" data-ng-class="project.risk.past ? 'minusdaysRed' : 'minusdaysGrey'">{{project.risk.days | riskDays}}</span></td>
              <td>{{project.estimated.count}}</td>
              <td>{{project.estimated.area}}</td>
              <td data-ng-class="{'actuals-med-risk': project.risk.medium, 'actuals-high-risk': project.risk.high}">{{project.actual.count}}<br/>({{project.actual.countPercentage}}%)</td>
              <td>{{project.actual.area}}<br/>({{project.actual.areaPercentage}}%)</td>
              <td>{{project.completed.count}}<br/>({{project.completed.countPercentage}}%)</td>
              <td>{{project.completed.area}}<br/>({{project.completed.areaPercentage}}%)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
