<inn-navbar>
  <li class="active"><a href="#/manage/status">View projects status</a></li>
  <li><a href="#/manage/plan" data-ng-click="false">Manage projects</a></li>
  <li><a href="#/manage/loadPanels">Load panels</a></li>
</inn-navbar>

<div class="container-fluid box">
  <div>
    <ol class="breadcrumb">
      <li><a href="#/manage/status">All Projects</a></li>
      <li><a href="#/manage/status/{{vm.status.project.id}}">Project {{vm.status.project.id}} {{vm.status.project.name}}</a></li>
      <li class="active">Area {{vm.status.area.phase}}-{{vm.status.area.floor}}-{{vm.status.area.type}}</li>
    </ol>
  </div>
</div>


<div class="container box">
  <div class="row">
    <h1>
      Panels Status Update
    </h1>
  </div>

  <div class="row">
    <table class="table table-hover table-fixed left">
      <thead>
        <tr>
          <th class="col-xs-4">
            <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" data-ng-model="vm.panelsAllSelected" data-ng-click="vm.toggleAllPanels()">Select all
              </label>
            </div>
          </th>
          <th class="col-xs-1">Image</th>
          <th class="col-xs-1">Uploaded</th>
          <th class="col-xs-2">Last updated</th>
          <th class="col-xs-4">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="panel in vm.status.panels">
          <td class="col-xs-4" data-ng-class="{'colorbg' : vm.panelsSelection[panel.id]}">
            <div class="checkbox">
              <label class="control-label">
                <input
                  type="checkbox"
                  data-ng-model="vm.panelsSelection[panel.id]"
                  data-ng-disabled="vm.panelCompleted(panel)"
                  data-ng-change="vm.panelToggled()">{{panel.id}}
              </label>
            </div>
          </td>
          <td class="col-xs-1"><inn-panel-images panel="panel"></inn-panel-images></td>
          <td class="col-xs-1" data-ng-class="{'colorbg' : vm.panelsSelection[panel.id]}">{{panel.timestamps["created"] | date : "EEE dd-MMM"}}</td>
          <td class="col-xs-2" data-ng-if="panel.timestamps['modified'] !== undefined" data-ng-class="{'colorbg' : vm.panelsSelection[panel.id]}">{{panel.timestamps["modified"] | date : "EEE dd-MMM"}}</td>
          <td class="col-xs-2" data-ng-if="panel.timestamps['modified'] === undefined" data-ng-class="{'colorbg' : vm.panelsSelection[panel.id]}">...</td>
          <td class="col-xs-4" data-ng-if="vm.panelCompleted(panel)" class="status-complete" data-ng-class="{'colorbg' : vm.panelsSelection[panel.id]}">
            <img src="img/complete-icon.svg" alt="panelCompleted" ng-click="vm.markPanelIncomplete(panel)" confirm-title="Reset panel?" confirm="Are you sure you want to reset panel {{panel.id}}? This will remove ALL QA data for this panel!">{{panel.qa["completed"] | date : "EEE dd-MMM"}}
          </td>
          <td class="col-xs-4" data-ng-if="!vm.panelCompleted(panel)" class="status-uncomplete" data-ng-class="{'colorbg' : vm.panelsSelection[panel.id]}">{{vm.panelStatus(panel)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container box">
  <div class="row panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="bubble">
          <div class="row">
            <div class="form-group col-xs-12">
              <label for="completed" class="control-label col-xs-12 col-sm-5">Completed on</label>
              <div class="col-sm-7">
                <inn-date-input id="completedDate" name="completedDate" type="text" data-ng-disabled="!vm.panelsSelected" data-ng-model="vm.completedDate"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="panel-progress">
          <p>{{vm.completed.number}} out of {{vm.numberPanels}} are completed</p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped active"
              role="progressbar"
              aria-valuenow="{{vm.completed.percentage}}"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:{{vm.completed.percentage}}%">
              {{vm.completed.percentage}}%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row buttonsrow">
      <div class="col-xs-12">
        <button class="btn btn-primary" type="button" data-ng-disabled="!vm.panelsSelected" data-ng-click="vm.markSelectedPanelsComplete()">Complete</button>
        <button class="btn btn-primary" type="button" data-ng-disabled="!vm.panelsSelected" data-ng-click="vm.deleteSelectedPanels()">Delete</button>
        <!--
        <button class="btn btn-primary" type="submit">Export</button>
        <button class="btn btn-secondary disabled" type="submit" data-toggle="modal" data-target="#warningUncomplete">Uncomplete</button>
        -->
      </div>
    </div>
  </div>
</div>





 