<inn-navbar>
  <li><a href="#/manage/status">View projects status</a></li>
  <li class="active"><a href="">Manage projects</a></li>
  <li><a href="#/manage/loadPanels">Load panels</a></li>
</inn-navbar>

<div class="fluid-container box wider">
  <h1>
    Production Planner
  </h1>
  <div class="table-responsive">

    <table float-thead="vm.floatTheadOptions" ng-model="vm.plan.areas" class="table table-hover table-bordered">
      <thead class="top">
        <tr>
          <th colspan="8" rowspan="4" class="no-border">
            <form class="form-inline form-horizontal">
              <div class="form-group col-xs-12">
                <label class="control-label col-xs-12 col-sm-4">Choose date</label>
                <div class="col-sm-8">
                  <inn-date-input style="display: inline-block ;text-height: auto; width:100%" id="planDate" name="planDate" type="text" data-ng-model="vm.plan.viewStart"
                      data-ng-change="vm.makeUpdates()"/>
                </div>
              </div>
            </form>
          </th>

          <th colspan="2" class="no-border">SIP1/ Ext. Wall</th>
          <th data-ng-repeat="capacity in vm.plan.capacity.SIP track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <inn-capacity-edit ng-if="!vm.showM2" class="capacity-edit" data-ng-model="capacity" data-ng-change="vm.updateCapacity('SIP', $index, capacity)"/>
            <span ng-if="vm.showM2">{{vm.plan.lineM2Totals['SIP'][$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
          </th>
        </tr>
        <tr>
          <th colspan="2" class="no-border">SIP2/ Ext. Wall</th>
          <th data-ng-repeat="capacity in vm.plan.capacity.SIP2 track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <inn-capacity-edit ng-if="!vm.showM2" class="capacity-edit" data-ng-model="capacity" data-ng-change="vm.updateCapacity('SIP2', $index, capacity)"/>
            <span ng-if="vm.showM2">{{vm.plan.lineM2Totals['SIP2'][$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
          </th>
        </tr>
        <tr>
          <th colspan="2" class="no-border">HSIP/ Ext. Wall</th>
          <th data-ng-repeat="capacity in vm.plan.capacity.HSIP track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <inn-capacity-edit ng-if="!vm.showM2" class="capacity-edit" data-ng-model="capacity" data-ng-change="vm.updateCapacity('HSIP', $index, capacity)"/>
            <span ng-if="vm.showM2">{{vm.plan.lineM2Totals['HSIP'][$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
          </th>
        </tr>
        <tr>
          <th colspan="2" class="no-border">IFAST/ Ext. Wall</th>
          <th data-ng-repeat="capacity in vm.plan.capacity.IFAST track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <inn-capacity-edit ng-if="!vm.showM2" class="capacity-edit" data-ng-model="capacity" data-ng-change="vm.updateCapacity('IFAST', $index, capacity)"/>
            <span ng-if="vm.showM2">{{vm.plan.lineM2Totals['IFAST'][$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
          </th>
        </tr>
        <tr>
          <th colspan="8" rowspan="2" class="no-border">
            <form class="form-inline form-horizontal jump">
              <div class="col-xs-12 checkrow">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" ng-model="vm.productionLineFilter.SIP"> SIP1
                  </label>
                </div>
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" ng-model="vm.productionLineFilter.SIP2"> SIP2
                  </label>
                </div>
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" ng-model="vm.productionLineFilter.HSIP"> HSIP
                  </label>
                </div>
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" ng-model="vm.productionLineFilter.IFAST"> IFAST
                  </label>
                </div>
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" ng-model="vm.productionLineFilter.TF"> TF
                  </label>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" ng-model="vm.productionLineFilter.TF2"> TF2
                    </label>
                </div>
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" ng-model="vm.productionLineFilter.CASS"> CASS
                  </label>
                </div>
              </div>
            </form>
          </th>
          </tr>
          <th colspan="2" class="no-border">TF/ Int. Wall</th>
          <th data-ng-repeat="capacity in vm.plan.capacity.TF track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <inn-capacity-edit ng-if="!vm.showM2" class="capacity-edit" data-ng-model="capacity" data-ng-change="vm.updateCapacity('TF', $index, capacity)"/>
            <span ng-if="vm.showM2">{{vm.plan.lineM2Totals['TF'][$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
          </th>
        </tr>
        <tr>
          <th colspan="8" rowspan="2" class="no-border">
            <form class="form-inline form-horizontal jump">
              <div class="col-xs-12 checkrow">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" ng-model="vm.showActualPanels" data-ng-change="vm.toggleActual()"> Toggle Actual
                  </label>
                </div>
              </div>
            </form>
          </th>
          <th colspan="2" class="no-border">TF2/ Int. Wall</th>
          <th data-ng-repeat="capacity in vm.plan.capacity.TF2 track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <inn-capacity-edit ng-if="!vm.showM2" class="capacity-edit" data-ng-model="capacity" data-ng-change="vm.updateCapacity('TF2', $index, capacity)"/>
            <span ng-if="vm.showM2">{{vm.plan.lineM2Totals['TF2'][$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
          </th>
          </tr>
          
          <th colspan="2" class="no-border">CASS / Roof</th>
          <th data-ng-repeat="capacity in vm.plan.capacity.CASS track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <inn-capacity-edit ng-if="!vm.showM2" class="capacity-edit" data-ng-model="capacity" data-ng-change="vm.updateCapacity('CASS', $index, capacity)"/>
            <span ng-if="vm.showM2">{{vm.plan.lineM2Totals['CASS'][$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
          </th>
        </tr>
        <tr>
            <th colspan="8" rowspan="2" class="no-border">
                <form class="form-inline form-horizontal jump">
                    <div class="col-xs-12 checkrow">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" ng-model="vm.showM2" data-ng-change="vm.toggleM2()"> Toggle area m2 / panels
                            </label>
                        </div>
                    </div>
                </form>
            </th>  

        <th ng-if="vm.showM2" colspan="2" class="no-border">Totals</th>
        <th ng-if="vm.showM2" data-ng-repeat="capacity in vm.plan.capacity.TF2 track by $index" data-ng-class="{weekend: ($index % 7) >= 5}">
            <span>{{vm.plan.dailyM2Totals[$index] || 0 | decimalIfNumber : ($index % 7) >= 5}}</span>
        </th>
        </tr>
        <tr>
          <th colspan="28" class="no-border"></th>
        </tr>

        <tr class="graybg">
          <th rowspan="2">&nbsp;</th>
          <th rowspan="2">Line</th>
          <th rowspan="2"></th>
          <th rowspan="2">Area</th>
          <th rowspan="2">Panels<br>quantity</th>
          <th rowspan="2">Panels<br>completed</th>
          <th rowspan="2" data-ng-click="vm.updateFilter('_dispatchDate')"><p data-ng-if="vm.fieldFilters.indexOf('_dispatchDate') !== -1">{{vm.fieldFilters.indexOf('_dispatchDate') + 1}}</p>Dis.<br>date</th>
          <th rowspan="2" data-ng-click="vm.updateFilter('_productionStartDate')"><p data-ng-if="vm.fieldFilters.indexOf('_productionStartDate') !== -1">{{vm.fieldFilters.indexOf('_productionStartDate') + 1}}</p> Start<br>date</th>
          <th class="d-inline-flex p-2 bd-highlight" rowspan="2" data-ng-click="vm.updateFilter('_productionEndDate')"><p data-ng-if="vm.fieldFilters.indexOf('_productionEndDate') !== -1">{{vm.fieldFilters.indexOf('_productionEndDate') + 1}}</p> Finish<br>date</th>
          <th rowspan="2">Risk</th>
          <th colspan="7">{{vm.weekStart(0) | date:'dd-MMM'}} &mdash; {{vm.weekFinish(0) | date:'dd-MMM'}}</th>
          <th colspan="7">{{vm.weekStart(1) | date:'dd-MMM'}} &mdash; {{vm.weekFinish(1) | date:'dd-MMM'}}</th>
          <th colspan="7">{{vm.weekStart(2) | date:'dd-MMM'}} &mdash; {{vm.weekFinish(2) | date:'dd-MMM'}}</th>
        </tr>
        <tr class="graybg">
          <th ng-repeat="heading in vm.dayHeadings track by $index" data-ng-class="{current: $index == vm.plan.current}">{{heading}}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="area in vm.plan.areas track by $index" data-ng-if="vm.productionLineFilter[area._productionLine]" data-ng-class="{'colorbg' : vm.useUnpublished(area)}">
          <td>
              <input
                type="checkbox"
                data-ng-model="vm.areasSelection[area.$id]"
                data-ng-change="vm.reloadPlan()"
                data-ng-if="area._hasUnpublished"/></td>
          <td data-ng-if="(area._productionLine | numbersFromString) === 'SIP' || (area._productionLine | numbersFromString) === 'TF'">
              <div data-ng-if="(area._productionLine | numbersFromString) === 'SIP'" style="height: 100%; width: 100%;" data-popover-placement="right" data-uib-popover-template="'updateLineTemplate.html'" data-popover-is-open="isOpen" data-popover-trigger="outsideClick" data-popover-title="Select Line: ">{{area._line}}</div>
              <div data-ng-if="(area._productionLine | numbersFromString) === 'TF'" style="height: 100%; width: 100%;" data-popover-placement="right" data-uib-popover-template="'updateLineTemplate.html'" data-popover-is-open="isOpen" data-popover-trigger="outsideClick" data-popover-title="Select Line: ">{{area._line}}</div>
          </td>
          <td data-ng-if="(area._productionLine | numbersFromString) !== 'SIP' && (area._productionLine | numbersFromString) !== 'TF'"></td>
          <td><handover-confirmed area="area.$id"></handover-confirmed></td>
          <td><span data-uib-tooltip="{{area.project | projectName}} - {{area.description}}">{{area._id}}</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'actual'">{{vm.panelsCount(area).display}} <span data-popover-placement="right" data-uib-popover-template="'framingStyle.html'" data-popover-is-open="isOpen" data-popover-trigger="outsideClick" data-popover-title="Framing Style: " class="glyphicon-plus"></span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'noMatch'" class="noMatch">{{vm.panelsCount(area).display}} <span data-popover-placement="right" data-uib-popover-template="'framingStyle.html'" data-popover-is-open="isOpen" data-popover-trigger="outsideClick" data-popover-title="Framing Style: " class="glyphicon-plus"></span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'userGuess'" class="userGuess">{{vm.panelsCount(area).display}}<span> ?</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'notfinal'" class="notfinal">{{vm.panelsCount(area).display}}<span> ?</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'noData'" class="noData">{{vm.panelsCount(area).display}}<span> ?</span></td>
          <td>{{vm.completedPanelsCount(area)}} ({{vm.completedPanelsPercent(area)}}%)</td>
          <td data-ng-if="vm.useUnpublished(area)">
            <s>{{area._dispatchDate | date: 'dd-MMM'}}</s><br/>
            {{area._unpublishedDispatchDate | date: 'dd-MMM'}}
          </td>
          <td data-ng-if="!vm.useUnpublished(area)">
            <span data-ng-class="{dashed: area._hasUnpublished}" data-uib-tooltip="{{area._hasUnpublished ? area._unpublishedDispatchDate : '' | date:'dd-MMM'}}">{{area._dispatchDate | date:'dd-MMM'}}</span>
          </td>
          <td style="min-width: 35px; max-width: 70px"><inn-date-planner-input style=" display:inline-block;text-height: auto ; " id="planDate" name="plannerDate" type="text" data-ng-model="area._productionStartDate" data-ng-change="vm.userChange(area, area._productionStartDate, true)"/><span data-ng-if="area._userChange" data-popover-placement="right" data-uib-popover-template="'computerChange.html'" data-popover-is-open="isOpen" data-popover-trigger="outsideClick" data-popover-title="Option: " class="glyphicon-asterisk"></span></td>
          <td>{{vm.useUnpublishedOnly(area) ? '' : area._productionEndDate | date:'dd-MMM'}}</td>
          <td><span data-ng-class="{minusdays: vm.atRisk(area)}">{{vm.riskDays(area) | riskDays}}</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'actual'" ng-repeat="panels in area._productionPlan track by $index" data-ng-class="{current: $index == vm.plan.current, weekend: ($index % 7) >= 5}"><span ng-if="!vm.showM2">{{panels}}</span><span ng-if="vm.showM2">{{area._productionPlanM2[$index] | number: 1}}</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'noMatch'" ng-repeat="panels in area._productionPlan track by $index" data-ng-class="{current: $index == vm.plan.current, weekend: ($index % 7) >= 5}"><span ng-if="!vm.showM2">{{panels}}</span><span ng-if="vm.showM2">{{area._productionPlanM2[$index] | number: 1}}</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'userGuess'" class="userGuess" ng-repeat="panels in area._productionPlan track by $index" data-ng-class="{current: $index == vm.plan.current, weekend: ($index % 7) >= 5}"><span ng-if="!vm.showM2">{{panels}}</span><span ng-if="vm.showM2">{{area._productionPlanM2[$index] | number: 1}}</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'noData'" class="noData" ng-repeat="panels in area._productionPlan track by $index" data-ng-class="{current: $index == vm.plan.current, weekend: ($index % 7) >= 5}"><span ng-if="!vm.showM2">{{panels}}</span><span ng-if="vm.showM2">{{area._productionPlanM2[$index] | number: 1}}</span></td>
          <td data-ng-if="vm.panelsCount(area).type === 'notfinal'" class="notfinal" ng-repeat="panels in area._productionPlan track by $index" data-ng-class="{current: $index == vm.plan.current, weekend: ($index % 7) >= 5}"><span ng-if="!vm.showM2">{{panels}}</span><span ng-if="vm.showM2">{{area._productionPlanM2[$index] | number: 1}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script type="text/ng-template" id="updateLineTemplate.html">
  <br>
  <button class="btn btn-success" ng-click="vm.updateAreaLine(area.$id, 1)">Line 1</button>
  <button class="btn btn-success"  ng-click="vm.updateAreaLine(area.$id, 2)">Line 2</button>
  <br>
</script>
<script type="text/ng-template" id="framingStyle.html">
  <ul>
      <li ng-repeat = "framingStyle in area._framingStyleList">{{framingStyle}}</li>
  </ul>
</script>


<script type="text/ng-template" id="computerChange.html">
  <br>
  <button class="btn btn-success" ng-click="vm.userChange(area, area._productionStartDate, false)">Calculated Planned Start</button>
  <br>
</script>
