<inn-navbar>
  <li><a href="#/manage/status">View projects status</a></li>
  <li><a href="#/manage/plan">Manage projects</a></li>
  <li class="active"><a href="">Load panels</a></li>
</inn-navbar>

<div class="container box" data-ng-if="!vm.updateSummary">
  <div class="row">
    <h1>
      Files uploading
    </h1>
  </div>
  <div class="row panel-body">
    <div class="row" data-ngf-drop="vm.upload($files)"
        data-ngf-accept="'application/vnd.ms-excel'" data-ngf-multiple="true">

      <div data-ng-if="vm.files.length == 0">
        <div class="col-xs-12">
          <img src="img/file-icon.svg" alt="Upload files" class="upload">
          <div class="bubble-empty" data-ng-model="files">
            <div data-ngf-select="vm.upload($files)" data-ngf-pattern="'.xlsx'" data-ngf-multiple="true">
              <p >Drag and drop files here or click to select</p>
            </div>
          </div>
        </div>
      </div>

      <div data-ng-if="vm.files.length > 0">
        <div class="col-xs-12 col-sm-6">
          <div class="bubble">
            <ul>
              <li>
                <div data-ngf-select="vm.upload($files)" data-ngf-multiple="true">
                  <p >Drag and drop files here or click to select</p>
                </div>
              </li>
              <li data-ng-repeat="file in vm.files track by $index">
                <p><img src="img/file-icon.svg" alt="Excel file">{{file.name}}</p>
                <button type="button" class="btn btn-link" data-ng-click="vm.removeFile($index)">Delete</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="log">
                <ul data-ng-if="vm.errors.length">
                    <li>
                        <p>{{vm.errors.length | number}} out of {{vm.panels.length | number}} panels are unknown</p>
                    </li>
                    <li data-ng-repeat="error in vm.errors track by $index">
                        <img src="img/error-icon.svg">
                        <p>{{error}}</p>
                    </li>
                </ul>
                <ul data-ng-if="!vm.errors.length">
                    <li>
                        <p>{{vm.panels.length | number}} panels identified</p><br>
                        <p data-ng-if="vm.jobSheetCount">{{vm.jobSheetCount | number}} job sheets identified</p>
                    </li>
                </ul>
            </div>
            <div class="matchArea">
                <ul>
                    <li style="color: red; padding-top: 5%;" data-ng-repeat="(areaId, components) in vm.components">
                        <span class="areaslist"> {{areaId}} <span ng-if="!components.selected" class="areaslist"> &#x2718;</span><span ng-if="components.selected" style="color: green" class="areaslist"> &#10004;</span></span>
                        <select style="padding-left: 2%; padding-right: 2%;" class="formControl" id="{{'Select'+$index+1}}" name="{{'Select'+$index+1}}" ng-model="vm.selectData[$index+1]" ng-change="vm.selectedComponet(areaId, components, $index+1)">
                            <option value=""> Select match: </option>
                            <optgroup ng-repeat='(component, areaList) in components.type' label="{{component}}">
                                <option ng-repeat="(area, option) in areaList" value="{{area}}">{{option.areaObj.description}}</option>
                            </optgroup>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>
      
    <div class="row">
        <ul>
            <li data-ng-repeat="(areaId, data) in vm.actualEqualNumberOfPanels">
                <div class="alertUploader alert-success" data-ng-if="data.numberOfPanelsExist && data.numberOfPanels === data.actual">{{areaId}} | Design Qty: {{data.numberOfPanels}} Actual Qty: {{data.actual}}</div>
                <div class="alertUploader alert-warning" data-ng-if="data.numberOfPanelsExist && data.numberOfPanels !== data.actual">{{areaId}} | Design Qty: {{data.numberOfPanels}} Actual Qty: {{data.actual}}</div>
                <div class="alertUploader alert-danger" data-ng-if="!data.numberOfPanelsExist">{{areaId}} | Design Qty: {{data.numberOfPanels}} Actual Qty: {{data.actual}}</div>
            </li>
        </ul>
    </div>

    <div class="row buttonsrow" data-ng-if="vm.files.length">
      <div class="col-xs-12">
        <button class="btn btn-primary" type="submit" data-ng-click="vm.save()"
            data-ng-disabled="vm.saveInProgress || vm.errors.length">Save
        </button>
        <button class="btn btn-primary" type="submit" data-ng-click="vm.reset()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="container box" data-ng-if="vm.updateSummary">
    <div class="row">
        <h1>
            Upload summary
        </h1>
    </div>
    <div class="row panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="bubble">
                    <ul>
                        <li>
                            <p>{{vm.files.length | number}} source files were uploaded</p>
                        </li>
                        <li data-ng-repeat="file in vm.files track by $index">
                            <p><img src="img/file-icon.svg" alt="Excel file">{{file.name}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="summary">
                    <ul>
                        <li >
                            <p>{{vm.updateSummary.total || 0 | number}} panels were recorded successfuly</p>
                        </li>
                        <li data-ng-repeat="detail in vm.updateSummary.details track by $index">
                            <p>{{detail.count | number}} panels for project {{detail.projectId}} {{detail.projectName}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row buttonsrow">
            <div class="col-xs-12">
                <button class="btn btn-primary" type="submit" data-ng-click="vm.reset()">Upload new files</button>
            </div>
        </div>
    </div>
</div>
