

<div ng-show='vm.exists' ng-click="vm.openPopup(vm.imageUrl)">Images</div>

<script type="text/ng-template" id="imgModal.html">

    <div class="modal-header">
      <h3>Panel Image</h3>
      <div ng-repeat="(key,image) in vm.images track by $index" ><a style="width:100%;" target="_blank" href='{{image}}'><img style="width:100%;" src='{{image}}'></a></div>

    </div>  
</script>
