<inn-navbar>
  <li class="active"><a href="#/manage/status">View projects status</a></li>
  <li><a href="#/manage/plan" data-ng-click="false">Manage projects</a></li>
  <li><a href="#/manage/loadPanels">Load panels</a></li>
</inn-navbar>

<div class="container-fluid box">
  <div>
    <ol class="breadcrumb">
      <li><a href="#/manage/status">All Projects</a></li>
      <li class="active">Project {{vm.project.id}} {{vm.project.name}}</li>
    </ol>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="container box">
      <div class="row">
        <h1>
          Project {{vm.project.id}} {{vm.project.name}}
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12 checkrow">
           <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" ng-model="vm.limitView"> Limit to 4 weeks
              </label>
           </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover table-bordered">
          <col/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <thead>
            <tr>
              <th rowspan="2">Area</th>
              <th rowspan="2">Component</th>
              <th rowspan="2" scope="colgroup">Delivery Date<br/>Revision {{vm.project.revision | revisionCount}}</th>
              <th rowspan="2" scope="colgroup">Start<br/>Date</th>
              <th rowspan="2" scope="colgroup">Finish<br/>Date</th>
              <th rowspan="2" scope="colgroup">Risk</th>
              <th colspan="2" scope="colgroup">Estimated</th>
              <th colspan="2" scope="colgroup">Actuals</th>
              <th colspan="2" scope="colgroup">Completed</th>
            </tr>
            <tr>
              <th>Count</th>
              <th>m<sup>2</sup></th>
              <th>Count</th>
              <th>m<sup>2</sup></th>
              <th>Count</th>
              <th>m<sup>2</sup></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="area in vm.project.areas" data-ng-click="vm.selectArea(area.areaRef)">
              <td>{{area.label}}</td>
              <td>{{area.component}}</td>
              <td>{{area.delivery | date:"EEE dd-MMM"}}</td>
              <td>{{area.plan.plannedStart | date:"EEE dd-MMM"}}</td>
              <td>{{area.plan.plannedFinish | date:"EEE dd-MMM-yy"}}</td>
              <td><span data-ng-if="vm.atRisk(area)" data-ng-class="area.risk.past ? 'minusdaysRed' : 'minusdaysGrey'">{{vm.riskDays(area) | riskDays}}</span></td>
              <td>{{area.estimated.count}}</td>
              <td>{{area.estimated.area}}</td>
              <td title="{{vm.riskText(area)}}" data-ng-class="{'actuals-med-risk': area.risk.medium, 'actuals-high-risk': area.risk.high}">{{area.actual.count}}<br/>({{area.actual.countPercentage}}%)</td>
              <td>{{area.actual.area}}<br/>({{area.actual.areaPercentage}}%)</td>
              <td>{{area.completed.count}}<br/>({{area.completed.countPercentage}}%)</td>
              <td>{{area.completed.area}}<br/>({{area.completed.areaPercentage}}%)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
