<inn-navbar>  
  <li><a href="#/designIssued">Design Issued</a></li>
  <li><a href="#/resource">Daily View</a></li>
  <li><a href="#/forecastBar">Weekly View</a></li>
  <li><a href="#/forecast">Weekly View (Area Chart)</a></li>
  <li><a href="#/designBuffer">Design Buffer</a></li>
  <li class="active"><a href="#/deliveredBuffer">Delivered Buffer</a></li>
</inn-navbar>

<div class="fluid-container box wider">
    <span id="loader" data-ng-show="vm.loader"></span>
    Manufactured
    <nvd3 class="chart3" options="vm.options2" data="vm.data3" on-ready="chart.callback"></nvd3>
    Buffer
    <nvd3 class="chart2" options="vm.options3" data="vm.data4"></nvd3>
    Delivered
    <nvd3 class="chart1" options="vm.options1" data="vm.data5"></nvd3>
</div>
