<inn-navbar>
  <li class="active"><a href="#/designIssued">Design Issued</a></li>
  <li><a href="#/resource">Daily View</a></li>
  <li><a href="#/forecastBar">Weekly View</a>
  <li><a href="#/forecast">Weekly View (Area Chart)</a></li>
  <li><a href="#/designBuffer">Design Buffer</a></li>
  <li><a href="#/deliveredBuffer">Delivered Buffer</a></li>
  <li><a href="#/products">Products</a></li>
</inn-navbar>

<div class="fluid-container box wider">
        <div class="flex-container">
            <div class="flex-item sm">Design Issued</div>
            <div class="flex-item sm"></div>
            <div class="flex-item sm">        
                <button type="submit" class="btn btn-third" ng-click="vm.syncStats()"> 
                    <span class="spinner" ng-show="vm.showSpinner">
                        <span class="rect1"></span>
                        <span class="rect2"></span>
                        <span class="rect3"></span>
                        <span class="rect4"></span>
                        <span class="rect5"></span>
                    </span>
                    <span ng-show="!vm.showSpinner">{{ vm.searchSyncStatsText }}</span>
                </button>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item sm"></div>
            <div class="flex-item sm">Design Issued (count)</div>
            <div class="flex-item sm">Design Issued (m2)</div>
        </div>
        <div class="flex-container">
            <div class="flex-item lg">SIP</div>
            <div class="flex-item lg">{{vm.designIssuedCount.SIP || 0 }}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.SIP > 0">{{vm.designIssuedM2.SIP || 0 | number : 1}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.SIP <= 0">{{0}}</div>
        </div>
        <div class="flex-container">
            <div class="flex-item lg">HSIP</div>
            <div class="flex-item lg">{{vm.designIssuedCount.HSIP || 0}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.HSIP > 0">{{vm.designIssuedM2.HSIP || 0 | number : 1}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.HSIP <= 0">{{0}}</div>
        </div>
        <div class="flex-container">
            <div class="flex-item lg">IFAST</div>
            <div class="flex-item lg">{{vm.designIssuedCount.IFAST || 0}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.IFAST > 0">{{vm.designIssuedM2.IFAST || 0 | number : 1}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.IFAST <= 0">{{0}}</div>
        </div>
        <div class="flex-container">
            <div class="flex-item lg">TF</div>
            <div class="flex-item lg">{{vm.designIssuedCount.TF || 0}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.TF > 0">{{vm.designIssuedM2.TF || 0 | number : 1}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.TF <= 0">{{0}}</div>
        </div>
        <div class="flex-container">
            <div class="flex-item lg">CASS</div>
            <div class="flex-item lg">{{vm.designIssuedCount.CASS || 0}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.CASS > 0">{{vm.designIssuedM2.CASS || 0 | number : 1}}</div>
            <div class="flex-item lg" ng-if="vm.designIssuedM2.CASS <= 0">{{0}}</div>
        </div>
        <div class="flex-container">
            <div class="flex-item lg">Total</div>
            <div class="flex-item lg">{{vm.totalDesignCount || 0}}</div>
            <div class="flex-item lg" ng-if="vm.totalDesignCount > 0">{{vm.totalDesignM2 || 0 | number : 1}}</div>
            <div class="flex-item lg" ng-if="vm.totalDesignCount <= 0">{{0}}</div>
        </div>
    </div>
