<inn-navbar>
  <li><a href="#/designIssued">Design Issued</a></li>
  <li><a href="#/resource">Daily View</a></li>
  <li class="active"><a href="#/forecastBar">Weekly View</a></li>
  <li><a href="#/forecast">Weekly View (Area Chart)</a></li>
  <li><a href="#/designBuffer">Design Buffer</a></li>
  <li><a href="#/deliveredBuffer">Delivered Buffer</a></li>
</inn-navbar>

<div class="fluid-container box wider" style="font-size: 12px;">
  <h3>SIP ({{vm.areasPlans["SIP"]}}) <div style="font-size: 12px;">Total:{{vm.sipYear + "m"}}<sup>2</sup></div></h3>
    <nvd3 class="SIP" options="vm.options.SIP" api="vm.chartAPI.SIP" data="vm.chartData.SIP" on-ready="chart.callback"></nvd3>
    <h3>TF ({{vm.areasPlans["TF"]}}) <div style="font-size: 12px;">Total:{{vm.tfYear + "m"}}<sup>2</sup></div></h3>
    <nvd3 class="TF" options="vm.options.TF" api="vm.chartAPI.TF" data="vm.chartData.TF" on-ready="chart.callback"></nvd3>
    <h3>CASS ({{vm.areasPlans["CASS"]}})<div style="font-size: 12px;">Total:{{vm.cassYear + "m"}}<sup>2</sup></div></h3>
    <nvd3 class="CASS" options="vm.options.CASS" api="vm.chartAPI.CASS" data="vm.chartData.CASS" on-ready="chart.callback"></nvd3>
</div>

<script type="text/ng-template" id="weekCapacityModal.html">
    <div class="modal-header">
    <h3>Set capactity week beginning: {{vm.week}} for {{vm.productionLine}}</h3>
    </div>
    <form ng-submit="vm.update()">
        <div class="modal-body">
            <div ng-if="vm.productionLine === 'SIP'" class="form-group col-xs-12">
                <label class="col-xs-4">Line: </label>
                <select class="col-xs-4" name="singleSelect" ng-model="vm.productionLine">
                  <option value="SIP">SIP1</option>
                  <option value="SIP2">SIP2</option>
                </select>
            </div>
            <div ng-if="vm.productionLine === 'TF'" class="form-group col-xs-12">
                <label class="col-xs-4">Line: </label>
                <select class="col-xs-4" name="singleSelect" ng-model="vm.productionLine">
                  <option value="TF">TF1</option>
                  <option value="TF2">TF2</option>
                </select>
            </div>
            <div class="form-group col-xs-12">
                <label class="col-xs-4">Include Weekends: </label>
                <input class="col-xs-4" type="checkbox" ng-model="vm.weekend">
            </div>
            <div class="form-group col-xs-12">
                <label class="col-xs-4">Set Capacity</label>
                <input class="col-xs-4" type="number" ng-model="vm.capacity">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
        </div>
    </form>
</script>
