<inn-navbar>
  <li><a href="#/designIssued">Design Issued</a></li>
  <li><a href="#/resource">Daily View</a></li>
  <li class="active"><a href="#/forecastBar">Weekly View</a></li>
  <li><a href="#/forecast">Weekly View (Area Chart)</a></li>
  <li><a href="#/designBuffer">Design Buffer</a></li>
  <li><a href="#/deliveredBuffer">Delivered Buffer</a></li>
  <li><a href="#/products">Products</a></li>
</inn-navbar>

<div class="fluid-container box wider">
    <div ng-if="vm.chartData.SIP !== undefined">
        <h3>SIP</h3>
        <nvd3 class="SIP" options="vm.options.SIP" api="vm.chartAPI.SIP" data="vm.chartData.SIP" on-ready="chart.callback"></nvd3>
    </div>
    <div ng-if="vm.chartData.HSIP !== undefined">
        <h3>HSIP</h3>
        <nvd3 class="HSIP" options="vm.options.HSIP" api="vm.chartAPI.HSIP" data="vm.chartData.HSIP" on-ready="chart.callback"></nvd3>
    </div>
    <div ng-if="vm.chartData.IFAST !== undefined">
        <h3>IFAST</h3>
        <nvd3 class="IFAST" options="vm.options.IFAST" api="vm.chartAPI.IFAST" data="vm.chartData.IFAST" on-ready="chart.callback"></nvd3>
    </div>
    <div ng-if="vm.chartData.TF !== undefined">
        <h3>TF</h3>
        <nvd3 class="TF" options="vm.options.TF" api="vm.chartAPI.TF" data="vm.chartData.TF" on-ready="chart.callback"></nvd3>
    </div>
    <div ng-if="vm.chartData.CASS !== undefined">
        <h3>CASS</h3>
        <nvd3 class="CASS" options="vm.options.CASS" api="vm.chartAPI.CASS" data="vm.chartData.CASS" on-ready="chart.callback"></nvd3>
    </div>
</div>
