<inn-navbar>
  <li><a href="#/designIssued">Design Issued</a></li>
  <li class="active"><a href="#/resource">Daily View</a></li>
  <li><a href="#/forecastBar">Weekly View</a></li>
  <li><a href="#/forecast">Weekly View (Area Chart)</a></li>
  <li><a href="#/designBuffer">Design Buffer</a></li>
  <li><a href="#/deliveredBuffer">Delivered Buffer</a></li>
</inn-navbar>

<div ng-show="vm.hideHolder" class="fluid-container box wider">
    <div class="form-group pull-left col-xs-4">
        <h4>SIP ({{vm.areasPlans["SIP"]}})</h4>
    </div>
    <div class="form-group pull-right col-xs-4">
        <div class="row">
            <label>Choose date:</label>
        </div>
        <div class="row">
            <inn-date-input id="planDate" name="planDate" type="text" data-ng-model="vm.plan.viewStart" data-ng-change="vm.loadPlan(vm.plan.viewStart)"/>
        </div>
    </div>
    <nvd3 class="SIP" options="vm.options.SIP" data="vm.chartData.SIP" api="vm.resourceChartAPI.SIP" on-ready="chart.callback"></nvd3>
    <div ng-show="vm.hideHolder" class="form-group pull-left col-xs-4">
        <h4>SIP2 ({{vm.areasPlans["SIP"]}})</h4>
    </div>
    <nvd3 class="SIP2" options="vm.options.SIP2" data="vm.chartData.SIP2" api="vm.resourceChartAPI.SIP2" on-ready="chart.callback"></nvd3>
    <div ng-show="vm.hideHolder" class="form-group pull-left col-xs-4">
        <h4>HSIP ({{vm.areasPlans["HSIP"]}})</h4>
    </div>
    <nvd3 class="HSIP" options="vm.options.HSIP" data="vm.chartData.HSIP" api="vm.resourceChartAPI.HSIP" on-ready="chart.callback"></nvd3>
    <div ng-show="vm.hideHolder" class="form-group pull-left col-xs-4">
        <h4>IFAST ({{vm.areasPlans["IFAST"]}})</h4>
    </div>
    <nvd3 class="IFAST" options="vm.options.IFAST" data="vm.chartData.IFAST" api="vm.resourceChartAPI.IFAST" on-ready="chart.callback"></nvd3>
    <div ng-show="vm.hideHolder" class="form-group pull-left col-xs-4">
        <h4>TF ({{vm.areasPlans["TF"]}})</h4>
    </div>
    <nvd3 class="TF" options="vm.options.TF" data="vm.chartData.TF" api="vm.resourceChartAPI.TF" on-ready="chart.callback"></nvd3>
    <div ng-show="vm.hideHolder" class="form-group pull-left col-xs-4">
        <h4>TF2 ({{vm.areasPlans["TF"]}})</h4>
    </div>
    <nvd3 class="TF2" options="vm.options.TF2" data="vm.chartData.TF2" api="vm.resourceChartAPI.TF2" on-ready="chart.callback"></nvd3>
    <div ng-show="vm.hideHolder" class="form-group pull-left col-xs-4">
        <h4>CASS ({{vm.areasPlans["CASS"]}})</h4>
    </div>
    <nvd3 class="CASS" options="vm.options.CASS" data="vm.chartData.CASS" api="vm.resourceChartAPI.CASS" on-ready="chart.callback"></nvd3>
</div>

<script type="text/ng-template" id="capacityModal.html">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-target="#tab1" data-toggle="tab">Capacity</a></li>
            <li><a href="" data-target="#tab2" data-toggle="tab">Benches</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form>
                    <div class="modal-header">
                    <h3>Set capactity (panels): {{vm.week}} for {{vm.productionLine}}</h3>
                    </div>
                    <div class="modal-body">
                        <div ng-if="vm.productionLine === 'SIP' || vm.productionLine === 'SIP2'" class="form-group col-xs-12">
                            <label class="col-xs-4">Line: </label>
                            <select class="col-xs-4" name="singleSelect" ng-model="vm.productionLine">
                              <option value="SIP">SIP1</option>
                              <option value="SIP2">SIP2</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">Update duration: </label>
                            <select ng-change="vm.daysChanged('capacity')" class="col-xs-4" name="days" ng-model="vm.days">
                              <option value="1">Daily</option>
                              <option value="7">Week</option>
                              <option value="21">21 Days</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">Include Weekends: </label>
                            <input class="col-xs-4" type="checkbox" ng-model="vm.weekend">
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">Set Capacity (panels)</label>
                            <input class="col-xs-4" type="number" ng-model="vm.capacity">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-click="vm.updateCapacity()" class="btn btn-primary">Update</button>
                        <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="tab2">
                <form>
                    <div class="modal-header">
                    <h3>Set benches (m2): {{vm.week}} for {{vm.productionLine}}</h3>
                    </div>
                    <div class="modal-body">
                        <div ng-if="vm.productionLine === 'SIP' || vm.productionLine === 'SIP2'" class="form-group col-xs-12">
                            <label class="col-xs-4">Line: </label>
                            <select class="col-xs-4" name="singleSelect" ng-model="vm.productionLine">
                              <option value="SIP">SIP1</option>
                              <option value="SIP2">SIP2</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">Update duration: </label>
                            <select ng-change="vm.daysChanged('bench')" class="col-xs-4" name="days" ng-model="vm.days">
                              <option value="1">Daily</option>
                              <option value="7">Week</option>
                              <option value="21">21 Days</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">Include Weekends: </label>
                            <input class="col-xs-4" type="checkbox" ng-model="vm.weekend">
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">Set Benches (m2)</label>
                            <input class="col-xs-4" type="number" ng-model="vm.benchMeterSquared">
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">Set Operators (people)</label>
                            <input class="col-xs-4" type="number" ng-model="vm.benchMOperators">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.updateBenches()" type="submit" class="btn btn-primary">Update</button>
                        <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
