<inn-navbar>
  <li><a href="#/admin/export">Export</a></li>
  <li><a href="#/admin/audit">Audit</a></li>
  <li><a href="#/admin/datums">Datums</a></li>
  <li class="active"><a href="#/admin/adminProjects">Projects</a></li>  
  <li><a href="#/admin/dataIntegrity">Data Integrity</a></li>
</inn-navbar>

<div class="container box">
  <div class="row">
    <h1>
      Admin Projects
    </h1>
  </div>

  <div class="row panel-body">
    <div class="row">
      <div class="col-xs-12">
        <img src="img/building-icon.svg" alt="building" class="building">
        <div class="bubble-empty">
          <p>The administration of projects</p>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover left">
      <thead>
        <tr>
          <th>Project number and name</th>
          <th>SIP Line</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="project in vm.projects | orderBy:'-id'" >
          <td>{{project.id}} {{project.name}}</td>
          <td><button class="btn btn-default btn-sm" data-popover-placement="right" data-uib-popover-template="'updateLineTemplate.html'" data-popover-trigger="outsideClick" data-popover-is-open="isOpen" data-popover-title="Select Line: ">Set Default</button></td>
          <td><input type="checkbox" ng-model="project.active" data-ng-change="vm.activeToggle(project)"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<script type="text/ng-template" id="updateLineTemplate.html">
  <br>
  <button class="btn btn-success" ng-click="vm.updateAreaLine(project.$id, 1)">Line 1</button>
  <button class="btn btn-success"  ng-click="vm.updateAreaLine(project.$id, 2)">Line 2</button>
  <br>
</script>
