<inn-navbar>
  <li><a href="#/admin/export">Export</a></li>
  <li class="active"><a href="#/admin/audit">Audit</a></li>
  <li><a href="#/admin/datums">Datums</a></li>
  <li><a href="#/admin/adminProjects">Projects</a></li>
  <li><a href="#/admin/dataIntegrity">Data Integrity</a></li>
</inn-navbar>

<div class="container box">
  <div class="row">
    <h1>
      Audit Entries
    </h1>
  </div>
  <div class="row">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Username</th>
          <th>Log</th>
          <th>Production Line</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="entry in vm.auditEntries">
          <td>{{entry.timestamp | date:"yyyy-MM-dd HH:mm:dd"}}</td>
          <td>{{entry.userName}}</td>
          <td ng-if="entry.link !== ''"><a ng-href="{{entry.link}}">{{entry.log}}</a></td>
          <td ng-if="entry.link === ''">{{entry.log}}</td>
          <td>{{entry.productionLine}}</td>
          <td> {{entry.projectId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
