<!DOCTYPE html>

<inn-navbar>
    <li><a href="#/admin/export">Export</a></li>
    <li><a href="#/admin/audit">Audit</a></li>
    <li><a href="#/admin/datums">Datums</a></li>
    <li><a href="#/admin/adminProjects">Projects</a></li>
    <li class="active"><a href="#/admin/dataIntegrity">Data Integrity</a></li>    
</inn-navbar>  

<div style="width:100%;" class="container box">          
  <div style="font-weight: bold;padding:5px;font-size: 20px;">Gateway Checklist</div>
      <table>
        <tr style="border:2px solid black; padding:5px;" ng-show="$first" ng-repeat="(key,x) in vm.tableData track by $index">
          <th style="border:2px solid black; padding:5px;">project Id <input style="width:45px;height:20px;" ng-model="vm.sort" ng-change="vm.change()" maxlength="3" value="hdss" onfocus="this.value=''"></th>
          <th style="border:2px solid black; padding:5px; width:10%;"  ng-repeat="(key,x) in vm.gatwayNames" >{{x}}</th>
        </tr>
        <tr ng-repeat="(key,x) in vm.tableData track by $index" style="border:2px solid black" ng-model="vm.sort" ng-show="vm.sort === key || vm.counteroo !== 3" >
          <td ><div><a ng-href='/newux.html#/projects/{{key}}/details'>{{key}}</a></div></td>
          <td ng-repeat="(key,value) in x " style="border:2px solid black; padding:0px;" popover-append-to-body="true"  popover-placement="right" uib-popover-template="'popup.html'" popover-is-open="isOpen" popover-trigger="mouseenter" popover-title="Criteria : ">
            <div ng-if="(vm.checkIfTrue(value) === false) || vm.isUndefined(value) === false " style="background-color: rgba(255, 0, 0, 1);">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            </div>
            <div ng-if="(vm.checkIfTrue(value) === true) || vm.isUndefined(value) === true" style="background-color: rgba(0 ,255, 0, 1);">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
              </div>
            </div>
          </td>                                
        </tr>
      </table>
</div>
<script type="text/ng-template" id="popup.html">
  <ul ng-repeat="(key,val) in value">
      <li><div>{{key + " " + ":"+ " "+ val}}</div></li>
  </ul>
</script>