<inn-navbar>
    <li><a href="#/admin/export">Export</a></li>
    <li><a href="#/admin/audit">Audit</a></li>
    <li class="active"><a href="#/admin/datums">Datums</a></li>
    <li><a href="#/admin/adminProjects">Projects</a></li>
    <li><a href="#/admin/dataIntegrity">Data Integrity</a></li>
</inn-navbar>

<div class="container box">
    <div class="row">
        <h1>
            Datum Entries
        </h1>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered">
            <col/>
            <colgroup span="2"/>
            <colgroup span="2"/>
            <colgroup span="2"/>
            <colgroup span="2"/>
            <thead>
                <tr>
                    <th rowspan="2">Datum Type</th>
                    <th colspan="2" scope="colgroup">SIP</th>
                    <th colspan="2" scope="colgroup">HSIP</th>
                    <th colspan="2" scope="colgroup">IFAST</th>
                    <th colspan="2" scope="colgroup">TF</th>
                    <th colspan="2" scope="colgroup">CASS</th>
                </tr>
                <tr>
                    <th>Average m<sup>2</sup></th>
                    <th>Overide m<sup>2</sup></th>
                    <th>Average m<sup>2</sup></th>
                    <th>Overide m<sup>2</sup></th>
                    <th>Average m<sup>2</sup></th>
                    <th>Overide m<sup>2</sup></th>
                    <th>Average m<sup>2</sup></th>
                    <th>Overide m<sup>2</sup></th>
                    <th>Average m<sup>2</sup></th>
                    <th>Overide m<sup>2</sup></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="datum in vm.datums">
                    <td>{{datum.name}}</td>
                    <td>{{datum.productionLines.SIP.panelAvg}}</td>
                    <td><input class="middle" data-ng-keyup="vm.updateOverride(datum.name, datum)" type="number" data-ng-model="datum.productionLines.SIP.panelAvgOverride"></td>
                    <td>{{datum.productionLines.HSIP.panelAvg}}</td>
                    <td><input class="middle" data-ng-keyup="vm.updateOverride(datum.name, datum)" type="number" data-ng-model="datum.productionLines.HSIP.panelAvgOverride"></td>
                    <td>{{datum.productionLines.IFAST.panelAvg}}</td>
                    <td><input class="middle" data-ng-keyup="vm.updateOverride(datum.name, datum)" type="number" data-ng-model="datum.productionLines.IFAST.panelAvgOverride"></td>
                    <td>{{datum.productionLines.TF.panelAvg}}</td>
                    <td><input class="middle" data-ng-keyup="vm.updateOverride(datum.name, datum)" type="number" data-ng-model="datum.productionLines.TF.panelAvgOverride"></td>
                    <td>{{datum.productionLines.CASS.panelAvg}}</td>
                    <td><input class="middle" data-ng-keyup="vm.updateOverride(datum.name, datum)" type="number" data-ng-model="datum.productionLines.CASS.panelAvgOverride"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>