<inn-navbar>
  <li class="active"><a href="#/admin/export">Export</a></li>
  <li><a href="#/admin/audit">Audit</a></li>
  <li><a href="#/admin/datums">Datums</a></li>
  <li><a href="#/admin/adminProjects">Projects</a></li>
  <li><a href="#/admin/dataIntegrity">Data Integrity</a></li>
</inn-navbar>

<div class="container box">
  <div class="row">
    <h1>
      Export
    </h1>
  </div>
  <div class="row panel-body exportimg">
    <div class="row">
      <div class="col-xs-12">
        <img src="img/export-icon.svg" alt="export" class="export">
        <div class="bubble-empty">
          <p>Select a date range</p>
        </div>
      </div>
    </div>
  </div> 
<br>    
  <div class="row panel-body">
    <form class="form-horizontal" name="exportForm" data-ng-submit="vm.exportXLSX(exportForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group col-xs-12">
                <div class="row">
                  <label class="control-label col-xs-12 col-sm-5">From <span>*</span></label>
                  <div class="col-sm-7" data-ng-class="{'has-error': exportForm.fromDate.$touched && exportForm.fromDate.$invalid}">
                    <inn-date-input id="fromDate" name="fromDate" type="text" data-ng-model="vm.fromDate" required/>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
           <div class="form-group col-xs-12">
            <div class="row">
              <label class="control-label col-xs-12 col-sm-5">To <span>*</span></label>
              <div class="col-sm-7" data-ng-class="{'has-error': exportForm.toDate.$touched && exportForm.toDate.$invalid}">
                <inn-date-input id="toDate" name="toDate" type="text" data-ng-model="vm.toDate" required/>
              </div>
            </div>
          </div>
          </div>
        </div>
          <br>
      </fieldset>
      <div class="row buttonsrow">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="submit" data-ng-disabled="exportForm.$invalid">Export</button>
        </div>
      </div>
    </form>
  </div>
</div>
