<inn-navbar>
  <li><a target="_blank" href="/#/materialrequests/updateMaterialRequest">+ New Request</a></li>
</inn-navbar>

<div class="fluid-container box">
  <h1>
    Material Requests
  </h1>
<br>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Actioned</th>
          <th>QA Auth</th>
          <th>Update</th>
          <th>Timestamp</th>          
          <th ng-click="vm.sortBy('-person','person')" ng-show="(vm.sortFilter.person === 'person')" style="border-bottom: solid 5px rgb(156,39,176);">Person</th>
          <th ng-click="vm.sortBy('none','person')" ng-show="(vm.sortFilter.person === '-person')" style="border-top :solid 5px rgba(32, 99, 99, 1);">Person</th>
          <th ng-click="vm.sortBy('person','person')" ng-show="(vm.sortFilter.person === 'none')">Person</th>
          
          <th ng-click="vm.sortBy('-projectId','projectId')" ng-if="(vm.sortFilter.projectId === 'projectId')" style="border-bottom: solid 5px rgb(156,39,176);">Project No</th>
          <th ng-click="vm.sortBy('none','projectId')" ng-if="(vm.sortFilter.projectId === '-projectId')" style="border-top :solid 5px rgba(32, 99, 99, 1);">Project No</th>
          <th ng-click="vm.sortBy('projectId','projectId')" ng-if="(vm.sortFilter.projectId === 'none')">Project No</th>        
          <th ng-click="vm.sortBy('-projectName','projectName')" ng-if="(vm.sortFilter.projectName === 'projectName')" style="border-bottom: solid 5px rgb(156,39,176);">projectName</th>
          <th ng-click="vm.sortBy('none','projectName')" ng-if="(vm.sortFilter.projectName === '-projectName')" style="border-top: solid 5px rgba(32, 99, 99, 1);">projectName</th>          
          <th ng-click="vm.sortBy('projectName','projectName')" ng-if="(vm.sortFilter.projectName === 'none')">project Name</th>
          <th>Item & Quantity</th>
          <th>Required</th>
          <th>Reason</th>
          <th>Main Contractor</th>
          <th>Site Contact</th>
          <th>Site Contact No</th>
          <th>Comments</th>
          <th ng-click="vm.sortBy('-deliveryDate','deliveryDate')" ng-if="(vm.sortFilter.deliveryDate === 'deliveryDate')" style="border-bottom: solid 5px rgb(156,39,176);">Delivery Date</th>
          <th ng-click="vm.sortBy('none','deliveryDate')" ng-if="(vm.sortFilter.deliveryDate === '-deliveryDate')" style="border-top: solid 5px rgba(32, 99, 99, 1);">Delivery Date</th>          
          <th ng-click="vm.sortBy('deliveryDate','deliveryDate')" ng-if="(vm.sortFilter.deliveryDate === 'none')">Delivery Date</th>                 
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <input style="width:100%;height:30px;" class="specialInput" ng-model="vm.sort" ng-change="vm.change()" ng-change="vm.change()" value="Search By Project Id" onfocus="this.value=''">
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="request in vm.materialRequests[0] | orderBy:[vm.sortFilter.person,vm.sortFilter.projectId,vm.sortFilter.projectName,vm.sortFilter.deliveryDate,vm.sortFilter.timeStamp]" ng-model="vm.sort" ng-show="vm.sort === request.projectId || vm.counteroo !== 3">
          <td class="longtextRequest"><input data-ng-disabled="true" class="form-control" type="checkbox" ng-model="request.action"></td>
          <td class="longtextRequest"><input data-ng-disabled="true" class="form-control" type="checkbox" ng-model="request.qsAuth"></td>
          <td class="longtextRequest"><a class="requestLink" ng-href="/#/materialrequests/updateMaterialRequest/{{request.$id}}"><span class="glyphicon glyphicon-edit requestEdit"></span></a></td>
          <td class="longtextRequest">{{request.timestamps.created | date : "EEE dd-MMM"}}</td>
          <td class="longtextRequest">{{request.person}}</td>
          <td class="longtextRequest">{{request.projectId}}</td>
          <td class="longtextRequest">{{request.projectName}}</td>
          <td class="longtextRequest"><button class="btn btn-default btn-sm" ng-click="vm.viewRequest(request.materialRequired)">Click to view</button></td>
          <td class="longtextRequest">{{request.dateRequired | date : "EEE dd-MMM"}}</td>
          <td class="longtextRequest">{{request.reason}}</td>
          <td class="longtextRequest">{{request.mainContractor}}</td>
          <td class="longtextRequest">{{request.siteContact}}</td>
          <td class="longtextRequest">{{request.siteContactNo}}</td>
          <td class="longtextRequest" ng-if="request.note"><button class="btn btn-default btn-sm" ng-click="vm.viewRequest(request.note)">Click to view</button></td>
          <td class="longtextRequest" ng-if="!request.note">{{request.note}}</td>
          <td class="longtextRequest">{{request.deliveryDate | date : "EEE dd-MMM"}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
