<inn-navbar>
  <li><a target="_blank" href="/#/materialrequests/updateMaterialRequest">+ New Request</a></li>
</inn-navbar>
<div class="fluid-container  box widerMaterialRequest">
    <h1>
        Innovare Systems Material Request Form
    </h1>
    
    <br>

    <form class="form-horizontal" name="materialForm" data-ng-submit="vm.updateMaterialRequest(materialForm.$valid)">
        <div class="form-group">
            <label for="person">Person Requesting :<span> *</span></label>
            <input type="text" class="form-control input-lg" id="email" placeholder="Your answer" data-ng-disabled="true" data-ng-model="vm.materialRequest.person" name="person" required>
        </div>
        <div class="form-group">
            <label for="email">Email address :<span> *</span></label>
            <input type="email" class="form-control input-lg" id="email" placeholder="Your email" data-ng-disabled="true" data-ng-model="vm.materialRequest.email" name="email" required>
        </div>
        <div class="form-group typeahead-demo">
            <label for="projectId">Project No:<span> *</span></label>
            <input type="text" id="projectId" ng-disabled="true" name="projectId" placeholder="Your selected answer" maxlength="10" required data-ng-pattern="/^\d{3}$/" ng-model="vm.materialRequest.projectId" class="form-control">
            <div data-ng-class="{'has-error': materialForm.number.$touched && materialForm.number.$invalid}">
                <input type="text" id="number" name="number" autocomplete="off" placeholder="Please search for project no..." ng-model="vm.updateId" data-ng-disabled="vm.materialRequest.action" ng-model-options="{debounce: {default: 500,blur: 250},getterSetter: true}" data-ng-pattern="/^\d{3}$/" uib-typeahead="state as state.id for state in vm.projects | filter:{id:$viewValue} | limitTo:10" class="form-control">
                <div data-ng-if="materialForm.number.$touched" data-ng-messages="materialForm.number.$error">
                    <p data-ng-message="pattern">Must be 3 digits</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="projectName">Project Name :<span> *</span></label>
            <input type="text" class="form-control input-lg" id="projectName" data-ng-disabled="true" placeholder="Your answer" data-ng-model="vm.materialRequest.projectName" name="projectName" required>
        </div>
      <div class="form-group">
        <label for="reasonForRequest">Reasoning :<span> *</span></label></br>
        <select data-ng-model="vm.materialRequest.reason" style="line-height: 100%;" id="reasonForRequest" data-ng-disabled="true" class="form-control input-lg">
          <option  placeholder="Reason" ng-repeat="reason in vm.reasons" >{{vm.materialRequest.reason}}</option>
        </select>
      </div>
        <div class="form-group">
            <label for="materialRequired">Material required :<span> *</span></label>
            <textarea rows="4" type="text" class="form-control input-lg" id="materialRequired" data-ng-disabled="true" placeholder="Your answer" data-ng-model="vm.materialRequest.materialRequired" name="materialRequired" required></textarea>
        </div>
        <div class="form-group">
            <label for="dateRequired">Date Required :<span> *</span></label>
            <inn-request-date-input id="dateRequired" name="dateRequired" type="text" data-ng-disabled="vm.materialRequest.action" data-ng-model="vm.materialRequest.dateRequired" required/>
        </div>
        <div class="form-group">
            <label for="mainContractor">Main Contractor :</label>
            <input type="text" class="form-control input-lg" id="mainContractor" data-ng-disabled="vm.materialRequest.action" placeholder="Your answer" data-ng-model="vm.materialRequest.mainContractor" name="mainContractor">
        </div>
        <div class="form-group">
            <label for="siteContact">Innovare Site Name Contact :</label>
            <input type="text" class="form-control input-lg" id="siteContact" data-ng-disabled="vm.materialRequest.action" placeholder="Your answer" data-ng-model="vm.materialRequest.siteContact" name="siteContact">
        </div>
        <div class="form-group">
            <label for="siteContactNo">Innovare Site Contact No. :</label>
            <input type="number" class="form-control input-lg" id="siteContactNo" data-ng-disabled="vm.materialRequest.action" placeholder="Your answer" data-ng-model="vm.materialRequest.siteContactNo" name="siteContactNo">
        </div>
        <div class="form-group">
            <label for="qaName">QS Name :</label>
            <input type="text" class="form-control input-lg" id="siteContact" data-ng-disabled="vm.materialRequest.action" placeholder="Your answer" data-ng-model="vm.materialRequest.qsName" name="qsName">
        </div>
        <div class="form-group">
            <label>QS Autherised :</label>
            <input class="form-control pull-left" id="qsAuth" name="qsAuth" data-ng-disabled="vm.materialRequest.action" type="checkbox" ng-model="vm.materialRequest.qsAuth">
        </div>
        <div class="form-group">
            <label for="materialRequired">Comments :</label>
            <textarea rows="4" type="text" class="form-control input-lg" id="note" data-ng-disabled="vm.materialRequest.action" placeholder="Your answer" data-ng-model="vm.materialRequest.note" name="note"></textarea>
        </div>
        <div ng-if="vm.materialRequest.action" class="form-group">
            <label for="deliveryDate">Delivery Date :<span> *</span></label>
            <inn-request-date-input id="deliveryDate" name="deliveryDate" deliv="true" type="text" data-ng-model="vm.materialRequest.deliveryDate" required/>
        </div>
        <div ng-if="!vm.materialRequest.action" class="form-group">
            <label for="deliveryDate">Delivery Date :</label>
            <inn-request-date-input id="deliveryDate" name="deliveryDate" deliv="true" type="text" data-ng-model="vm.materialRequest.deliveryDate"/>
        </div>
        <div class="form-group">
            <label>Actioned :</label>
            <input class="form-control pull-left" id="action" name="action" data-ng-disabled="vm.materialRequest.action" type="checkbox" ng-model="vm.materialRequest.action">
        </div>
        <div class="form-group">
            <p>PLEASE NOTE: Material request should be actioned within 24hrs.</p>
        </div>
        <div class="form-group">
            <button type="submit" data-ng-disabled="vm.disableSubmit" class="btn btn-primary btn-lg pull-left">Submit</button>
            <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="vm.goBack()">Back</button>
        </div>
    </form>

</div>
