<inn-navbar>
  <li><a href="#/manage/plan">Manage projects</a></li>
  <li><a href="#/materialrequests">Material Requests</a></li>  
  <li><a href="#/productionperformance">Production Performance</a></li>
  <li><a href="#/materialanalysis/loadtimbers">Material Analysis</a></li>
  <li><a href="#/designIssued">Measures</a></li>
  <li><a href="/newux.html#/dashboard/logistics">Dashboard</a></li>
  <li><a href="#/admin">Admin</a></li>
</inn-navbar>


<div class="container box">

  <div class="row">
    
    <h1>
      Current projects
      
    </h1>
  </div>

  <div class="row panel-body">
    <div class="row">
      <div class="col-xs-12">
        <img src="img/building-icon.svg" alt="building" class="building">
        <div class="bubble-empty">
          <p>You can create new projects or projects areas by navigating to the "Create a new project" page</p>
        </div>
        <br>
        <br>
        
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover left">
      <thead>
        <tr>
          <th>Project number and name</th>
          <th>Site Start</th>
          <th>Created on</th>
          <th>Created by</th>
          <th>Last modified</th>
          <th>Modified by</th>
        </tr>
        <tr>          
          <th  style="background-color:white;"><div style="float:left;"><a href="/newux.html#/projects/create">Create a new project</a></div></th>
          <th  style="background-color:white;"></th>
          <th  style="background-color:white;"></th>
          <th  style="background-color:white;"></th>
          <th  style="background-color:white;"></th>
          <th  style="background-color:white;"></th>
        </tr>        
      </thead>
      <tbody>
          <tr data-ng-repeat="project in vm.projects | orderBy:'-id'" data-ng-click="vm.selectProject(project.id)" data-ng-if="project.active === undefined || project.active">
          <td><a href="/newux.html#/projects/{{project.id}}">{{project.id}} {{project.name}}</a></td>
          <td>{{project.siteStart | date : "EEE dd-MMM"}}</td>
          <td>{{project.timestamps["created"] | date : "EEE dd-MMM"}}</td>
          <td>{{project.timestamps["createdBy"] | user}}</td>
          <td>{{project.timestamps["modified"] | date : "EEE dd-MMM"}}</td>
          <td>{{project.timestamps["modifiedBy"] | user}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


