<md-dialog id="dialogFixForIE11" class="mdDialogFixIE" area-label="Add Area dialog">
  <form ng-cloak name="vm.areaForm" data-ng-submit="vm.saveArea(vm.areaForm.$valid)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add a new area</h2>
        <span flex></span>
        <!--
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        -->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Description</label>
            <input data-ng-model="vm.areaTemplate.description" required>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Phase</label>
            <inn-srd-select id="phase" name="phase" data-ng-model="vm.areaTemplate.phase" data-variant="phase" required theme="newux" data-ng-disabled="vm.areaTemplate.$id !== undefined"/>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Floor</label>
            <inn-srd-select id="floor" name="floor" data-ng-model="vm.areaTemplate.floor" data-variant="floor" required theme="newux" data-ng-disabled="vm.areaTemplate.$id !== undefined"/>
          </md-input-container>
          <md-input-container class="md-block" flex data-ng-if="vm.areaTemplate.$id == undefined">
            <label>Component</label>
            <inn-srd-select id="component" name="component" data-ng-model="vm.areaTemplate.component" data-variant="component" required theme="newux" />
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Supplier</label>
            <inn-srd-select id="supplier" name="supplier" data-ng-model="vm.areaTemplate.supplier" data-variant="supplier" required theme="newux" />
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex="40">
            <label>Delivery Date</label>
            <md-datepicker
                md-min-date="vm.todayDate"
                md-date-filter="vm.dateFilter"
                ng-model="vm.areaTemplate.deliveryDate"
                required></md-datepicker>
          </md-input-container>
          <md-input-container class="md-block" flex="30">
            <label>Offload Method</label>
            <inn-srd-select id="offloadMethod" name="offloadMethod" data-ng-model="vm.areaTemplate.offloadMethod" data-variant="offloadMethod"  theme="newux"/>
          </md-input-container>
          <md-input-container class="md-block" flex="30">
            <label>% of build</label>
            <input type="number" data-ng-model="vm.areaTemplate.percentageOfBuild">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Notes</label>
            <input data-ng-model="vm.areaTemplate.notes">
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button data-ng-click="vm.closeDialog()">
        <!--<md-icon md-svg-src="/icons/close.svg"></md-icon>-->
        Cancel
      </md-button>
      <span flex></span>
      <md-button type="submit" class="md-raised md-primary" data-ng-disabled="vm.areaForm.$pristine || vm.areaForm.$invalid">
        <md-icon md-svg-src="/icons/save.svg"></md-icon>
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
