<md-dialog id="dialogFixForIE11" area-label="Edit Component Note dialog">
  <form ng-cloak name="vm.componentForm" data-ng-submit="vm.saveComponentNotes(vm.componentForm.$valid)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit component notes</h2>
        <span flex></span>
        <!--
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        -->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Notes</label>
            <input data-ng-model="vm.componentTemplate.notes">
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button data-ng-click="vm.closeDialog()">
        <!--<md-icon md-svg-src="/icons/close.svg"></md-icon>-->
        Cancel
      </md-button>
      <span flex></span>
      <md-button type="submit" class="md-raised md-primary" data-ng-disabled="vm.componentForm.$pristine || vm.componentForm.$invalid">
        <md-icon md-svg-src="/icons/save.svg"></md-icon>
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
