<inn-navbar>
  <li><a data-ng-click="vm.newProject()">+ New project</a></li>
  <li data-ng-if="vm.project.$id"><a data-ng-click="vm.newArea()">+ New project area</a></li>
</inn-navbar>

<inn-print-schedule data-ng-model="vm.printModel"/>

<div data-ng-if="vm.project" class="container screenOnly">
  <div class="row">
    <uib-accordion close-others="false">

      <uib-accordion-group data-is-open="vm.expand.project">
        <uib-accordion-heading>
          <span class="glyphicon"
              data-ng-class="vm.expand.project ? 'glyphicon-menu-down' : 'glyphicon-menu-right'"></span>
          Project detail
        </uib-accordion-heading>

        <form class="form-horizontal" name="projectForm" data-ng-if="vm.project" data-ng-submit="vm.save(projectForm.$valid)" novalidate>
          <fieldset>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <br>
                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Project name <span>*</span></label>
                    <div class="col-sm-7" data-ng-class="{'has-error': projectForm.name.$touched && projectForm.name.$invalid}">
                      <input class="form-control" id="name" name="name" type="text" maxlength="50"
                          data-ng-model="vm.project.name" required/>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Project No <span>*</span></label>
                    <div class="col-sm-7" data-ng-class="{'has-error': projectForm.number.$touched && projectForm.number.$invalid}">
                      <input class="form-control" id="projectId" name="number" type="text" maxlength="10"
                          data-ng-disabled="vm.project.$id"
                          data-ng-model="vm.project.id" required data-ng-pattern="/^\d{3}$/"/>
                      <div data-ng-if="projectForm.number.$touched" data-ng-messages="projectForm.number.$error">
                        <p data-ng-message="pattern">Must be 3 digits</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Client <span>*</span></label>
                    <div class="col-sm-7" data-ng-class="{'has-error': projectForm.client.$touched && projectForm.client.$invalid}">
                      <input class="form-control" id="client" name="client" type="text" maxlength="50"
                          data-ng-model="vm.project.client" required/>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Delivery vehicle</label>
                    <div class="col-sm-7">
                      <inn-srd-select id="siteAccess" name="siteAccess" data-ng-model="vm.project.siteAccess"
                        data-variant="vehicleType"/>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Datum type <span>*</span></label>
                    <div class="col-sm-7">
                      <inn-srd-select id="datumType" name="datumType" data-ng-model="vm.project.datumType"
                          data-variant="datum" required/>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">CoC</label>
                    <div class="col-sm-7">
                      <inn-srd-select id="chainOfCustody" name="chainOfCustody" data-ng-model="vm.project.chainOfCustody"
                          data-variant="chainOfCustody"/>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Estimated area TF (Int) <span>*</span></label>
                    <div class="col-sm-7">
                      <input class="form-control" id="estimatedAreaInt" name="estimatedAreaInt"  type="number" min="0"
                          data-ng-model="vm.project.estimatedAreas.Int" required/>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Estimated area SIP (Ext) <span>*</span></label>
                    <div class="col-sm-7">
                      <input class="form-control" id="estimatedAreaExt" name="estimatedAreaExt"  type="number" min="0"
                          data-ng-model="vm.project.estimatedAreas.Ext" required/>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-xs-12 col-sm-6">
                <br>
                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Special requirements</label>
                    <div class="col-sm-7">
                      <textarea class="form-control" id="specialRequirements" name="specialRequirements"
                          maxlength="250" rows="6"
                          data-ng-model="vm.project.specialRequirements"></textarea>
                    </div>
                  </div>
                </div>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <div class="form-group col-xs-12">
                  <div class="row">
                    <div class="col-sm-7">
                  </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                
                <div class="form-group col-xs-12">
                  <div class="row">
                    <div class="col-sm-7">
                  </div>
                </div>
                    
                <br> 
                <br>
                <br>
                <br>
                
                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Estimated area CASS (Roof) <span>*</span></label>
                    <div class="col-sm-7">
                      <input class="form-control" id="estimatedAreaRoof" name="estimatedAreaRoof"  type="number" min="0"
                          data-ng-model="vm.project.estimatedAreas.Roof" required/>
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="row">
                    <label class="control-label col-xs-12 col-sm-5">Estimated area CASS (Floor) <span>*</span></label>
                    <div class="col-sm-7">
                      <input class="form-control" id="estimatedAreaFloor" name="estimatedAreaFloor"  type="number" min="0"
                          data-ng-model="vm.project.estimatedAreas.Floor" required/>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </fieldset>

            <fieldset>
                <h3>Delivery Manager</h3>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-5">Name <span>*</span></label>
                                <div class="col-sm-7">
                                    <delivery-manager-select id="dmName" name="dmName" data-ng-model="vm.project.deliveryManager.id" dm-name-change="vm.updateDeliveryManager"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>
            
            <fieldset>
                <h3>Site Details</h3>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-5">Site address<span>*</span></label>
                                <div class="col-sm-7">
                                    <textarea class=form-control id="siteAddress" name="siteAddress"
                                              maxlength="250" rows="5"
                                              data-ng-model="vm.project.siteAddress"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-5">Post code <span>*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="postCode" name="postCode" type="text" maxlength="20"
                                           data-ng-model="vm.project.postCode"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-xs-12">
                            <div class="row">
                                <label class="control-label col-xs-12 col-sm-5">Site Start Date <span>*</span></label>
                                <div class="col-sm-7" data-ng-class="{'has-error': vm.areaForm.siteStart.$touched && vm.areaForm.siteStart.$invalid}">
                                    <inn-date-input id="siteStart" name="siteStart" type="text" data-ng-model="vm.project.siteStart"
                                                    required/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </fieldset>

          <div class="row buttonsrow">
            <div class="col-xs-12">
              <button class="btn btn-primary" type="submit" data-ng-disabled="projectForm.$pristine || projectForm.$invalid || !vm.userLoaded">Save</button>
              <button class="btn btn-primary" type="button" data-ng-if="vm.project.$id" data-ng-click="vm.resetProjectDetailsForm(projectForm)" data-ng-disabled="!projectForm.$dirty">Discard Changes</button>
            </div>
          </div>
        </form>
      </uib-accordion-group>

      <uib-accordion-group data-ng-if="vm.area" is-open="vm.expand.area">
        <uib-accordion-heading>
          <span class="glyphicon"
              data-ng-class="vm.expand.area ? 'glyphicon-menu-down' : 'glyphicon-menu-right'"></span>
          Project areas details
        </uib-accordion-heading>

        <form class="form-horizontal" name="vm.areaForm" data-ng-if="vm.area" data-ng-submit="vm.saveArea(vm.areaForm.$valid)"
            novalidate>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <br>
              <div class="form-group col-xs-12">
                <div class="row">
                  <label class="col-xs-12 col-sm-5 control-label">
                    Phase <span>*</span> - Floor <span>*</span> - Type <span>*</span>
                  </label>
                  <div class="col-sm-7 fieldset">
                    <div class="row">
                      <div class="col-sm-3" data-ng-class="{'has-error': vm.areaForm.phase.$touched && vm.areaForm.phase.$invalid}">
                        <inn-srd-select id="phase" name="phase" data-ng-model="vm.area.phase" data-variant="phase"
                            required
                            data-ng-disabled="vm.area.$id !== undefined"/>
                      </div>
                      <div class="col-sm-3" data-ng-class="{'has-error': vm.areaForm.floor.$touched && vm.areaForm.floor.$invalid}">
                        <inn-srd-select id="floor" name="floor" data-ng-model="vm.area.floor" data-variant="floor"
                            required
                            data-ng-disabled="vm.area.$id !== undefined"/>
                      </div>
                      <div class="col-sm-6" data-ng-class="{'has-error': vm.areaForm.type.$touched && vm.areaForm.type.$invalid}">
                        <inn-srd-select id="type" name="type" data-ng-model="vm.area.type" data-variant="productType"
                            required
                            data-ng-disabled="vm.area.$id !== undefined"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="row">
                  <label class="control-label col-xs-12 col-sm-5">Description <span>*</span></label>
                  <div class="col-sm-7" data-ng-class="{'has-error': vm.areaForm.description.$touched && vm.areaForm.description.$invalid}">
                    <input class="form-control" id="description" name="description" type="text" maxlength="50"
                        data-ng-model="vm.area.description" required/>
                  </div>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="row">
                  <label class="control-label col-xs-12 col-sm-5">Est. m² / Est. panels</label>
                  <div class="col-sm-7 fieldset">
                    <div class="row">
                      <div class="col-sm-6">
                        <input class="form-control" id="estimatedArea" estimatedArea="estimatedArea" type="number" maxlength="5"
                            data-ng-model="vm.area.estimatedArea"/>
                      </div>
                      <div class="col-sm-6">
                        <input class="form-control" id="estimatedPanels" estimatedPanels="estimatedPanels" type="number" maxlength="5"
                            data-ng-model="vm.area.estimatedPanels"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="row">
                  <label class="control-label col-xs-12 col-sm-5">Supplier <span>*</span></label>
                  <div class="col-sm-7" data-ng-class="{'has-error': vm.areaForm.supplier.$touched && vm.areaForm.supplier.$invalid}">
                    <inn-srd-select id="supplier" name="supplier" data-ng-model="vm.area.supplier" data-variant="supplier" required />
                  </div>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="row">
                  <label class="control-label col-xs-12 col-sm-5">Offload Method</label>
                  <div class="col-sm-7" data-ng-class="{'has-error': vm.areaForm.offloadMethod.$touched && vm.areaForm.offloadMethod.$invalid}">
                    <inn-srd-select id="offloadMethod" name="offloadMethod" data-ng-model="vm.area.offloadMethod" data-variant="offloadMethod" />
                  </div>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="row">
                  <label class="control-label col-xs-12 col-sm-5">
                    Delivery Date <span>*</span></label>
                  <div class="col-sm-7" data-ng-class="{'has-error': vm.areaForm.deliveryDate.$touched && vm.areaForm.deliveryDate.$invalid}">
                    <inn-date-input id="deliveryDate" name="deliveryDate" type="text" data-ng-model="vm.deliveryDate"
                      required/>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
             <br>
              <div class="form-group col-xs-12">
                <div class="row">
                  <label for="comments" class="control-label col-xs-12 col-sm-5">Additional comments</label>
                  <div class="col-sm-7">
                      <textarea class="form-control" rows="12" id="comments" comments="comments" type="text" maxlength="500"
                          data-ng-model="vm.area.comments"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row buttonsrow">
            <div class="col-xs-10">
              <button class="btn btn-primary" type="submit" data-ng-disabled="vm.areaForm.$pristine || vm.areaForm.$invalid">Save</button>
              <button class="btn btn-primary" type="button" data-ng-click="vm.resetAreaForm()" data-ng-disabled="!vm.areaForm.$dirty">Discard Changes</button>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-secondary" type="button" data-ng-disabled="!vm.area.$id" data-ng-click="vm.deleteSelectedArea()">Delete</button>
            </div>
          </div>
        </form>
      </uib-accordion-group>

      <uib-accordion-group data-ng-if="vm.project.$id" is-open="vm.expand.schedule" panel-class="panel-default arealist">
        <uib-accordion-heading>
          <span class="glyphicon"
              data-ng-class="vm.expand.schedule ? 'glyphicon-menu-down' : 'glyphicon-menu-right'"></span>
          Project areas list
        </uib-accordion-heading>

        <div class="row">
          <form class="form-inline form-horizontal">
            <div class="col-xs-12 checkrow">
              <div data-ng-repeat="supplier in vm.uniqueSuppliers" class="checkbox">
                <label class="control-label">
                  <input type="checkbox" data-ng-click="vm.updateFilter()" data-ng-model="vm.selectedSuppliers[supplier.name].selected"/> {{supplier.name}} ({{supplier.count}})
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div id="areasGrid" class="areasGrid" data-ui-grid="vm.areasGridOptions" data-ui-grid-pinning data-ui-grid-selection></div>
        </div>

        <div class="row buttonsrow">
          <div class="col-xs-12">
            <button class="btn btn-primary" type="button" data-ng-click="vm.publishRevision()">Publish a new revision</button>
            <button class="btn btn-primary" type="button" onClick="window.print()">Print</button>
          </div>
        </div>

      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
