<inn-navbar theme="newux" class="screenOnly">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>

<!--<inn-print-schedule data-ng-model="vm.printModel"/>-->

<div class="secondary-toolbar screenOnly" layout="row">
  <div class="project" flex>
    <span class="projectname">{{vm.project.id}} - {{vm.project.name}}</span>
  </div>
  <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
    <md-nav-item md-nav-click="vm.goto('project','details')" name="details"><md-icon md-svg-src="/icons/details.svg"></md-icon>Details</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','scope')" name="scope"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Scope</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','schedule')" name="delivery-schedule"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Delivery Schedule</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','revisions')" name="revisions"><md-icon md-svg-src="/icons/revisions.svg"></md-icon>Revisions</md-nav-item>
    <!--
         <md-nav-item md-nav-href="#/projects/{{vm.project.id}}/timeline" name="timeline">
         <md-icon md-svg-src="/icons/timeline.svg"></md-icon>
         Timeline
         </md-nav-item>
       -->
    <!-- these require actual routing with ui-router or data-ng-route, so they won't work in the demo
         <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
         <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
       -->
  </md-nav-bar>
</div>
<main data-ng-if="vm.viewedBy == 'standard'" class="main screenOnly" layout="column" flex>

  <div class="border-bottom" layout="row">
    <div layout="row"  layout-padding flex>
      <ul class="meta-list">
        <li class="meta-list-item">
          <span class="meta-list-name">Vehicle</span>
          <span class="meta-list-value">{{vm.project.siteAccess | srdName:"vehicleTypes"}}</span>
        </li>
        <!--
             <li class="meta-list-item">
             <span class="meta-list-name">Standard Time</span>
             <span class="meta-list-value">08:00</span>
             </li>
           -->
        <li class="meta-list-item">
          <span class="meta-list-name">Revision</span>
          <span class="meta-list-value">{{vm.totalRevisions | revisionCount}}</span>
        </li>
        <li class="meta-list-item">
          <span class="meta-list-name">Last Revision</span>
          <span class="meta-list-value" ng-if="vm.latestRevision">{{vm.latestRevision.createdDate | date : "EEE dd-MMM"}}</span>
          <span class="meta-list-value" ng-if="!vm.latestRevision">-</span>
        </li>
      </ul>
    </div>
    <div layout="row" layout-align="end"  layout-padding flex>
      <ul class="meta-list">
        <li class="meta-list-item text-right">
          <span class="meta-list-name">TF (Int)</span>
          <span class="meta-list-value">{{vm.project.estimatedAreas.Int}} m<sup class="align-sup">2</sup></span>
        </li>
        <li class="meta-list-item text-right">
          <span class="meta-list-name">SIP (Ext)</span>
          <span class="meta-list-value">{{vm.project.estimatedAreas.Ext}} m<sup class="align-sup">2</sup></span>
        </li>
        <li class="meta-list-item text-right">
          <span class="meta-list-name">CASS (Roof)</span>
          <span class="meta-list-value">{{vm.project.estimatedAreas.Roof}} m<sup class="align-sup">2</sup></span>
        </li>
        <li class="meta-list-item text-right">
          <span class="meta-list-name">CASS (Floor)</span>
          <span class="meta-list-value">{{vm.project.estimatedAreas.Floor}} m<sup class="align-sup">2</sup></span>
        </li>
      </ul>
    </div>
  </div>

  <md-content flex>
    <md-card class="table" data-ng-repeat="(groupName, group) in vm.groupedAreas.groups | objectKey"  ng-hide="vm.isToggleDelivered && group.delivered">
      <md-card-header>
        <div layout="row" flex>
          <div>
            <md-button class="md-icon-button" aria-label="expand" ng-click="vm.toggleVisibility(groupName)">
              <md-icon md-svg-src="{{vm.hidden[groupName] ? '/icons/arrow-down.svg' : '/icons/arrow-up.svg'}}"></md-icon>
            </md-button>
          </div>
          <div flex>
            <ul class="meta-list">
              <li class="meta-list-item">
                <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-name">Phase</span>
                <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-name">Week Commencing</span>
                <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-value">{{groupName}}</span>
                <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-value">{{groupName | ordinalDate:"d MMMM yyyy"}}</span>
              </li>
            </ul>
          </div>
          <div  data-ng-if="vm.groupedBy == 'phase'" flex>
            <ul class="meta-list">
              <li class="meta-list-item">
                <span class="meta-list-name">% of build</span>
                <span class="meta-list-value">{{vm.groupedAreas.percentage | number: 0}}%</span>
              </li>
              <li data-ng-repeat="(componentName, component) in group.components | objectLimitTo: 1" class="meta-list-item">
                <span class="meta-list-name">Description</span>
                <span class="meta-list-value">{{component.areas[0].description}}</span>
              </li>
            </ul>
          </div>
          <div flex="" class="flex">
            <ul class="meta-list">
                <li class="meta-list-item">
                    <span class="meta-list-name"></span>
                    <span class="meta-list-value"></span>       
                </li>
            </ul>
          </div>
        </div>
      </md-card-header>
      <!--
      <md-card-header class="group" layout="row"  layout-padding flex>
        <md-button class="md-icon-button" aria-label="expand" ng-click="vm.toggleVisibility(groupName)">
          <md-icon md-svg-src="{{vm.hidden[groupName] ? '/icons/arrow-down.svg' : '/icons/arrow-up.svg'}}"></md-icon>
        </md-button>
        <ul class="meta-list">
          <li class="meta-list-item">
            <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-name">Phase</span>
            <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-name">Week Commencing</span>
            <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-value">{{groupName}}</span>
            <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-value">{{groupName | ordinalDate:"d MMMM yyyy"}}</span>
          </li>
          <li class="meta-list-item">
            <span class="meta-list-name">% of Build</span>
            <span class="meta-list-value">{{vm.groupedAreas.percentage | number: 0}}%</span>
          </li>
        </ul>
      </md-card-header>
      -->
      <md-card-content ng-hide="vm.hidden[groupName]">
        <table class="data-table">
          <thead>
            <tr>
              <th></th>
              <th data-ng-if="vm.groupedBy == 'week'">Phase</th>
              <th>Floor</th>
              <th>Component</th>
              <th>Supplier</th>
              <th>% of Phase</th>
              <th data-ng-if="vm.groupedBy == 'week'">Description</th>
              <th></th>
              <th></th>
              <th>Offload</th>
              <th>Latest Revision</th>
              <th><p data-ng-click="vm.sortBy()" ng-if="!vm.areaSort"><md-icon style="cursor: pointer; color: purple;" md-svg-src="/icons/info.svg"></md-icon> Delivery Date</p><p data-ng-click="vm.sortBy()" ng-if="vm.areaSort"><md-icon style="cursor: pointer; color: green;" md-svg-src="/icons/info.svg"></md-icon> Delivery Date</p></th>
              <th>Notes</th>
              <th>Delivered</th>
              <th>Hide/Show</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody data-ng-repeat="(componentName, component) in group.components">
            <tr ng-class="component.areas[0].supplier+' Strip'" ng-hide="(vm.isToggleDelivered && component.delivered) || (vm.isToggleShowHide && component.active)">
              <td>
                <md-button class="md-icon-button" aria-label="expand" ng-click="vm.toggleVisibility(groupName + '_' + componentName)">
                  <md-icon md-svg-src="{{vm.hidden[groupName + '_' + componentName] ? '/icons/arrow-down.svg' : '/icons/arrow-up.svg'}}"></md-icon>
                </md-button>
              </td>
              <td data-ng-if="vm.groupedBy == 'week'">{{component.areas[0].phase}}</td>
              <td>{{component.areas[0].floor}}</td>
              <td>{{componentName | numbersFromString}}</td>
              <td>{{component.areas[0].supplier}}</td>
              <td>{{group.percentage | number: 0}}%</td>
              <td></td>
              <td></td>
              <td data-ng-if="vm.groupedBy == 'week'"></td>
              <td>{{component.areas[0].offloadMethod | srdName:"offloadMethods"}}</td>
              <td data-ng-if="component.same"><md-card style="background-color:rgba(0, 255, 0, 0.5);">{{component.latestRevision | date: "dd/M/yyyy"}}</md-card></td>
              <td data-ng-if="!component.same"><md-card style="background-color:rgba(255, 0, 0, 0.5);">{{component.latestRevision | date: "dd/M/yyyy"}}</md-card></td>
              <td>
              <md-datepicker
                  md-min-date="vm.todayDate"
                  md-date-filter="vm.dateFilter"
                  ng-model="component.deliveryDate"
                  ng-change="vm.changeDeliveryDateForComponent(component, componentName)"
                  md-open-on-focus="true"></md-datepicker>
              </td>
              <td data-ng-if="component.comments !== 0">
                <md-button class="md-icon-button" aria-label="view note" data-ng-click="vm.editComponentNote(component, component.comments)">
                  <md-tooltip>{{component.comments}}</md-tooltip>
                  <md-icon md-svg-src="/icons/add-note.svg"></md-icon>
                </md-button>
              </td>
              <td data-ng-if="component.comments === 0">   
              <td>
                <md-checkbox ng-disabled="true" class="isDelivered" ng-model="component.delivered" aria-label="isDelivered"></md-checkbox>
              </td>
              <td>
                <md-checkbox class="isShowHide" ng-model="component.active" data-ng-click="vm.changeShowHideForComponent(component)" aria-label="isShowHide"></md-checkbox>
              </td>
              <td>
              </td>
              <td>
                <!--
                <md-button class="md-icon-button" aria-label="edit">
                  <md-icon md-svg-src="/icons/edit.svg"></md-icon>
                </md-button>
                -->
              </td>
              <td>
                <!--
                <md-button class="md-icon-button" aria-label="delete" data-ng-click="vm.deleteComponentAreas(component.areas)">
                  <md-icon md-svg-src="/icons/delete.svg"></md-icon>
                </md-button>
                -->
              </td>
            </tr>
<tr data-ng-repeat="area in component.areas" ng-hide="vm.hidden[groupName + '_' + componentName] || (vm.isToggleDelivered && component.areasDelivered[area.$id]) || (vm.isToggleShowHide && component.areasActive[area.$id])">
              <td></td>
              <td></td>
              <td data-ng-if="vm.groupedBy == 'week'"></td>
              <td>{{area.phase}}-{{area.floor}}-{{area.type}}</td>
              <td></td>
              <td></td>
              <td data-ng-if="vm.groupedBy == 'week'">{{area.description}}</td>
              <td></td>
              <td></td>
              <td>{{area.offloadMethod | srdName:"offloadMethods"}}</td>
              <td data-ng-if="component.isSame[area.$id]"><md-card style="background-color:rgba(0, 255, 0, 0.5);">{{component.areasLatestRevision[area.$id] | date: "dd/M/yyyy"}}</md-card></td>
              <td data-ng-if="!component.isSame[area.$id]"><md-card style="background-color:rgba(255, 0, 0, 0.5);">{{component.areasLatestRevision[area.$id] | date: "dd/M/yyyy"}}</md-card></td>
              <td>
              <md-datepicker
                  md-min-date="vm.todayDate"
                  md-date-filter="vm.dateFilter"
                  ng-model="component.areasDeliveryDate[area.$id]">
              </md-datepicker>
              </td>
              <td data-ng-if="area.comments">
                <md-button class="md-icon-button" aria-label="view note">
                  <md-tooltip>{{area.comments}}</md-tooltip>
                  <md-icon md-svg-src="/icons/add-note.svg"></md-icon>
                </md-button>
              </td>
              <td data-ng-if="!area.comments"></td>
              <td>
                <md-checkbox ng-disabled="true" class="isDelivered" ng-model="component.areasDelivered[area.$id]" aria-label="isDelivered"></md-checkbox>
              </td>
              <td>
                <md-checkbox class="isShowHide" ng-model="component.areasActive[area.$id]" data-ng-click="vm.changeShowHideForArea(area)" aria-label="isShowHide"></md-checkbox>
              </td>
              <td>
                <md-button class="md-icon-button" aria-label="edit" data-ng-click="vm.editArea(area)">
                  <md-icon md-svg-src="/icons/edit.svg"></md-icon>
                </md-button>
              </td>
              <td>
                <md-button class="md-icon-button" aria-label="delete" data-ng-click="vm.deleteSelectedArea(area.$id)">
                  <md-icon md-svg-src="/icons/delete.svg"></md-icon>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>

      </md-card-content>
    </md-card>
  </md-content>

</main>
<main data-ng-if="vm.viewedBy == 'simple'" class="main screenOnly" layout="column" flex>
    <div class="border-bottom" layout="row">
        <div layout="row"  layout-padding flex>
            <ul class="meta-list">
                <li class="meta-list-item">
                    <span class="meta-list-name">Vehicle</span>
                    <span class="meta-list-value">{{vm.project.siteAccess | srdName:"vehicleTypes"}}</span>
                </li>
                <!--
                     <li class="meta-list-item">
                     <span class="meta-list-name">Standard Time</span>
                     <span class="meta-list-value">08:00</span>
                     </li>
                -->
                <li class="meta-list-item">
                    <span class="meta-list-name">Revision</span>
                    <span class="meta-list-value">{{vm.totalRevisions | revisionCount}}</span>
                </li>
                <li class="meta-list-item">
                    <span class="meta-list-name">Last Revision</span>
                    <span class="meta-list-value" ng-if="vm.latestRevision">{{vm.latestRevision.createdDate | date : "EEE dd-MMM"}}</span>
                    <span class="meta-list-value" ng-if="!vm.latestRevision">-</span>
                </li>
            </ul>
        </div>
        <div layout="row" layout-align="end"  layout-padding flex>
            <ul class="meta-list">
                <li class="meta-list-item text-right">
                    <span class="meta-list-name">TF (Int)</span>
                    <span class="meta-list-value">{{vm.project.estimatedAreas.Int}} m<sup class="align-sup">2</sup></span>
                </li>
                <li class="meta-list-item text-right">
                    <span class="meta-list-name">SIP (Ext)</span>
                    <span class="meta-list-value">{{vm.project.estimatedAreas.Ext}} m<sup class="align-sup">2</sup></span>
                </li>
                <li class="meta-list-item text-right">
                    <span class="meta-list-name">CASS (Roof)</span>
                    <span class="meta-list-value">{{vm.project.estimatedAreas.Roof}} m<sup class="align-sup">2</sup></span>
                </li>
                <li class="meta-list-item text-right">
                    <span class="meta-list-name">CASS (Floor)</span>
                    <span class="meta-list-value">{{vm.project.estimatedAreas.Floor}} m<sup class="align-sup">2</sup></span>
                </li>
            </ul>
        </div>
    </div>
    <md-content flex>
        <div class="table" layout="row" flex>
            <table class="new-data-table">
                <thead>
                    <tr>
                        <th data-ng-if="vm.groupedBy == 'phase'">Phase</th>
                        <th data-ng-if="vm.groupedBy == 'phase'"></th>
                        <th data-ng-if="vm.groupedBy == 'week'">Week Commencing</th>
                        <th data-ng-if="vm.groupedBy == 'week'"></th>
                        <th data-ng-if="vm.groupedBy == 'week'">Phase</th>
                        <th>Floor</th>
                        <th>Component</th>
                        <th>Supplier</th>
                        <th>% of Phase</th>
                        <th data-ng-if="vm.groupedBy == 'week'">Description</th>
                        <th></th>
                        <th></th>
                        <th>Offload</th>
                        <th>Latest Revision</th>
                        <th><p data-ng-click="vm.sortBy()" ng-if="!vm.areaSort"><md-icon style="cursor: pointer; color: purple;" md-svg-src="/icons/info.svg"></md-icon> Delivery Date</p><p data-ng-click="vm.sortBy()" ng-if="vm.areaSort"><md-icon style="cursor: pointer; color: green;" md-svg-src="/icons/info.svg"></md-icon> Delivery Date</p></th>
                        <th>Notes</th>
                        <th>Delivered</th>
                        <th>Hide/Show</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="(groupName, group) in vm.groupedAreas.groups | objectKey">
                        <td data-ng-if="vm.groupedBy == 'phase' && group.totalGroupSpan > 1" class="phaseTitle" rowspan="{{group.totalGroupSpan}}">{{groupName}}</td>
                        <td data-ng-if="vm.groupedBy == 'week' && group.totalGroupSpan > 1" class="weekTitle" rowspan="{{group.totalGroupSpan}}">{{groupName | ordinalDate:"d MMM yyyy"}}</td>  
                    </tr>
                    <tr ng-repeat-start="(componentName, component) in group.components"  ng-hide="(vm.isToggleDelivered && component.delivered) || (vm.isToggleShowHide && component.active)" data-ng-class="component.areas[0].supplier+' Strip'">
                        <td>
                          <md-button class="md-icon-button" aria-label="expand" ng-click="vm.toggleVisibility(groupName + '_' + componentName)">
                            <md-icon md-svg-src="{{vm.hidden[groupName + '_' + componentName] ? '/icons/arrow-down.svg' : '/icons/arrow-up.svg'}}"></md-icon>
                          </md-button>
                        </td>
                        <td layout-align="center center" data-ng-if="vm.groupedBy == 'week'">{{component.areas[0].phase}}</td>
                        <td>{{component.areas[0].floor}}</td>
                        <td>{{componentName | numbersFromString}}</td>
                        <td>{{component.areas[0].supplier}}</td>
                        <td>{{group.percentage | number: 0}}%</td>
                        <td></td>
                        <td></td>
                        <td data-ng-if="vm.groupedBy == 'week'"></td>
                        <td>{{component.areas[0].offloadMethod | srdName:"offloadMethods"}}</td>
                        <td data-ng-if="component.same"><md-card style="background-color:rgba(0, 255, 0, 0.5);">{{component.latestRevision | date: "dd/M/yyyy"}}</md-card></td>
                        <td data-ng-if="!component.same"><md-card style="background-color:rgba(255, 0, 0, 0.5);">{{component.latestRevision | date: "dd/M/yyyy"}}</md-card></td>
                        <td>
                        <md-datepicker
                            md-min-date="vm.todayDate"
                            md-date-filter="vm.dateFilter"
                            ng-model="component.deliveryDate"
                            ng-change="vm.changeDeliveryDateForComponent(component, componentName)"
                            md-open-on-focus="true"></md-datepicker>
                        </td>
                        <td data-ng-if="component.comments !== 0">
                          <md-button class="md-icon-button" aria-label="view note" data-ng-click="vm.editComponentNote(component, component.comments)">
                            <md-tooltip>{{component.comments}}</md-tooltip>
                            <md-icon md-svg-src="/icons/add-note.svg"></md-icon>
                          </md-button>
                        </td>
                        <td data-ng-if="component.comments === 0">   
                        <td>
                          <md-checkbox ng-disabled="true" class="isDelivered" ng-model="component.delivered" aria-label="isDelivered"></md-checkbox>
                        </td>
                        <td>
                          <md-checkbox class="isShowHide" ng-model="component.active" data-ng-click="vm.changeShowHideForComponent(component)" aria-label="isShowHide"></md-checkbox>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-repeat="area in component.areas" ng-hide="vm.hidden[groupName + '_' + componentName] || (vm.isToggleDelivered && component.areasDelivered[area.$id]) || (vm.isToggleShowHide && component.areasActive[area.$id])">
                        <td>
                          <md-button class="md-icon-button" aria-label="delete" data-ng-click="vm.deleteSelectedArea(area.$id)">
                            <md-icon md-svg-src="/icons/delete.svg"></md-icon>
                          </md-button>
                          <md-button class="md-icon-button" aria-label="edit" data-ng-click="vm.editArea(area)">
                            <md-icon md-svg-src="/icons/edit.svg"></md-icon>
                          </md-button>
                        </td>
                        <td></td>
                        <td data-ng-if="vm.groupedBy == 'week'"></td>
                        <td>{{area.phase}}-{{area.floor}}-{{area.type}}</td>
                        <td></td>
                        <td></td>
                        <td data-ng-if="vm.groupedBy == 'week'">{{area.description}}</td>
                        <td></td>
                        <td></td>
                        <td>{{area.offloadMethod | srdName:"offloadMethods"}}</td>
                        <td data-ng-if="component.isSame[area.$id]"><md-card style="background-color:rgba(0, 255, 0, 0.5);">{{component.areasLatestRevision[area.$id] | date: "dd/M/yyyy"}}</md-card></td>
                        <td data-ng-if="!component.isSame[area.$id]"><md-card style="background-color:rgba(255, 0, 0, 0.5);">{{component.areasLatestRevision[area.$id] | date: "dd/M/yyyy"}}</md-card></td>
                        <td>
                        <md-datepicker
                            md-min-date="vm.todayDate"
                            md-date-filter="vm.dateFilter"
                            ng-model="component.areasDeliveryDate[area.$id]">
                        </md-datepicker>
                        </td>
                        <td data-ng-if="area.comments">
                          <md-button class="md-icon-button" aria-label="view note">
                            <md-tooltip>{{area.comments}}</md-tooltip>
                            <md-icon md-svg-src="/icons/add-note.svg"></md-icon>
                          </md-button>
                        </td>
                        <td data-ng-if="!area.comments"></td>
                        <td>
                          <md-checkbox ng-disabled="true" class="isDelivered" ng-model="component.areasDelivered[area.$id]" aria-label="isDelivered"></md-checkbox>
                        </td>
                        <td>
                          <md-checkbox class="isShowHide"  data-ng-click="vm.changeShowHideForArea(area)" ng-model="component.areasActive[area.$id]" aria-label="isShowHide"></md-checkbox>
                        </td>
                      </tr>
                      <tr ng-repeat-end ng-hide="true"></tr>  
                </tbody>
            </table>
        </div>
    </md-content>
</main>
<main class="main printOnly" layout="column" flex>
    <md-content flex>
        <div class="printHeader">
            <div layout="row">
                <div flex layout-align="start center">
                    <h3>{{vm.project.name}} - Delivery Schedule</h3>
                </div>
                <div layout-align="center center">
                    <img src="img/logo-color.svg">
                </div>
            </div>
            <div layout="row">
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Delivery Manager</div>
                        <div flex class="md-body-1">{{vm.project.deliveryManager.name}}</div>
                    </div>
                </div>
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Mobile</div>
                        <div flex class="md-body-1">{{vm.project.deliveryManager.mobile}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Email</div>
                        <div flex class="md-body-1">{{vm.project.deliveryManager.email}}</div>
                    </div>
                </div>
            </div>

            <div layout="row">
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Project Name</div>
                        <div flex class="md-body-1">{{vm.project.name}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Project No</div>
                        <div flex class="md-body-1">{{vm.project.id}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Client</div>
                        <div flex class="md-body-1">{{vm.project.client}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Delivery Vehicle</div>
                        <div flex class="md-body-1">{{vm.project.siteAccess | srdName:"vehicleTypes"}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Datum Type</div>
                        <div flex class="md-body-1">{{vm.project.datumType | srdName:"datumTypes"}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">CoC</div>
                        <div flex class="md-body-1">{{vm.project.chainOfCustody | srdName:"chainOfCustodyTypes"}}</div>
                    </div>
                </div>
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Special Requirements</div>
                        <div flex class="md-body-1">{{vm.project.specialRequirements}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Site Address</div>
                        <div flex class="md-body-1">{{vm.project.siteAddress}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Post Code</div>
                        <div flex class="md-body-1">{{vm.project.postCode}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Site Start</div>
                        <div flex class="md-body-1">{{vm.project.siteStart | date: "EEE dd-MMM"}}</div>
                    </div>
                </div>
            </div>
        </div>
      <div class="printContent" layout="row" flex>
        <table>
          <thead>
            <tr>
              <th layout-align="center center" data-ng-if="vm.groupedBy == 'phase'">Phase</th>
              <th layout-align="center center" data-ng-if="vm.groupedBy == 'week'">Week Commencing</th>
              <th layout-align="center center" data-ng-if="vm.groupedBy == 'week'">Phase</th>
              <th layout-align="center center">Floor</th>
              <th layout-align="center center">Component</th>
              <th layout-align="center center">Supplier</th>
              <th layout-align="center center">Delivery Date</th>
              <th layout-align="center center">Offload</th>
              <th layout-align="center center">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="(groupName, group) in vm.groupedAreas.groups | objectKey">
                <td data-ng-if="vm.groupedBy == 'phase' && group.totalGroupSpan > 1" rowspan="{{group.totalGroupSpan}}">{{groupName}}</td>
                <td data-ng-if="vm.groupedBy == 'week' && group.totalGroupSpan > 1" rowspan="{{group.totalGroupSpan}}">{{groupName | ordinalDate:"d MMM yyyy"}}</td>  
            </tr>
            <tr ng-repeat-end ng-repeat="(componentName, component) in group.components" ng-class="component.areas[0].supplier+' Strip'" ng-hide="(vm.isToggleDelivered && component.delivered) || (vm.isToggleShowHide && component.active)" data-ng-class="{highlightNotInnovare: component.areas[0].supplier != 'Innovaré'}">
              <td layout-align="center center" data-ng-if="vm.groupedBy == 'week'">{{component.areas[0].phase}}</td>
              <td layout-align="center center">{{component.areas[0].floor}}</td>
              <td layout-align="center center">{{componentName | numbersFromString}}</td>
              <td layout-align="center center">{{component.areas[0].supplier}}</td>
              <td layout-align="center center">{{component.deliveryDate | date:"EEE dd-MMM"}}</td>
              <td layout-align="center center">{{component.areas[0].offloadMethod | srdName:"offloadMethods"}}</td>
              <td layout-align="center center" data-ng-if="component.comments !== 0">{{component.comments}}</td>
              <td layout-align="center center" data-ng-if="component.comments === 0"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-content>
</main>

<div class="footer screenOnly" layout="row" layout-wrap>
    <div flex="100" flex-md="50" flex-gt-md="20">
        <md-button class="md-raised md-primary" data-ng-click="vm.showAddArea()">
            <md-icon md-svg-src="/icons/add.svg"></md-icon>
            Add new area
        </md-button>
    </div>
    <div flex="100" flex-md="50" flex-gt-md="40">
        <div class="toolbar-radio-group" layout="row" layout-padding layout-align="start left">
            <label class="md-label">View:</label>
            <md-radio-group ng-model="vm.viewedBy" layout="row" layout-align="none center">
                <md-radio-button class="toolbar-radio-group-btn" md-class="toolbar-radio-group-label" value="simple" ng-click="vm.viewBy('simple')">Simple</md-radio-button>
                <md-radio-button class="toolbar-radio-group-btn" md-class="toolbar-radio-group-label" value="standard" ng-click="vm.viewBy('standard')">Standard</md-radio-button>
            </md-radio-group>
            <label class="md-label">Group by:</label>
            <md-radio-group ng-model="vm.groupedBy" layout="row" layout-align="none center">
                <md-radio-button class="toolbar-radio-group-btn" md-class="toolbar-radio-group-label" value="phase" ng-click="vm.groupBy('phase')">Phase</md-radio-button>
                <md-radio-button class="toolbar-radio-group-btn" md-class="toolbar-radio-group-label" value="week" ng-click="vm.groupBy('week')">Week</md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <div flex="100" flex-md="50" flex-gt-md="30">
        <div layout="row" layout-align="none right">
            <div>
                <md-button class="md-accent" onClick="window.print()">
                    <md-icon md-svg-src="/icons/print.svg"></md-icon>
                    Print Schedule
                </md-button>
            </div>
            <div data-ng-if="!vm.isToggleDelivered">
                <md-button ng-disabled="vm.isToggleShowHide" class="md-accent" data-ng-click="vm.toggleDelivered()">
                    <md-icon md-svg-src="/icons/visibility.svg"></md-icon>
                    Hide Delivered</md-button>
            </div>
            <div data-ng-if="vm.isToggleDelivered">
                <md-button ng-disabled="vm.isToggleShowHide" class="md-accent flash-button" data-ng-click="vm.toggleDelivered()">
                    <md-icon md-svg-src="/icons/visibility_on.svg"></md-icon>
                    Show Delivered</md-button>
            </div>
            <div data-ng-if="!vm.isToggleShowHide">
                <md-button ng-disabled="vm.isToggleDelivered" class="md-accent" data-ng-click="vm.toggleShowHide()">
                    <md-icon md-svg-src="/icons/visibility.svg"></md-icon>
                    Hide Toggle</md-button>
            </div>
            <div data-ng-if="vm.isToggleShowHide">
                <md-button ng-disabled="vm.isToggleDelivered" class="md-accent flash-button" data-ng-click="vm.toggleShowHide()">
                    <md-icon md-svg-src="/icons/visibility_on.svg"></md-icon>
                    Show Toggle</md-button>
            </div>
        </div>
    </div>
</div>