<inn-navbar theme="newux">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>

<div class="secondary-toolbar" layout="row">
  <div class="project" flex>
    <span class="projectname">{{vm.project.id}} - {{vm.project.name}}</span>
  </div>
  <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
    <md-nav-item md-nav-click="vm.goto('project','details')" name="details"><md-icon md-svg-src="/icons/details.svg"></md-icon>Details</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','scope')" name="scope"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Scope</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','schedule')" name="delivery-schedule"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Delivery Schedule</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','revisions')" name="revisions"><md-icon md-svg-src="/icons/revisions.svg"></md-icon>Revisions</md-nav-item>
    <!--
         <md-nav-item md-nav-href="#/projects/{{vm.project.id}}/timeline" name="timeline">
         <md-icon md-svg-src="/icons/timeline.svg"></md-icon>
         Timeline
         </md-nav-item>
       -->
    <!-- these require actual routing with ui-router or data-ng-route, so they won't work in the demo
         <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
         <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
       -->
  </md-nav-bar>
</div>
<main class="main" layout="column" flex>
  <md-content flex>
    
    <form class="form-horizontal" name="projectForm" data-ng-if="vm.project" data-ng-submit="vm.save(projectForm.$valid)" novalidate>
      <md-card>
        <md-card-header class="md-title">Project Details - {{vm.project.id}}</md-card-header>
        <md-card-content>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Project name</label>
              <input data-ng-model="vm.project.name" id="name" name="name" required data-ng-disabled="vm.project.$id">
              <div data-ng-messages="projectForm.name.$error" data-ng-if="projectForm.name.$touched">
                <div data-ng-message="required">Project name must be supplied</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Project number</label>
              <input data-ng-model="vm.project.id" required id="projectid" name="number" data-ng-pattern="/^\d{3}$/" data-ng-disabled="vm.project.$id">
              <div data-ng-if="projectForm.number.$touched" data-ng-messages="projectForm.number.$error">
                <div data-ng-message="pattern">Must be 3 digits</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Client</label>
              <input data-ng-model="vm.project.client" id="client" name="client" required>
              <div data-ng-messages="projectForm.client.$error" data-ng-if="projectForm.client.$touched">
                <div data-ng-message="required">Client name must be supplied</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Datum type</label>
              <inn-srd-select id="datumType" name="datumType" data-ng-model="vm.project.datumType" data-variant="datum" theme="newux" required/>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>CoC</label>
              <inn-srd-select id="chainOfCustody" name="chainOfCustody" data-ng-model="vm.project.chainOfCustody" data-variant="chainOfCustody" theme="newux"/>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Delivery vehicle</label>
              <inn-srd-select id="siteAccess" name="siteAccess" data-ng-model="vm.project.siteAccess" data-variant="vehicleType" theme="newux"/>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>

      <div layout="row">
        <md-card flex="33">
          <md-card-header class="md-title">Site Details</md-card-header>
          <md-card-content>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Site address</label>
                <textarea data-ng-model="vm.project.siteAddress"></textarea>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Postcode</label>
                <input data-ng-model="vm.project.postCode">
              </md-input-container>
            </div>
            <div layout="row">
                <md-input-container ng-if="!vm.siteStarted && vm.siteStartDateIsValid" class="md-block" flex>
                    <label>Site Start Date</label>
                    <md-datepicker 
                        name="siteStart"
                        md-hide-icons="calendar" 
                        md-min-date="vm.todayDate"
                        md-date-filter="vm.dateFilter"
                        data-ng-disabled="vm.siteStarted" 
                        data-ng-model="vm.project.siteStart" 
                        md-open-on-focus="true"></md-datepicker>
                </md-input-container>
                <md-input-container ng-if="vm.siteStarted && vm.siteStartDateIsValid" class="md-block" flex>
                    <label>Site Start Date</label>
                    <input 
                        data-ng-model="vm.siteStart" 
                        data-ng-disabled="true">
                </md-input-container>
                <md-input-container ng-if="vm.siteStarted && vm.nextDeliveryDateIsValid && vm.nextDeliveryDateAfterToday" class="md-block" flex>
                    <label>Next Delivery Date</label>
                    <md-datepicker 
                        name="nextDeliveryDate"
                        md-hide-icons="calendar" 
                        md-min-date="vm.todayDate"
                        md-date-filter="vm.dateFilter"
                        data-ng-disabled="!vm.siteStarted" 
                        data-ng-model="vm.project.nextDeliveryDate" 
                        md-open-on-focus="true"></md-datepicker>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-checkbox ng-model="vm.project.includeSaturday" aria-label="Include Saturday?">
                        Include Saturday
                    </md-checkbox>
                </md-input-container>
            </div>
          </md-card-content>
        </md-card>
        <md-card flex="33">
          <md-card-header class="md-title">Delivery Manager</md-card-header>
          <md-card-content>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Name</label>
                <delivery-manager-select id="dmName" name="dmName" data-ng-model="vm.project.deliveryManager.id" dm-name-change="vm.updateDeliveryManager" theme="newux"/>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Email</label>
                <input data-ng-model="vm.project.deliveryManager.email" data-ng-disabled="true">
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Mobile</label>
                <input data-ng-model="vm.project.deliveryManager.mobile" data-ng-disabled="true">
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Designer</label>
                <md-select ng-model="vm.project.designer">
                  <md-option> </md-option>
                  <md-option ng-repeat="person in vm.designers" ng-value="person.name" >
                    {{person.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            
          </md-card-content>
        </md-card>
        <md-card flex="33">
          <md-card-header class="md-title">Additional Information</md-card-header>
          <md-card-content>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Est m2 TF (Int)</label>
                <input data-ng-model="vm.project.estimatedAreas.Int" type="number" required>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Est m2 SIP (Ext)</label>
                <input data-ng-model="vm.project.estimatedAreas.Ext" type="number" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Est m2 CASS (Roof)</label>
                <input data-ng-model="vm.project.estimatedAreas.Roof" type="number" required>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Est m2 CASS (Floor)</label>
                <input data-ng-model="vm.project.estimatedAreas.Floor" type="number" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Est m2 IFAST (ExtF)</label>
                <input data-ng-model="vm.project.estimatedAreas.ExtF" type="number" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Special requirements</label>
                <textarea data-ng-model="vm.project.specialRequirements"></textarea>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
        <md-card flex="33">
            <md-card-header class="md-title">Notifications and Gateway</md-card-header>
            <md-card-content>
            <md-input-container style="width:100%">
                <label>Users to notify</label>
                <md-select  ng-model="vm.selectedUsers" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple="">
                    <md-select-header class="select-header">
                        <input ng-model="vm.searchTerm" placeholder="Search for a user.." class="header-searchbox md-text" type="search">
                    </md-select-header>
                    <md-optgroup label="users">
                        <md-option ng-if="!user.name.includes('Tablet')" ng-value="user" ng-repeat="user in vm.users | filter:vm.searchTerm">{{user.name}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Gateway</label>
              <inn-srd-select id="gateway" name="gateway" data-ng-model="vm.project.gateway" data-variant="gateway" theme="newux" data-ng-disabled="vm.gateway.$id !== undefined"/>
            </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Duration of Weeks</label>
                    <input type="number" data-ng-model="vm.project.weekDuration" id="weekDuration" name="numweekDurationber"  min="1" max="99">
                </md-input-container>
            </md-card-content>
        </md-card>
      </div>
      <div layout="row" layout-align="end">
        <md-button class="md-raised md-primary" type="submit" data-ng-disabled="projectForm.$pristine || projectForm.$invalid || (vm.userLoading && !(projectForm.$pristine || projectForm.$invalid))">
          Save Project
        </md-button>
      </div>
    </form>

    <md-card>          
      <table class="new-data-table">
        <tr ng-show="$first" ng-repeat="(key,x) in vm.tableData track by $index" style="padding-bottom:0px">
          <th ng-repeat="(key,x) in vm.gatwayNames" >{{x}}</th>
        </tr>
        <tr ng-show="key === vm.project.id" ng-repeat="(key,x) in vm.tableData track by $index" ng-model="vm.sort" ng-show="vm.sort === key || vm.counteroo !== 3" >
          <td ng-repeat="(key,value) in x ">
            <div ng-if="(vm.checkIfTrue(value) === false) || vm.isUndefined(value) === false " style="background-color: rgba(255, 0, 0, 1); border-radius: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            </div>
            <div ng-if="(vm.checkIfTrue(value) === true) || vm.isUndefined(value) === true" style="background-color: rgba(0 ,255, 0, 1); border-radius: 5px;">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
              </div>
            </div>
            <md-tooltip md-direction="top" class="listTooltip"><md-content style="color:white;" ng-repeat="(key,val) in value">{{key + " " + ": " + val }}<br/></md-content></md-tooltip> 
          </td>                                
        </tr>
      </table>
    </md-card>    
    
  </md-content>
</main>
<div class="footer" layout="row" layout-align="end">
  <!--
  <div>
    <md-button class="md-raised md-primary">New Area</md-button>
  </div>
  <div flex>
    Group by:
  </div>
  <div>
    Print Schedule
  </div>
  <div>
    Hide delivered
  </div>
  -->
</div>
