<div data-ng-if="vm.print.project" class="fluid-container wider printOnly">
  <div class="row">
    <div class="col-xs-10 center-vertical">
      <h3>{{vm.print.project.name}} - Delivery Schedule</h3>
    </div>
    <div class="col-xs-2 center-vertical">
      <img src="img/logo-color.svg"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <label class="control-label col-xs-5">Delivery Manager</label>
        <p class="col-xs-7">{{vm.print.project.deliveryManager.name}}</p>
      </div>

    </div>
    <div class="col-xs-6">
      <div class="row">
        <label class="control-label col-xs-6">Mobile</label>
        <p class="col-xs-6">{{vm.print.project.deliveryManager.mobile}}</p>
      </div>
      <div class="row">
        <label class="control-label col-xs-6">Email</label>
        <p class="col-xs-6">{{vm.print.project.deliveryManager.email}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <label class="control-label col-xs-5">Project Name</label>
        <p class="col-xs-7">{{vm.print.project.name}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-5">Project No</label>
        <p class="col-xs-7">{{vm.print.project.id}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-5">Client</label>
        <p class="col-xs-7">{{vm.print.project.client}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-5">Delivery Vehicle</label>
        <p class="col-xs-7">{{vm.print.project.siteAccess | srdName:"vehicleTypes"}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-5">Datum Type</label>
        <p class="col-xs-7">{{vm.print.project.datumType | srdName:"datumTypes"}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-5">CoC</label>
        <p class="col-xs-7">{{vm.print.project.chainOfCustody | srdName:"chainOfCustodyTypes"}}</p>
      </div>

    </div>

    <div class="col-xs-6">
      <div class="row">
        <label class="control-label col-xs-6">Special Requirements</label>
        <p class="col-xs-6">{{vm.print.project.specialRequirements}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-6">Site Address</label>
        <p class="col-xs-6">{{vm.print.project.siteAddress}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-6">Post Code</label>
        <p class="col-xs-6">{{vm.print.project.postCode}}</p>
      </div>

      <div class="row">
        <label class="control-label col-xs-6">Site Start</label>
        <p class="col-xs-6">{{vm.print.project.siteStart | date: "EEE dd-MMM"}}</p>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <table class="table table-bordered left">
      <thead>
        <tr>
          <th data-ng-repeat="col in vm.print.columnDefs" class="col-xs-1">
            {{col.displayName}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr data-ng-repeat="row in vm.print.data">
          <td class="col-xs-1" data-ng-repeat="col in vm.print.columnDefs">
            {{row[col.field]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
