<inn-navbar theme="newux">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>

<div class="secondary-toolbar" layout="row">
  <div class="project" flex>
    <span class="projectname">{{vm.projectAdditionalData.name}}</span>
  </div>
  <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
    <md-nav-item md-nav-click="vm.goto('project','details')" name="details"><md-icon md-svg-src="/icons/details.svg"></md-icon>Details</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','scope')" name="scope"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Scope</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','schedule')" name="delivery-schedule"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Delivery Schedule</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','revisions')" name="revisions"><md-icon md-svg-src="/icons/revisions.svg"></md-icon>Revisions</md-nav-item>
    <!--
         <md-nav-item md-nav-href="#/projects/{{vm.project.id}}/timeline" name="timeline">
         <md-icon md-svg-src="/icons/timeline.svg"></md-icon>
         Timeline
         </md-nav-item>
       -->
    <!-- these require actual routing with ui-router or data-ng-route, so they won't work in the demo
         <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
         <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
       -->
  </md-nav-bar>
</div>
<main class="main" layout="column" flex>
  <md-content flex>
    
    <form class="form-horizontal" name="vm.projectAdditionalDataForm" data-ng-if="vm.projectAdditionalData" data-ng-submit="vm.save(projectForm.$valid)" novalidate>
   
      <div layout="row">
        <md-card flex="66">
            <md-card-header class="md-title">Project Framing Styles</md-card-header>
            <md-card-content>
                <md-input-container style="width:100%">
                    <label>SIP Framing Styles</label>
                    <md-select  ng-model="vm.projectAdditionalData.framingStyles['SIP']" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple="">
                        <md-select-header class="select-header">
                            <input ng-model="vm.searchTermSIP" placeholder="Search for SIP framing style." class="header-searchbox md-text" type="search">
                        </md-select-header>
                        <md-optgroup label="framingStylesSIP">
                            <md-option  ng-value="framingStyleSIP" ng-repeat="framingStyleSIP in vm.configFramingStyle['SIP'] | filter:vm.searchTermSIP">{{framingStyleSIP}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container style="width:100%">
                    <label>HSIP Framing Styles</label>
                    <md-select  ng-model="vm.projectAdditionalData.framingStyles['HSIP']" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple="">
                        <md-select-header class="select-header">
                            <input ng-model="vm.searchTermHSIP" placeholder="Search for HSIP framing style." class="header-searchbox md-text" type="search">
                        </md-select-header>
                        <md-optgroup label="framingStyleHSIP">
                            <md-option  ng-value="framingStyleHSIP" ng-repeat="framingStyleHSIP in vm.configFramingStyle['HSIP'] | filter:vm.searchTermHSIP">{{framingStyleHSIP}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container style="width:100%">
                    <label>IFAST Framing Styles</label>
                    <md-select  ng-model="vm.projectAdditionalData.framingStyles['IFAST']" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple="">
                        <md-select-header class="select-header">
                            <input ng-model="vm.searchTermIFAST" placeholder="Search for IFAST framing style." class="header-searchbox md-text" type="search">
                        </md-select-header>
                        <md-optgroup label="framingStyleIFAST">
                            <md-option  ng-value="framingStyleIFAST" ng-repeat="framingStyleIFAST in vm.configFramingStyle['IFAST'] | filter:vm.searchTermIFAST">{{framingStyleIFAST}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container> 
                <md-input-container style="width:100%">
                    <label>TF Framing Styles</label>
                    <md-select  ng-model="vm.projectAdditionalData.framingStyles['TF']" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple="">
                        <md-select-header class="select-header">
                            <input ng-model="vm.searchTerm" placeholder="Search for TF framing style." class="header-searchbox md-text" type="search">
                        </md-select-header>
                        <md-optgroup label="framingStylesTF">
                            <md-option  ng-value="framingStyleTF" ng-repeat="framingStyleTF in vm.configFramingStyle['TF'] | filter:vm.searchTermTF">{{framingStyleTF}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container> 
                <md-input-container style="width:100%">
                    <label>CASS Framing Styles</label>
                    <md-select  ng-model="vm.projectAdditionalData.framingStyles['CASS']" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple="">
                        <md-select-header class="select-header">
                            <input ng-model="vm.searchTermCASS" placeholder="Search for a framing style." class="header-searchbox md-text" type="search">
                        </md-select-header>
                        <md-optgroup label="framingStyleCASS">
                            <md-option  ng-value="framingStyleCASS" ng-repeat="framingStyleCASS in vm.configFramingStyle['CASS'] | filter:vm.searchTermCASS">{{framingStyleCASS}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container> 
            </md-card-content>
        </md-card>
        <md-card flex="66">
            <md-card-header class="md-title">Fire Mitigation</md-card-header>
            <md-card-content>
                <div layout="row">
                    <md-input-container style="width:100%">
                        <label>Fire Mitigation coverage (%)</label>
                        <md-slider-container ng-disabled="!vm.projectAdditionalData.fireMitigationRequired">
                            <md-slider ng-model="vm.projectAdditionalData.fireMitigationCoverage" aria-label="fire-mitigation-coverage-slider" md-discrete="" ng-readonly="readonly">
                            </md-slider>
                            <md-input-container>
                                <input style="color:black" type="number" ng-model="vm.projectAdditionalData.fireMitigationCoverage" aria-label="fire-mitigation-coverage" aria-controls="fire-mitigation-coverage-slider">
                            </md-input-container>
                        </md-slider-container>
                        <md-checkbox ng-model="vm.projectAdditionalData.fireMitigationRequired">Fire Mitigation Required</md-checkbox>
                    </md-input-container> 
                </div>
            </md-card-content>
        </md-card>
      </div>
      <div layout="row" layout-align="end">
        <md-button class="md-raised md-primary" type="submit" data-ng-disabled="projectForm.$pristine || projectForm.$invalid || (vm.userLoading && !(projectForm.$pristine || projectForm.$invalid))">
          Save Project
        </md-button>
      </div>
    </form>
  </md-content>
</main>
<div class="footer" layout="row" layout-align="end"></div>
