<main class="main printOnly" layout="column" flex>
  <md-content flex>
    <div layout="row">
      <div flex layout-align="start center">
        <h3>{{vm.printModel.project.name}} - Delivery Schedule</h3>
      </div>
      <div layout-align="center center">
        <img src="img/logo-color.svg">
      </div>
    </div>
    <div layout="row">
      <div layout="column" flex>
        <div layout="row">
          <div flex class="md-body-2">Delivery Manager</div>
          <div flex class="md-body-1">{{vm.printModel.project.deliveryManager.name}}</div>
        </div>
      </div>
      <div layout="column" flex>
        <div layout="row">
          <div flex class="md-body-2">Mobile</div>
          <div flex class="md-body-1">{{vm.printModel.project.deliveryManager.mobile}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Email</div>
          <div flex class="md-body-1">{{vm.printModel.project.deliveryManager.email}}</div>
        </div>
      </div>
    </div>

    <div layout="row">
      <div layout="column" flex>
        <div layout="row">
          <div flex class="md-body-2">Project Name</div>
          <div flex class="md-body-1">{{vm.printModel.project.name}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Project No</div>
          <div flex class="md-body-1">{{vm.printModel.project.id}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Client</div>
          <div flex class="md-body-1">{{vm.printModel.project.client}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Delivery Vehicle</div>
          <div flex class="md-body-1">{{vm.printModel.project.siteAccess | srdName:"vehicleTypes"}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Datum Type</div>
          <div flex class="md-body-1">{{vm.printModel.project.datumType | srdName:"datumTypes"}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">CoC</div>
          <div flex class="md-body-1">{{vm.printModel.project.chainOfCustody | srdName:"chainOfCustodyTypes"}}</div>
        </div>
      </div>
      <div layout="column" flex>
        <div layout="row">
          <div flex class="md-body-2">Special Requirements</div>
          <div flex class="md-body-1">{{vm.printModel.project.specialRequirements}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Site Address</div>
          <div flex class="md-body-1">{{vm.printModel.project.siteAddress}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Post Code</div>
          <div flex class="md-body-1">{{vm.printModel.project.postCode}}</div>
        </div>
        <div layout="row">
          <div flex class="md-body-2">Site Start</div>
          <div flex class="md-body-1">{{vm.printModel.project.siteStart | date: "EEE dd-MMM"}}</div>
        </div>
      </div>
    </div>
    <div layout="row" flex>
      <table>
        <thead>
          <tr>
            <th layout-align="start center">Phase - Floor - Type</th>
            <th layout-align="center center">Description</th>
            <th layout-align="center center">Supplier</th>
            <th layout-align="center center" data-ng-repeat="revision in vm.printModel.latestFourRevisions">Revision {{(vm.printModel.totalRevisions - (vm.printModel.latestFourRevisions.length - ($index + 1)))  | revisionCount}}</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="area in vm.printModel.areas">
            <td layout-align="start center">{{area.phase}} - {{area.floor}} - {{area.type}}</td>
            <td layout-align="center center">{{area.description}}</td>
            <td layout-align="center center">{{area.supplier}}</td>
            <td layout-align="center center" data-ng-repeat="revision in vm.printModel.latestFourRevisions">{{area.revisions[revision] | date:"EEE dd-MMM"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-content>
</main>
