<inn-navbar theme="newux">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>

<div class="secondary-toolbar" layout="row">
  <div class="project" flex>
    <span class="projectname">Create Project</span>
  </div>
</div>
<main class="main" layout="column" flex>
  <md-content flex>
    <form class="form-horizontal" name="projectForm" data-ng-submit="vm.save(projectForm.$valid)" novalidate>
      <md-card>
        <md-card-header class="md-title">Project Details</md-card-header>
        <md-card-content>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Project name</label>
              <input data-ng-model="vm.project.name" id="name" name="name" required>
              <div data-ng-messages="projectForm.name.$error" data-ng-if="projectForm.name.$touched">
                <div data-ng-message="required">Project name must be supplied</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Project number</label>
              <input data-ng-model="vm.project.id" required id="projectid" name="number" data-ng-pattern="/^\d{3}$/">
              <div data-ng-if="projectForm.number.$touched" data-ng-messages="projectForm.number.$error">
                <div data-ng-message="pattern">Must be 3 digits</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Client</label>
              <input data-ng-model="vm.project.client" id="client" name="client" required>
              <div data-ng-messages="projectForm.client.$error" data-ng-if="projectForm.client.$touched">
                <div data-ng-message="required">Client name must be supplied</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Datum type</label>
              <inn-srd-select id="datumType" name="datumType" data-ng-model="vm.project.datumType" data-variant="datum" theme="newux" required/>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>CoC</label>
              <inn-srd-select id="chainOfCustody" name="chainOfCustody" data-ng-model="vm.project.chainOfCustody" data-variant="chainOfCustody" theme="newux"/>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Delivery vehicle</label>
              <inn-srd-select id="siteAccess" name="siteAccess" data-ng-model="vm.project.siteAccess" data-variant="vehicleType" theme="newux"/>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>

      <div layout="row">
        <md-card flex="33">
          <md-card-header class="md-title">Site Details</md-card-header>
          <md-card-content>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Site address</label>
                <textarea data-ng-model="vm.project.siteAddress"></textarea>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Postcode</label>
                <input data-ng-model="vm.project.postCode">
              </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Site Start Date</label>
                    <md-datepicker 
                        name="siteStart"
                        md-hide-icons="calendar" 
                        md-min-date="vm.todayDate"
                        md-date-filter="vm.dateFilter"
                        data-ng-model="vm.project.siteStart" 
                        md-open-on-focus="true" required></md-datepicker>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-checkbox ng-model="vm.project.includeSaturday" aria-label="Include Saturday?">
                        Include Saturday
                    </md-checkbox>
                </md-input-container>
            </div>
          </md-card-content>
        </md-card>
        <md-card flex="33">
          <md-card-header class="md-title">Delivery Manager</md-card-header>
          <md-card-content>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Name</label>
                <delivery-manager-select id="dmName" name="dmName" data-ng-model="vm.project.deliveryManager.id" dm-name-change="vm.updateDeliveryManager" theme="newux"/>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Email</label>
                <input data-ng-model="vm.project.deliveryManager.email" data-ng-disabled="true">
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Mobile</label>
                <input data-ng-model="vm.project.deliveryManager.mobile" data-ng-disabled="true">
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
        <md-card flex="33">
          <md-card-header class="md-title">Additional Information</md-card-header>
          <md-card-content>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Est m2 TF (Int)</label>
                <input data-ng-model="vm.project.estimatedAreas.Int" type="number" required>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Est m2 SIP (Ext)</label>
                <input data-ng-model="vm.project.estimatedAreas.Ext" type="number" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Est m2 CASS (Roof)</label>
                <input data-ng-model="vm.project.estimatedAreas.Roof" type="number" required>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Est m2 CASS (Floor)</label>
                <input data-ng-model="vm.project.estimatedAreas.Floor" type="number" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Est m2 IFAST (ExtF)</label>
                <input data-ng-model="vm.project.estimatedAreas.ExtF" type="number" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Special requirements</label>
                <textarea data-ng-model="vm.project.specialRequirements"></textarea>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
        <md-card flex="33">
            <md-card-header class="md-title">Notifications and Gateway</md-card-header>
            <md-card-content>
                <md-input-container>
                    <label>Users to Notify</label>
                    <md-select ng-model="vm.selectedUsers" md-on-close="vm.clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple="">
                        <md-select-header class="select-header">
                            <input ng-model="vm.searchTerm" placeholder="Search for a user.." class="header-searchbox md-text" type="search">
                        </md-select-header>
                        <md-optgroup label="users">
                            <md-option ng-value="user" ng-repeat="user in vm.users | filter:vm.searchTerm">{{user.name}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
              <md-input-container style="width:100%" >
                <label>Designer</label>
                <md-select ng-model="vm.project.designer">
                   <md-option> </md-option>
                  <md-option ng-repeat="person in vm.designers" ng-value="person.name" >
                    {{person.name}}
                  </md-option>
                </md-select>
              </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Gateway</label>
                    <inn-srd-select id="gateway" name="gateway" data-ng-model="vm.project.gateway" data-variant="gateway" theme="newux" data-ng-disabled="vm.gateway.$id !== undefined"/>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Duration of Weeks</label>
                    <input type="number" data-ng-model="vm.project.weekDuration" id="weekDuration" name="numweekDurationber"  min="1" max="99">
                </md-input-container>
            </md-card-content>
        </md-card>
      </div>
      <div layout="row" layout-align="end">
        <md-button class="md-raised md-primary" type="submit" data-ng-disabled="projectForm.$pristine || projectForm.$invalid || (vm.userLoading && !(projectForm.$pristine || projectForm.$invalid))">
          Save Project
        </md-button>
      </div>
    </form>
  </md-content>
</main>
<div class="footer" layout="row" layout-align="end">
  <!--
  <div>
    <md-button class="md-raised md-primary">New Area</md-button>
  </div>
  <div flex>
    Group by:
  </div>
  <div>
    Print Schedule
  </div>
  <div>
    Hide delivered
  </div>
  -->
</div>
