<inn-navbar theme="newux" class="screenOnly">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>

<!--<inn-print-schedule data-ng-model="vm.printModel"/>-->

<div class="secondary-toolbar screenOnly" layout="row">
  <div class="project" flex>
    <span class="projectname">{{vm.project.id}} - {{vm.project.name}}</span>
  </div>
  <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
    <md-nav-item md-nav-click="vm.goto('project','details')" name="details"><md-icon md-svg-src="/icons/details.svg"></md-icon>Details</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','scope')" name="scope"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Scope</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','schedule')" name="delivery-schedule"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Delivery Schedule</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('project','revisions')" name="revisions"><md-icon md-svg-src="/icons/revisions.svg"></md-icon>Revisions</md-nav-item>
    <!--
         <md-nav-item md-nav-href="#/projects/{{vm.project.id}}/timeline" name="timeline">
         <md-icon md-svg-src="/icons/timeline.svg"></md-icon>
         Timeline
         </md-nav-item>
       -->
    <!-- these require actual routing with ui-router or data-ng-route, so they won't work in the demo
         <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
         <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
       -->
  </md-nav-bar>
</div>
<main class="main screenOnly" layout="column" flex>
    
  <md-content flex>
    <md-card class="table" data-ng-repeat="(groupName, group) in vm.groupedAreas.groups" ng-hide="vm.isToggleDelivered && group.delivered">
      <md-card-header>
        <div layout="row" flex>
          <div>
            <md-button class="md-icon-button" aria-label="expand" ng-click="vm.toggleVisibility(groupName)">
              <md-icon md-svg-src="{{vm.hidden[groupName] ? '/icons/arrow-down.svg' : '/icons/arrow-up.svg'}}"></md-icon>
            </md-button>
          </div>
          <div flex>
            <ul class="meta-list">
              <li class="meta-list-item">
                <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-name">Phase</span>
                <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-name">Week Commencing</span>
                <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-value">{{groupName}}</span>
                <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-value">{{groupName | ordinalDate:"d MMMM yyyy"}}</span>
              </li>
              <li data-ng-repeat="(componentName, component) in group.components | objectLimitTo: 1" class="meta-list-item">
                  <span class="meta-list-name">Description</span>
                  <span class="meta-list-value">{{component.areas[0].description}}</span>
              </li>
              <li ng-if="vm.totalRevisions > 4" class="meta-list-item floatRight">
                <md-button class="md-icon-button" aria-label="expand" ng-click="vm.revLess()">
                    <md-icon md-svg-src="/icons/arrow-left.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="expand" ng-click="vm.revMore()">
                    <md-icon md-svg-src="/icons/arrow-right.svg"></md-icon>
                </md-button>
              </li>
            </ul>
          </div>
        </div>
      </md-card-header>
      <!--
      <md-card-header class="group" layout="row"  layout-padding flex>
        <md-button class="md-icon-button" aria-label="expand" ng-click="vm.toggleVisibility(groupName)">
          <md-icon md-svg-src="{{vm.hidden[groupName] ? '/icons/arrow-down.svg' : '/icons/arrow-up.svg'}}"></md-icon>
        </md-button>
        <ul class="meta-list">
          <li class="meta-list-item">
            <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-name">Phase</span>
            <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-name">Week Commencing</span>
            <span data-ng-if="vm.groupedBy == 'phase'" class="meta-list-value">{{groupName}}</span>
            <span data-ng-if="vm.groupedBy == 'week'" class="meta-list-value">{{groupName | ordinalDate:"d MMMM yyyy"}}</span>
          </li>
          <li class="meta-list-item">
            <span class="meta-list-name">% of Build</span>
            <span class="meta-list-value">{{vm.groupedAreas.percentage | number: 0}}%</span>
          </li>
        </ul>
      </md-card-header>
      -->
      <md-card-content class="toScroll" ng-hide="vm.hidden[groupName]">
        <table class="data-table">
          <thead>
              <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th data-ng-if="vm.groupedBy == 'week'"></th>
                  <th  class="revisionDate">Revision Date:</th>
                  <th  class="revisionDate" data-ng-repeat="revision in vm.revisions | limitTo: -4 : vm.totalRevisionsMarker">
                    <div class="md-list-item-text" layout="column">
                        <span>{{revision.createdDate | date : "EEE dd-MMM"}}</span>
                    </div>
                  </th>
                  <th  class="revisionDate"></th>
                  <th  class="revisionDate"></th>
              </tr>
            <tr>
              <th></th>
              <th data-ng-if="vm.groupedBy == 'week'">
                  <div class="md-list-item-text" layout="column">
                      <span>Phase</span>
                      <span>&nbsp;</span>
                  </div>
              </th>
             <th>
                  <div class="md-list-item-text" layout="column">
                      <span>Floor</span>
                      <span>&nbsp;</span>
                  </div>
              </th>
              <th>
                  <div class="md-list-item-text" layout="column">
                      <span>Component</span>
                      <span>&nbsp;</span>
                  </div>
              </th>
              <th>
                  <div class="md-list-item-text" layout="column">
                      <span>Supplier</span>
                      <span>&nbsp;</span>
                  </div>
              </th>
              <th></th>
              <th  data-ng-repeat="(key, revision) in vm.revisions | limitTo: -4 : vm.totalRevisionsMarker">
                  <div class="md-list-item-text" layout="column">
                      <span ng-if="vm.totalRevisions < 5">Revision {{key | revisionCount}}</span>
                      <span ng-if="vm.totalRevisions >= 5">Revision {{(vm.totalRevisionsMarker - vm.revisionShow[key]) | revisionCount}}</span>
                      <span>Issued by: {{revision.deliveryManager | nameInitials}}</span>
                  </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody data-ng-repeat="(componentName, component) in group.components">
            <tr data-ng-repeat="area in component.areas | orderBy: '-created_at' | limitTo: 1"  ng-hide="vm.isToggleDelivered && !area.active">
              <td>
                <md-button class="md-icon-button" aria-label="expand" ng-click="vm.toggleVisibility(groupName + '-' + componentName)">
                  <md-icon md-svg-src="{{vm.hidden[groupName + '-' + componentName] ? '/icons/arrow-down.svg' : '/icons/arrow-up.svg'}}"></md-icon>
                </md-button>
              </td>
              <td data-ng-if="vm.groupedBy == 'week'">{{component.areas[0].phase}}</td>
              <td>{{component.areas[0].floor}}</td>
              <td>{{componentName | numbersFromString}}</td>
              <td>{{component.areas[0].supplier}}</td>
              <td></td>
              <td data-ng-repeat="revision in vm.projRevisions | limitTo: -4 : vm.totalRevisionsMarker track by $index">{{area.revisions[revision] | date : "EEE dd-MMM"}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr data-ng-repeat="area in component.areas" ng-hide="vm.hidden[groupName + '-' + componentName]">
              <td></td>
              <td></td>
              <td>{{area.phase}}-{{area.floor}}-{{area.type}}</td>
              <td></td>
              <td></td>
              <td data-ng-repeat="revision in vm.projRevisions | limitTo: -4 : vm.totalRevisionsMarker track by $index">{{area.revisions[revision] | date : "EEE dd-MMM"}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </md-card-content>
    </md-card>
  </md-content>

</main>
<main class="main printOnly" layout="column" flex>
    <md-content flex>
        <div class="printHeader">
            <div layout="row">
                <div flex layout-align="start center">
                    <h3>{{vm.project.name}} - Revisions</h3>
                </div>
                <div layout-align="center center">
                    <img src="img/logo-color.svg">
                </div>
            </div>
            <div layout="row">
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Delivery Manager</div>
                        <div flex class="md-body-1">{{vm.project.deliveryManager.name}}</div>
                    </div>
                </div>
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Mobile</div>
                        <div flex class="md-body-1">{{vm.project.deliveryManager.mobile}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Email</div>
                        <div flex class="md-body-1">{{vm.project.deliveryManager.email}}</div>
                    </div>
                </div>
            </div>

            <div layout="row">
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Project Name</div>
                        <div flex class="md-body-1">{{vm.project.name}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Project No</div>
                        <div flex class="md-body-1">{{vm.project.id}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Client</div>
                        <div flex class="md-body-1">{{vm.project.client}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Delivery Vehicle</div>
                        <div flex class="md-body-1">{{vm.project.siteAccess | srdName:"vehicleTypes"}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Datum Type</div>
                        <div flex class="md-body-1">{{vm.project.datumType | srdName:"datumTypes"}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">CoC</div>
                        <div flex class="md-body-1">{{vm.project.chainOfCustody | srdName:"chainOfCustodyTypes"}}</div>
                    </div>
                </div>
                <div layout="column" flex>
                    <div layout="row">
                        <div flex class="md-body-2">Special Requirements</div>
                        <div flex class="md-body-1">{{vm.project.specialRequirements}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Site Address</div>
                        <div flex class="md-body-1">{{vm.project.siteAddress}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Post Code</div>
                        <div flex class="md-body-1">{{vm.project.postCode}}</div>
                    </div>
                    <div layout="row">
                        <div flex class="md-body-2">Site Start</div>
                        <div flex class="md-body-1">{{vm.project.siteStart | date: "EEE dd-MMM"}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="printContent" layout="row" flex>
            <table>
                <thead>
                    <tr>
                        <th layout-align="start center">Phase - Floor - Type</th>
                        <th layout-align="center center">Description</th>
                        <th layout-align="center center">Supplier</th>
                        <th layout-align="center center" data-ng-repeat="(key, revision) in vm.revisions | limitTo: -4 : vm.totalRevisionsMarker track by $index"><span ng-if="vm.totalRevisions < 5">Revision {{key | revisionCount}}</span><span ng-if="vm.totalRevisions >= 5">Revision {{(vm.totalRevisionsMarker - vm.revisionShow[key]) | revisionCount}}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="area in vm.printModel.areas" ng-hide="vm.hidden[groupName + '-' + componentName] || (vm.isToggleDelivered && !area.active)" ng-class="area.supplier+' Strip'">
                        <td layout-align="start center">{{area.phase}} - {{area.floor}} - {{area.type}}</td>
                        <td layout-align="center center">{{area.description}}</td>
                        <td layout-align="center center">{{area.supplier}}</td>
                        <td layout-align="center center" data-ng-repeat="revision in vm.projRevisions | limitTo: -4 : vm.totalRevisionsMarker track by $index">{{area.revisions[revision] | date : "EEE dd-MMM"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-content>
</main>
<div class="footer screenOnly" layout="row" layout-align="end">
  <div>
    <md-button class="md-raised md-primary" data-ng-disabled="!vm.togglePublishButton" data-ng-click="vm.publishRevision()">
      <md-icon md-svg-src="/icons/add.svg"></md-icon>
      Publish a new revision
    </md-button>
  </div>
  <div flex>
    <div class="toolbar-radio-group" layout="row" layout-padding layout-align="start">
      <label class="md-label">Group by:</label>
      <md-radio-group ng-model="vm.groupedBy" layout="row" layout-align="none center">
        <md-radio-button class="toolbar-radio-group-btn" md-class="toolbar-radio-group-label" value="phase" ng-click="vm.groupBy('phase')">Phase</md-radio-button>
        <md-radio-button class="toolbar-radio-group-btn" md-class="toolbar-radio-group-label" value="week" ng-click="vm.groupBy('week')">Week</md-radio-button>
      </md-radio-group>
    </div>
  </div>
  <div>
    <md-button class="md-accent" onClick="window.print()">
      <md-icon md-svg-src="/icons/print.svg"></md-icon>
      Print Schedule
    </md-button>
  </div>
    <div data-ng-if="!vm.isToggleDelivered">
    <md-button class="md-accent" data-ng-click="vm.toggleDelivered()">
      <md-icon md-svg-src="/icons/visibility.svg"></md-icon>
      Hide delivered</md-button>
  </div>
  <div data-ng-if="vm.isToggleDelivered">
    <md-button class="md-accent flash-button" data-ng-click="vm.toggleDelivered()">
      <md-icon md-svg-src="/icons/visibility_on.svg"></md-icon>
      Show delivered</md-button>
  </div>
</div>
