
@mixin h1 ($color, $text-align)
                   {color:$color;
                    text-align: $text-align;
                    letter-spacing: 0.2px;
                          font:{size:26px;
                                weight:800;}
}

@mixin h4 ($color, $text-align)
                   {color:$color;
                    text-align: $text-align;
                          font:{size:36px;
                                weight:200;}
}


@mixin shade { -webkit-box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.2);
               -moz-box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.2);
               box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.2);}

@mixin button ($color, $background-color, $border){
      color:$color !important;
      background-color: $background-color !important;
      border:$border !important;
      display: inline-block;
      margin: 0 auto;
      background-image: none;
      border-radius: 0px;
      height:$headerheight + 15;
      margin:0;
      letter-spacing: 0.5px;
      font:{size:15px;
              weight:600;
             }
      min-width: 100px;
      padding-right: 20px;
      padding-left:20px;
      @include rounded($radius);   
      @include shadow-inset (0px, -4px, 0px, #000000);
    
}

@mixin graystrips{
  background: repeating-linear-gradient(
  45deg,
  lighten($gray, 8%),
  lighten($gray, 8%) 2px,
  white 2px,
  white 6px );
}

@mixin graystripsimp{
  background: repeating-linear-gradient(
  45deg,
  lighten($gray, 8%),
  lighten($gray, 8%) 2px,
  white 2px,
  white 6px
) !important; }

@mixin greengraystrips{
  background: repeating-linear-gradient(
  45deg,
  lighten($gray, 6%),
  lighten($gray, 6%) 2px,
  lighten($lightgreen, 15%) 2px,
  lighten($lightgreen, 15%) 6px
) !important; }


@mixin count ($color, $background-color){
            font-weight: 700;
            color:$color;
            background-color: $background-color;
            @include rounded (1em);}

//
@mixin rounded($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
     -moz-box-shadow: $x $y $blur $color;
          box-shadow: $x $y $blur $color;
}
@mixin shadow-inset($x, $y, $blur, $color) {
  -webkit-box-shadow: inset $x $y $blur $color;
     -moz-box-shadow: inset $x $y $blur $color;
          box-shadow: inset $x $y $blur $color;}
@mixin transition($property) {
  -webkit-transition: $property .2s ease;
     -moz-transition: $property .2s ease;
       -o-transition: $property .2s ease;
          transition: $property .2s ease;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@mixin linear-gradient($from, $to) {
  /* Fallback for sad browsers */
  background-color: $to;
  /* Mozilla Firefox */
  background-image:-moz-linear-gradient($from, $to);
  /* Opera */
  background-image:-o-linear-gradient($from, $to);
  /* WebKit (Chrome 11+) */
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  /* WebKit (Safari 5.1+, Chrome 10+) */
  background-image: -webkit-linear-gradient($from, $to);
  /* IE10 */
  background-image: -ms-linear-gradient($from, $to);
  /* W3C */
  background-image: linear-gradient($from, $to);
}