$headerheight: 40px;

$lightgray: #F8F8F8;
$gray:#E2E2E2;
$darkgray:#585F69;
$purple:#903F98;
$lightpurple:#AF78B4;
$darkpurple:#2D1E3E;
$green:#BED600;
$lightgreen:#EAF498;
$red:#D0021B;
$blue:#4A90E2;
$lightblue:#DFEEFF;

$radius:5px;

$outline: none !important;
