body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

/* Layout */

.container {
    height: 100vh;
}

.hoverItem {
    :hover{
        background-color: purple;
    }
}
.footer {
    background-color: #3E4753;
}

/* Components */

.whitebox {
    background-color: #fff;
}
.clickable{
    color:blue;
    text-decoration: underline;
    
}

.clickable:hover{
    cursor: pointer;
} 

/* Data Tables */
.md-dialog-content {
    min-width: 1200px;
    max-width: 2000px;
}

.data-table {
    position: relative;
    width: 100%;
    /*border: 1px solid rgba(0,0,0,.12);*/
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
}

    .data-table th {
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        height: 48px;
        font-size: 12px;
        color: rgba(0,0,0,.54);
        padding-bottom: 8px;
        box-sizing: border-box;
    }

    .data-table th {
        padding: 0 18px 12px 18px;
        text-align: center;
    }

    .data-table td {
        position: relative;
        height: 48px;
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
        padding: 5px 18px;
        box-sizing: border-box;
    }

    .data-table td {
        vertical-align: middle;
        text-align: center;
    }

    .data-table td:first-of-type,
    .data-table th:first-of-type {
        padding-left: 24px;
    }

    .data-table td:last-of-type,
    .data-table th:last-of-type {
        padding-right: 24px;
    }
    
    
.new-data-table {  
    position: relative;
    text-align: center;
    width: 100%;
    /*border: 1px solid rgba(0,0,0,.12);*/
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
}

    .new-data-table th {
        position: relative;
        vertical-align: middle;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        height: 48px;
        font-size: 12px;
        color: rgba(0,0,0,.54);
        padding-bottom: 8px;
        box-sizing: border-box;
    }

    .new-data-table th {
        padding: 0 18px 12px 18px;
        text-align: center;
    }

    .new-data-table td {
        position: relative;
        border-top: 1px solid rgba(0,0,0,0.5);
        border-bottom: 1px solid rgba(0,0,0,0.5);
        box-sizing: border-box;
    }

    .new-data-table td {
        vertical-align: middle;
        text-align: center;
    }

    .new-data-table td:first-of-type,
    .new-data-table th:first-of-type {
        padding-left: 24px;
    }

    .new-data-table td:last-of-type,
    .new-data-table th:last-of-type {
        padding-right: 24px;
    }

/* Navigation */

.global-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .global-nav li {
        display: inline-block;
    }

        .global-nav-item {
            display: inline-block;
            padding:0 24px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 64px;
            color: rgba(255,255,255,.64);
        }

        .global-nav-item:hover {
            background-color: rgba(255,255,255,.16);
            color: #fff;
        }

            .global-nav-item--active {
                background-color: #263238;
                color: rgba(255,255,255,1);
            }

/* Meta list */
.meta-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .meta-list-item {
        display: inline-block;
        margin-right: 16px;
        font-size: 12px;
    }
        .meta-list-name {
            display: block;
            font-weight: 700;
        }
            .meta-list-value {
                display: block;
                line-height: 24px;
                font-weight: 300;
            }

/* card */

.card {
    border: 1px solid rgba(0,0,0,.12);
    background-color: #fff;
}

md-card.table md-card-content {
    padding: 0;
}

md-card.table md-card-header {
  background-color:  rgba(156,39,176,0.3);
}

md-card-content.toScroll {
    overflow-x: auto;
}

/* user account */

.user {
    margin-right: 16px;
}
    .user-username {
        font-size: 14px;
        font-weight: 300;
        line-height: 64px;
        color: #fff;
    }

/* Nav Bar */

.secondary-toolbar {
    background-color: #263238;
}

.project {
  margin-left: 16px;
}

.projectname {
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  color: #fff;
}
md-nav-bar .md-nav-bar {
    border: 0;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
    color: rgba(255,255,255,.64);
}

.md-button.md-accent {
    color: #fff;
}

md-nav-bar md-nav-ink-bar {
    color: #fff;
    background: #fff;
}

.md-button.md-active svg {
    color: #fff;
    fill: #fff;
}

.md-button svg {
    vertical-align: top;
    fill: rgba(255,255,255,.64);
}

.md-icon-button svg {
    vertical-align: top;
    fill: #9C27B0;
}

/* Toolbar */

.toolbar-radio-group .md-label {
  color: #fff;
}

.toolbar-radio-group md-radio-button .md-off {
  border-color: #fff;
}

.toolbar-radio-group md-radio-button .md-on {
  background-color: #fff;
}

/* Utilities */

.logo {
    margin: 16px;
}

.phaseTitle{
    font-size:24px;
    color: rgba(0, 0, 0, 0.54);
}

.weekTitle{
    font-size:16px;
    color: rgba(0, 0, 0, 0.54);
}

md-content {
    background-color: transparent !important;
}

.align-sup {
    vertical-align: top;
    font-size: 8px;
}

.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.margin { margin: 16px !important; }
.margin-top { margin-top: 16px !important; }
.margin-right { margin-right: 16px !important; }
.margin-bottom { margin-bottom: 16px !important; }
.margin-left { margin-left: 16px !important; }

.padded { padding: 16px !important; }
.padded-top { padding-top: 16px !important; }
.padded-right { padding-right: 16px !important; }
.padded-bottom { padding-bottom: 16px !important; }
.padded-left { padding-left: 16px !important; }

.bordered { border: 1px solid rgba(0,0,0,.12) !important; }
.border-top { border-top: 1px solid rgba(0,0,0,.12) !important; }
.border-right { border-right: 1px solid rgba(0,0,0,.12) !important; }
.border-bottom { border-bottom: 1px solid rgba(0,0,0,.12) !important; }
.border-left { border-left: 1px solid rgba(0,0,0,.12) !important; }

/* md-select */
.md-select-menu-container.md-active {
    background-color: #fff;
}

.mdDialogFixIE{
  flex-basis: 36%;
  min-width:50%;
}

md-dialog-content md-select {
  margin: 0;
}

.noBorder {
  text-align: center;
  border:none;
}

/* Supplier themes 

.supplier--pasquills {
    background-color:;
}
*/

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.25s;
}

md-toolbar {
  max-height: 64px;
}

/*General CSS*/

.revisionDate{
    color: #FFF !important;
    background-color: darkcyan;
}

.highlightNotInnovare{
    background-color: #f5f5f5;
}

.floatRight{
    float: right;
}

.isDelivered{
    margin-top: 7%;
    margin-left: 7% !important;
}

.flash-button {
  background-color: #9c27b0;
  color: #FFFFFF;
  display: inline-block;
}

@-webkit-keyframes glowing {
  0% { background-color: #9c27b0; -webkit-box-shadow: 0 0 3px #9c27b0; }
  50% { background-color: #263238; -webkit-box-shadow: 0 0 40px #263238; }
  100% { background-color: #9c27b0; -webkit-box-shadow: 0 0 3px #9c27b0; }
}

@-moz-keyframes glowing {
  0% { background-color: #9c27b0; -moz-box-shadow: 0 0 3px #9c27b0; }
  50% { background-color: #263238; -moz-box-shadow: 0 0 40px #263238; }
  100% { background-color: #9c27b0; -moz-box-shadow: 0 0 3px #9c27b0; }
}

@-o-keyframes glowing {
  0% { background-color: #9c27b0; box-shadow: 0 0 3px #9c27b0; }
  50% { background-color: #263238; box-shadow: 0 0 40px #263238; }
  100% { background-color: #9c27b0; box-shadow: 0 0 3px #9c27b0; }
}

@keyframes glowing {
  0% { background-color: #9c27b0; box-shadow: 0 0 3px #9c27b0; }
  50% { background-color: #263238; box-shadow: 0 0 40px #263238; }
  100% { background-color: #9c27b0; box-shadow: 0 0 3px #9c27b0; }
}

.flash-button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

/*Utility class to prevent item appearing in print version*/
.screenOnly {
  @media print { display: none; }
}

// Utility class for print only view
.printOnly {
  @media screen { display: none; }
}

@media print {
    
  body{
    background-color: white;
  }
  
  body, .md-body-1, .md-body-2 {
    font-size: 11px;
  }

  h3 {
    border-top: 1px solid #e2e2e2;
    font-size: 20px;
  }

  table {
    width: 100%;
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid #e2e2e2;
    padding: 2px;
  }

  td {
    text-align: center;
  }

  table { page-break-inside:avoid; page-break-after:auto }
  tbody { page-break-inside:avoid; }
  tr    { page-break-before:avoid; page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
  /*
  table, tr, td {
    page-break-before: avoid;
    page-break-inside: avoid;
  }
 */
  .md-body-1 {
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap; text-align: left;
  }
  
  img {
    max-height: 45px;
    margin-left: 15px;
  }
  
  .printHeader {
      background-color: #f5f5f5;
  }
  
  .highlightNotInnovare{
      background-color: #f5f5f5;
  }
  
}

/* Multi select */ 
.multiSelect {
  max-width: 250px;
}

.selectSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectSelectHeader .header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectSelectHeader .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectSelectHeader md-content._md {
    max-height: 240px; }

.areaslist {
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Benlowe.Strip{
  background: rgba(255, 0, 0, 0.5);
}

.CDMS.Strip{
  background: rgba(128, 128, 128, 0.5);
}

.Construction.Timber.Strip{
  background: rgba(255, 165, 0, 0.5);
}

.Cooks.Fabrication.Strip{
  background: rgba(165, 42, 42, 0.5);
}

.Delphini.Strip{
  background: rgba(0, 0, 255, 0.5);
}

.James.Jones.Strip{
  background: rgba(0, 128, 0, 0.5);
}

.Longley.Concrete.Strip{
  background: rgba(173, 216, 230, 0.5);
}

.Creagh.Strip{
  background: rgba(40, 192, 243, 0.5);
}

.F.P.McCann.Strip{
  background: rgba(57, 93, 105, 0.5);
}

.Milbank.Strip{
  background: rgba(24, 53, 63, 0.5);
}

.Martell.Timber.Engineering.Strip{
  background: rgba(255, 80, 80, 0.5);
}

.North.Yorkshire.Timber.Strip{
  background: rgba(255, 255, 102, 0.5);
}

.Pasquills.Strip{
  background: rgba(255, 255, 0, 0.5);
}

.Stair.Box.Strip{
  background: rgba(144, 238, 144, 0.5);
}

.Timber.Innovations.Strip{
  background: rgba(255, 0, 255, 0.5);
}

.Wyckham.Blackwell.Strip{
  background: rgba(128, 0, 128, 0.5);
}

.Oranmore.Strip{
  background: rgba(255, 204, 102, 0.5);
}



.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }

.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }

.gridListdemoBasicUsage .green {
  background: #b9f6ca; }

.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }

.gridListdemoBasicUsage .blue {
  background: #84ffff; }

.gridListdemoBasicUsage .purple {
  background: #b388ff; }

.gridListdemoBasicUsage .red {
  background: #ff8a80; }



.md-accordion .expandCollapse {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  display: block;
  margin-top: -2px;
  margin-left: -2px;
  overflow: hidden;
}

.md-accordion .expandCollapse:active {
  border: 0px;
}

.md-accordion .expandCollapse:before,
.md-accordion .expandCollapse:after {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  text-align: center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .expandCollapse:before {
  opacity: 1;
  margin-top: -3px;
}

.md-accordion .expandCollapse:after {
  opacity: 1;
  margin-left: -3px;
}

.md-accordion .active:before {
  opacity: 1;
  margin-left: 3px;
  margin-top: 0px;
}

.md-accordion .dataContent {
  height: 0px;
  overflow: hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height: auto;
  padding: 20px;
  display: block;
}

.md-accordion md-toolbar {
  background-color: #FFF;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid rgb(63, 107, 181)
}

.centered {
  position: fixed;
  width:50%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 100;
}

.deliveryDateText {
    position: relative;
    transform: translate(0px, -38%);
    top: 38%;
    font-size: 1vw;
    text-align: center;
}

.deliveryDateHolder {
    border-bottom-style: solid; 
    border-bottom-width: 1px;
}

.dynamicText{
    font-size: 1vw;
}

.subHeader{
    padding: 5px !important;
    font-size: 0.6vw !important;
    color: #000;
    background-color: #FFF;
}

.subHeader > div:first-child{
    padding: 5px !important;
}

.alignTextCenter{
    text-align: center !important;
}

.solidBorder{
    border: 1px;
    border-style: solid;
}

/* nvd3 charts */
.nv-x line{
  display: none;
}
.nv-y2 text{
  display: none;
}

.rectLine{
    stroke-width: 1 !important;
    stroke: rgb(0, 0, 0) !important;
    stroke-opacity: 1 !important;
}

md-tooltip.listTooltip .md-content {
    height: auto;
}

