// Import other files
@import "variables.scss";
@import "mixins.scss";

// Site-specific styles

body {font-family: 'Open Sans';
      color:black;
      font: {size:14px;
             weight:400;}
      background-color: white;
      background-image: url("../img/bg-image.jpg");
      background-repeat: repeat-x;
      background-position: center 110px;
}

.tablet-size {
    @media screen and (max-width: 780px) {
        width:100% !important;
        padding-bottom:10px;
    }
}

.hoverItem {
    :hover{
        background-color: purple;
    }
}

.container-fluid {margin-bottom: 60px;}

.wider {margin:0 25px;}

.widerMaterialRequest {
    margin: 4% 25%;
}

h1 {@include h1 ($purple, left);
    outline: 1px solid $gray;
    border-left:10px solid $purple;
    padding:13px 0px 14px 10px;
    margin:0px;
}

h2::before {content:url(../img/login-icon.svg);}

h3 {font:{size:20px;
          weight:bold;}
        border-top: 1px solid $gray;
        padding:10px 0 0 0;
}

h4 {@include h4 ($purple, left);}

hr {border:1px solid $gray}

.container-fluid {padding:0;}

a {color:$blue;
    &:hover, &:active, &:focus, &.hover, &.active, &.focus {
        text-decoration: underline;
        color:$blue;
        cursor:pointer;
    }
}

ul {list-style:none;
    padding:0px;}

.approvalbuttons p {font-weight: bold;
              font-size: 16px;
               margin-left:20px;}

/*BUTTONS and FIELDS*/

.box {background-color:white; 
      border:1px solid $gray;
      @include shadow(0, 1px, 2px, rgba(0, 0, 0, 0.05));
      margin-bottom:20px;padding:20px;}

.buttonsrow {background-color: $gray;
             padding:20px 0;
             margin-bottom:15px;
    &:last-of-type {margin-bottom:-15px;}
}

.navbar.navbar-fixed-bottom .buttonsrow {margin-bottom:0px !important;}

/*.top .btn {width:100%;
         display: inline-block;
         text-align: center;
}*/
     
    .btn-primary     { @include button (white, $darkgray, none);
        margin-right: 10px;
        padding-top:2px;
        float:left;
        &:hover, &:active, &:focus, &.hover, &.active, &.focus {
        @include button (white, $darkgray, none);
         box-shadow: none !important;
         outline:$outline;  
         margin-right: 10px;
         padding-top:6px;    
         @include shadow-inset (0px, 0px, 0px, transparent);    
         } 
    }
    
    .btn-secondary     { @include button (black, white, none);
                       float:right;
                       padding-top:2px;
        &:hover, &:active, &:focus, &.hover, &.active, &.focus {
        @include button (black, white, none);
         box-shadow: none !important; 
         outline:$outline;  
         padding-top:6px;    
         @include shadow-inset (0px, 0px, 0px, transparent);     
         } 
    }
    
    .btn-third     { @include button (white, black, none);
                     float:right;
                     padding-top:2px;


    }

.btn.disabled.btn-secondary {
                               background-color: white !important;
                               color:$darkgray !important;}

.btn.disabled {@include button ($gray, $darkgray, none);
               @include shadow-inset (0px, 0px, 0px, transparent);
               padding-top:4px;
               margin-right:10px;
               &:last-of-type {margin-right:0px;
 }
               &:hover, &:active, &:focus, &.hover, &.active, &.focus {
                   padding-top:4px;
                   }
}

.btn-primary[disabled], .btn-secondary[disabled]  {padding-top:6px;
     &:hover, &:active, &:focus, &.hover, &.active, &.focus {
                   padding-top:6px;}
}

.btn.btn-link {color:$blue;
               float:right;
               &:hover, &:active, &:focus, &.hover, &.active, &.focus
               {outline: none;
                text-decoration: underline;}
}


/*CONTENT and FORMS*/

.panel-default {
               .panel-heading {background-color: white;
                               border-top:1px solid $lightgray;
                               border-bottom:1px solid $lightgray;
                               padding: 0px; 
                               @include rounded(0px);
                   .panel-title a {font:{size:26px;
                                         weight: 800;}
                                         letter-spacing: 0.2px;
                                         color:$purple;
                       &:hover, &:active, &:focus, &.hover, &.active, &.focus {text-decoration: none;
                       outline:$outline;
                       color:$purple;}
                   }
    }
}

.panel-title {margin-top: -4px;
            .glyphicon {color:white !important; 
                        background-color: $purple !important;
                        padding:20px;
                        margin-right: 5px;
                        font-size:16px;}
}

.input-group-addon {color: white !important;
    background-color: $darkgray !important;
    border: none !important;
    @include shadow-inset (0px, -4px, 0px, #000000);
    padding-top:3px;
               &:hover, &:active, &:focus, &.hover, &.active, &.focus {
                   @include shadow-inset (0px, 0px, 0px, #000000);
                   padding-top:6px;
                   }
}

.requestLink a:hover {
    text-decoration: none !important;
}

.glyphicon {font-size:16px;
            margin-top: 2px;
            vertical-align: 10%;}
.glyphicon-search {margin-top: 5px;}

.form-control {  
    padding: 6px 8px;    
    @media screen and (max-width: 992px) {height: 46px;}
  &:focus {
  border-color: $darkgray;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 8px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 8px rgba(0,0,0,0.1);
}
}

select::-ms-expand {
    display: none;
}

input:not([type=checkbox]), select, textarea {height:$headerheight;
                         border-radius: 2px !important;
                         -webkit-appearance: none;}

.plannerInput {
    height:$headerheight - 10;
    width:200%;
    border: none;
    text-align: left;
}

select:not([multiple]) {
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance:none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(../img/dropdownarrow.png);    
}

.checkrow label {
                 margin-right:15px;
                 font-weight: bold;
}

textarea {
    resize: none;
}
 
.capacity-edit input {
  border: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
  background: transparent;
  height: 20px;
    &:hover, &:active, &:focus, &.hover, &.active, &.focus {box-shadow: none;} 
}

input { box-shadow: none;}

.capacity-edit input[type='number'] {
  -moz-appearance:textfield;
}

.capacity-edit input::-webkit-outer-spin-button,
.capacity-edit input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#srch-term {height:$headerheight+15;}

.panel-group .panel {@include rounded(0px);
                     margin-bottom: 30px;}

.form-horizontal .form-group {padding:0;
                              margin-right:0;
                              margin-left:0;}

.form-horizontal .control-label {text-align: left;}

.form-horizontal .control-label, .form-control {font-size: 14px;}

.has-error { .control-label{color:$red;}
             .form-control {border-color: $red;
                 &:focus {border-color: $red;
                          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(208, 2, 27, 0.2);
                          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(208, 2, 27, 0.2);}
    }
             p{font-size: 12px;
               color:$red;
               margin: 0;}
}

.fieldset .col-sm-3, .fieldset .col-sm-6 {padding-right:0;}

.fieldset .col-sm-3:last-of-type, .fieldset .col-sm-6:last-of-type {padding-right:15px;}


/*NAVBAR*/

.navbar-header {height:$headerheight * 2;}

.navbar {border-radius: 0px;
          .navbar-brand {line-height: 68px;
               float:none;
               text-align: center;
               img {
                    display: inline-block;}
}
          }

@media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }


.navbar>.container .navbar-brand {margin-left: 0;
                                  margin:auto;}

.navbar-default {
    border: 0;
    height: 115px;
    background-color: $purple;
    border-bottom: 39px solid $lightpurple;
    margin-bottom: 40px;
    padding:0 20px; 
    
    .navbar-nav li a.dropdown-toggle{color:$darkpurple;
                      line-height: $headerheight +10;
                      background-color:$green;
                      font-weight:600;
                      @include shadow-inset (0px, -4px, 0px, $lightgreen);
                  &:hover, &:active, &:focus, &.hover, &.active, &.focus {color:black;
                  background-color:$lightgreen;
                  @include shadow-inset (0px, -4px, 0px, $green);}
                  .glyphicon {margin-right:5px;
                              vertical-align: baseline;}        
    }
    
      .navbar-toggle {background-color: transparent;
                    border: 0;
                    margin-top: 28px;
                    margin-right: 10px;
        &:hover, &:focus {background-color: transparent;}
            .icon-bar {width:30px;
                     background-color:$darkgray;
                     margin-top: 6px;
                       }
                    }
}

.navigation   {background-color: black;
               margin:0 -20px;
               height: 50px;
               font-size: 16px;
    letter-spacing: 0.5px;
               ul {padding-left:15px;}
                .navbar-nav li {vertical-align: middle;
                      height:50px;
                 a {color:$gray;
                      line-height: $headerheight / 2;
                      background-color:transparent;
                      font-weight:600;
                      @include shadow-inset (0px, 0px, 0px, $lightgreen);
                  &:hover, &:active, &:focus, &.hover, &.active, &.focus {
                  color:white;   
                  background-color: $darkgray;}  
                  } 
}
}

.navbar-nav>li>.dropdown-menu { border-top-left-radius: 4px;
                                border-top-right-radius: 4px;
                                min-width:initial;
                                background-color: black; 
                                border: 4px solid black; 
                              
                        &:after 
                                {
                                content: '';
                                position: absolute;
                                border-style: solid;
                                border-width: 8px 0 8px 9px;
                                border-color: transparent black;
                                display: block;
                                width: 0;
                                z-index: 1;
                                margin-top: -8px;
                                right: -13px;
                                top: 50%;
                                }
             li a    {background-color: transparent; 
                      color:$gray; 
} 
}



.dropdown-menu>li>a:hover, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus, .dropdown-menu>li>a.hover, .dropdown-menu>li>a.active, .dropdown-menu>li>a.focus {background-color: transparent;
color:white;
}

.navbar-right .dropdown-menu 
{@media screen and (min-width: 767px) {
                                       top: 16px;
                                       right: 160px;
    }}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:white;
    background-color: $darkgray;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {color:$darkpurple;
    background-color: $green;}


/*TABLE*/

/*table, table td{
   border-color: #ccc;
}*/

.table {margin:0px;}
.table-bordered {border:0px;
                 border-top: 1px solid #ddd;
            thead tr th {border-left:0px;}
            thead.top tr th {border-left:1px solid $gray;
                             border-bottom: 1px solid $gray; 
                             font-weight: normal; 
                             &:first-of-type {border-left: 0;}} 
           thead.top tr.graybg th {background: lighten($gray, 8%); 
                                   font-weight:700;  
}
            tbody tr td {border-left:0px;} 
}

th.no-border{border:none !important;
             text-align: left;
             font-weight: bold !important;}

.table>thead>tr>th,  .table>tbody>tr>td {vertical-align: middle;}

table th, table tr{text-align: center;}

.table.left tr th:first-of-type, .table.left tr td:first-of-type{text-align: left; padding-left:20px;}

.table>tbody>tr>td {padding:18px 8px;}

.table>thead>tr>th {border-bottom:initial;}

.table>tbody>tr.month>td {padding:2px 15px;
                         background: #ddd;
                         text-align: left;}

th {background: lighten($gray, 8%)}

tr.success td.weekend {@include greengraystrips;}
tr td.weekend, tr th.weekend  {@include graystrips;}
.top tr td.weekend, .top tr th.weekend  {@include graystripsimp;}
tr td.newrev {background: $gray;}
tr.colorbg td.weekend {background:$lightgreen;}

.colorbg {background:$lightgreen;}

.colortxtgr {color:$green;}
.colortxtrd {color:$red;}

/*Highlight third party supplier*/
.thirdparty {@include graystrips;}
.thirdparty:active, .thirdparty:hover  {
  background: $lightblue !important;
}

/*Highlight current day*/
.table-bordered>tbody>tr>td.current {box-shadow: 
  inset -2px 0px 0px $lightpurple, 
  inset 3px 0px 0px $lightpurple;
}

.table-bordered>tbody>tr:last-of-type>td.current {
box-shadow: 
  inset -2px 0px 0px $lightpurple, 
  inset 3px 0px 0px $lightpurple,
  inset 0px -2px 0px $lightpurple;    
}

.table-bordered>thead>tr>th.current
{box-shadow: 
  inset -2px 0px 0px $lightpurple, 
  inset 3px 0px 0px $lightpurple,
  inset 0px 2px 0px $lightpurple;    
}

/*TABLE ROW HIGHLIGHT*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-hover tbody tr:hover td.weekend {
  background: $lightblue !important;
}

.table-hover tbody tr.active:hover td, .table-hover tbody tr.active:hover th, 
.table-hover tbody tr.info:hover td, .table-hover tbody tr.info:hover th {
  background: $lightblue !important;
}

.table-hover tbody tr.success:hover td, .table-hover tbody tr.success:hover th,
.table-hover tbody tr.success:hover td.weekend{
  background: lighten($lightgreen, 5%) !important;
}

.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
 background: lighten($lightgreen, 15%);
}

.table>tbody>tr.new>td, .table>tbody>tr.new>th, .table>tbody>tr>td.new, .table>tbody>tr>th.new, .table>tfoot>tr.new>td, .table>tfoot>tr.new>th, .table>tfoot>tr>td.new, .table>tfoot>tr>th.new, .table>thead>tr.new>td, .table>thead>tr.new>th, .table>thead>tr>td.new, .table>thead>tr>th.new {
 background: $gray;
}

.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info 
{@include graystrips;}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
 background: $lightblue !important; }

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {vertical-align: middle;}

td {min-width:35px;}

th, td {overflow:hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;}

.minusdays {
    font-weight: 700;
    color: white;
    background-color: #D0021B;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.minusdaysRed {
    font-weight: 700;
    color: white;
    background-color: #D0021B;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.minusdaysGrey {
    font-weight: 700;
    color: white;
    background-color: #A8A8A8;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.notfinal {
    color:#D0021B;
    font-weight:600;
}

.userGuess {
    color:#008b00;
    font-weight:600;
}

.noMatch {
    color:black;
    background:#ff6666;
}

thead.top {
     tr th {background:white;
    .jump{margin-top: -30px;} 
    }}
.table > thead.top:first-child > tr:first-child > th {border-top: 1px solid $gray;}
.table > thead.top:first-child > tr:nth-of-type(3) > th {border-bottom: 1px solid $gray;}

td img {vertical-align: -7%;
        margin-right:4px;}

.actuals-med-risk { position: relative; 
                    background-image: none !important;
                       }
.actuals-med-risk:after {
    content: url("../img/medrisk-icon.svg");
    float: right;
    margin-top: -35px;
    margin-right: -2px;
    display: block;}


.actuals-high-risk { position: relative; 
                    background-image: none !important;
                       }
.actuals-high-risk:after {
    content: url("../img/highrisk-icon.svg");
    float: right;
    margin-top: -35px;
    margin-right: -2px;
    display: block;}

.table-bordered > thead > tr > th:last-of-type, .table-bordered > tbody > tr > td:last-of-type {border-right:0;}

/*SCROLLABLE TABLE WITH A FIXED HEADER*/

.table-fixed thead {
  width: 100%;      
    th .checkbox {margin: 0;
        label {font-weight:bold;}
    }
}

.maxWidth{
    width:100%;
}

.checkbox {margin:0;}

.checkrow .checkbox {margin-top:10px;
                     margin-bottom:10px;
}

.table-fixed > thead:first-child > tr:first-child > th {padding-right: 20px;
  border-bottom:1px solid $gray;}
.table-fixed>tbody>tr:first-child>td{border-top: 0;}

.table-fixed tbody {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

/*Overwrite ui-grid.min*/

.areasGrid {
 height: 400px;
}

.arealist .panel-body {
  padding-top: 0;
}

.arealist .checkrow .checkbox {
  margin-top: 0;
}

.arealist .control-label {
  padding-top: 0;
}
.panel-body {/*padding-top: 0;*/
             border: 0;
 }    
.ui-grid {border: 0; 
    border-top:1px solid $gray;
 } 
.ui-grid-header-cell {border-right: 1px solid #ddd !important;
 }
.ui-grid-cell-contents {padding: 20px 0px;
                        text-align: center;
                        border-bottom: 1px solid #ddd !important;
 }
.ui-grid-header {border-bottom: 0px;
 }
.ui-grid-canvas {padding:0;
 }
.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: white;
    height: initial;
}
.ui-grid-top-panel {background: white;
                    text-align: center;
                    border-bottom:0px;
}
.ui-grid-cell {border-color: #ddd !important;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {height: initial;
}
.ui-grid-row .ui-grid-cell:hover, .ui-grid-row .ui-grid-cell:active, .ui-grid-row .ui-grid-cell:focus {background-color: $lightblue !important;
}
div.ui-grid-viewport.ng-isolate-scope {height: initial;
}
.ui-grid-invisible { display: none; 
}
.table-responsive > .fixed-columns-fixed {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 2px solid #ddd !important;
    background-color: #fff;
}
.ui-grid-render-container-body .ui-grid-header-canvas {width: 100%;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child,
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child
{border-right-color: #ddd;
}
.ui-grid-scrollbar-placeholder { background-color: #ddd !important;
                                 border-top: 1px solid #ddd !important;
}
.table .form-group {margin:0px;
}
.ui-grid-header-cell {background-color: $lightgray;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {background: $lightblue !important;
}   

/*DATEPICKER*/

.uib-datepicker-popup.dropdown-menu {box-shadow: none;
                                     background-color: white;
                                     border:3px solid $purple;
                                     padding:0;
    th {border-bottom:1px solid $gray;}
    td {padding:6px;}
}

.uib-datepicker-popup:focus, .uib-datepicker-popup:active {outline:none;}

.uib-daypicker button {border-radius: 0;
                         border:0;
                         font-size:14px;
                         .btn-sm.pull-left, .btn-sm.pull-right, {
                                            background-color: transparent;}
      .glyphicon { font-size: 12px;
      margin-top: 4px;}
  }

  .btn-default, .btn-default[disabled], .btn-default[disabled]:hover  {background-color: transparent;}

  .btn-default:focus  {outline:0;}

  .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {background-color: $purple;
      border: 0;
      outline:0 !important;}

  /*BUBBLE SPEECH*/
    .bubble {
      position: relative;
      width: 100%;
      min-height: 100px;
      padding: 0px;
      background: $lightgray;
      @include shadow-inset (-2px, 0px, 0px, black); 
      border:1px solid $gray;  
      border-right:1px solid transparent;  
      padding: 15px 15px 20px 15px;  
            &:after {
              content: "";
              position: absolute;
              top: 18px;
              right: -14px;
              border-style: solid;
              border-width: 12px 0 12px 14px;
              border-color: transparent black;
              display: block;
              width: 0;
              z-index: 1;
          }
  }

  .bubble, .log, .summary {margin-bottom:15px;
                  ul li {border-bottom:1px solid $gray;
                        padding:10px 0;
                        &:first-child {color:black;
                         font-weight:bold;}
                        &:last-child{border:0px;}
                 p, a {display: inline-block;
                       margin:10px 0;
                    vertical-align: middle;
                     img {line-height: 30px;
                          margin-right: 10px;}
                      }
                 button.btn.btn-link {vertical-align: -webkit-baseline-middle;
                 line-height: 30px;}

      }
  }

  .bubble ul {margin-top:-15px;}

  .log {color:$red;}

    .bubble-empty {
      position: relative;
      max-width: 500px;
      height: auto;
      padding: 0px;
      background: white;
      border:1px solid black;
      border-width: 2px 0 0 0;      
      padding: 30px 15px 20px 15px; 
      text-align: center;
      font: {size: 16px; 
             weight:600;}
      display: block;
      margin: auto;  
          &:after {
              content: "";
              position: absolute;
              top: -15px;
              left: 47%;
              border-style: solid;
              border-width: 0 14px 15px;
              border-color: black transparent;
              display: block;
              width: 0;
              z-index: 1;
  }
  }

  .upload {width:50px;
           margin:10px auto 35px auto;
           display:block;}

  .building {width:310px;
           margin:10px auto 35px auto;
           display:block;}

  .export {height:58.33px;
           margin:10px auto 35px auto;
           display:block;}
  .panel-body.exportimg {border-bottom:2px solid $gray;}

  /*PROGRESSBAR*/

  .panel-progress {font-weight:bold;
                   font-size:20px;
                   vertical-align: middle;}

  .progress-bar {background-color: $purple;
                 color:white;}

  .progress {background-color: $gray;
             height: 20px;
             border-radius: 10px;}

  /*BREADCRUMBS*/

  .breadcrumb {background-color: $darkgray;
               margin:-26px -1px 0 -1px; 
               border-radius: 0px;
               padding-left: 35px;
               font-size: 12px;
      a {color:$lightblue;}
      .active {color:white;
  }   
  }


  /*POPUP*/
  .modal-body {text-align: center;
               font-weight:600;
                img {padding-top: 15px;
                     margin-bottom:10px;
                     color: $red;}
                    p {padding-bottom: 10px;}
  }

  .modal-content {border-radius: 2px;
                  border: 5px solid $gray;} 

  .modal-dialog {margin: 300px auto;}

  [ng-click],
  [data-ng-click] {
      cursor: pointer;
  }

  .modal-header, .modal-footer {border:0;}

  .modal.fade .modal-dialog {
      -webkit-transform: scale(0.1);
      -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
      transform: scale(0.1);
      top: 120px;
      opacity: 0;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s;
  }

  .modal.fade.in .modal-dialog {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transform: translate3d(0, -120px, 0);
      transform: translate3d(0, -120px, 0);
      opacity: 1;
  }

  /*RISKS AND REVISIONS INDICATORS*/

  .dashed {
      border-bottom: 1px dashed black;
      display: inline;
  }

  .mediumRisk {
      background-color: orange;
  }

  .highRisk {
      background-color: red;
  }

  /*REVISION REQ*/

  .table td button.btn.btn-primary, .table td button.btn.btn-secondary  {float: none;
                                                                         height: 40px;
                                                                         width:140px;
  }

  .table.left>thead:first-child>tr:first-child>th {border-top:1px solid $gray;}

  td.request {background-color: $lightgray;}

  button.revisionreq.btn.btn-link { float:none;
                                    padding:0;
                                    color:$blue;
                                    font-weight:600;
      &:hover, &:active, &:focus, &.hover, &.active, &.focus {text-decoration: none;}
      span {border-bottom: 1px dashed black;}
  }


  .revisionapproved {
      &:after {
      content: url("../img/complete-icon.svg"); 
      float:right;    
      margin-top: -16px;
      margin-right: -4px;
      display: block;
      @media screen and (max-width: 1366px) {margin-top: -37px;}
      } 
      button.btn.btn-link { float:none;
                            padding:0;
                            color:$blue;
                            font-weight:600; 
      &:hover, &:active, &:focus, &.hover, &.active, &.focus {text-decoration: none;}
      span {border-bottom: 1px dashed black;}
  }
  }


  .revisionrejected {
      &:after {
      content: url("../img/reject-icon.svg"); 
      float:right;    
      margin-top: -16px;
      margin-right: -4px;
      display: block;
      @media screen and (max-width: 1366px) {margin-top: -37px;}
      } 
      button.btn.btn-link { float:none;
                            padding:0;
                            color:$blue;
                            font-weight:600;
      &:hover, &:active, &:focus, &.hover, &.active, &.focus {text-decoration: none;}
      span {border-bottom: 1px dashed black;}
  }
  }

  /*LOGIN*/
  .login {text-align: center;
          margin-bottom:15px;
          img {height:60px;}
  }
  .tabletMode  {
      @media screen and (max-width: 1366px) {
        float:none;
        width:100%;
        height:55px;
        padding-bottom:10px;
        button{
            float:none;
            width:100%;
            height:55px;
            padding-bottom:10px;
            &:hover, &:active, &:focus, &.hover, &.active, &.focus {padding-top: 5px;}
                
            
        }
        
        }
  }  

  .middle {
      text-align: center; 
      width: 50%;
  }
  
  .alertUploader {
      text-align: center;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid transparent;
      border-radius: 4px;
  }

  .alert {text-align: center;
          border:0;
          padding: 8px;
          border-radius: 0px;
          margin-top:75px;
          }
  .alert-danger {color:$red;
                 background-color:lighten($red,55%);
  }
  .alert-success {color: darken($green, 15%);
                 background-color:lighten($lightgreen, 10%);
  }

  /*QA*/ 

  .body-qa .navbar-default{@media screen and (min-width: 1024px){
      height: 50px;
      border-bottom: 4px solid #af78b4;
      .navbar-nav li a {line-height: 20px;}
      }
  }
  .body-qa .navbar-default{@media screen and (max-width: 1023px){margin-bottom:60px;}}

  .body-qa .navigation {@media screen and (min-width: 1024px){height: 30px;}
  }

  .body-qa .navbar-header {@media screen and (min-width: 1024px){height: 30px;}
  }

  .body-qa .navbar .navbar-brand {@media screen and (min-width: 1024px)
       {line-height: 40px;
      img {width:90px; 
           height:auto;}
  }
  }

  .body-qa{background-image: none;
           max-height: 600px;
      .container-fluid {margin-bottom: 0;}
      p {display: inline-block;
         font: {size:16px;
             weight:700;}
             span {font-weight:500;
             margin-right:10px;
                 &:last-of-type{margin-right:0px;}}
      &:nth-of-type(2) {float: right;}
   }
     .form-group {margin-top:15px;
       div.col-sm-6 {@media screen and (min-width: 1024px)
                    {padding-left: 0;}
         }
      }
      .buttonsrow .container {@media screen and (min-width: 1024px)
                             {padding-right: 0;
                              padding-left: 0;
                   div.col-xs-12 {padding-right: 0;
                              padding-left: 0;}    
          }
      }

      a.btn-primary {padding-top: 24px;
                    float:none;
                    width:165px;
                    height: 70px;
                    margin-right: 0;
                    &:hover, &:active, &:focus, &.hover, &.active, &.focus {padding-top: 26px;}
      }

      .modal-backdrop {z-index: -1;}

      .modal-dialog {margin:60px auto;
          @media screen and (max-width: 600px) {margin:30px;       
          }
      }

      .operativeslist.modal-body {padding-top:0;
      @media screen and (max-width: 600px) {padding:0;       
          }    
          .row {max-height: 310px;
      overflow-y: scroll;
      overflow-x: auto;
      @media screen and (max-width: 600px) {max-height: 1024px;       
          }
              .panel-body {padding:25px;
                           border:1px solid $gray;
                           border-left: 0px;
                           border-top: 0px;
              }
          }
      }

      .row {@media screen and (max-width: 600px) {margin:0;}}
      .col-xs-8 {@media screen and (max-width: 600px) {padding-left:0;
       }
      }

      .navbar-default {margin-bottom: 20px;
                       @media screen and (max-width: 1023px) {margin-bottom: 30px;
       }    
      }

      .navbar-collapse.collapse {
      display: block!important;
      float:right;    
      }

      .navbar-nav li {line-height: 50px;
           a {color:$darkpurple;
              @media screen and (max-width: 1023px) and (min-width: 767px){line-height:50px !important;}}
          &:last-of-type{
                      position: absolute;
                      top: 0px;
                      right: 15px;
                      line-height: $headerheight +10;
                      background-color:$green;
                      font-weight:600;
                      @include shadow-inset (0px, -4px, 0px, $lightgreen);
                    &:hover, &:active, &:focus, &.hover, &.active, &.focus {color:black;
                    background-color:$lightgreen;
                    @include shadow-inset (0px, -4px, 0px, $green);}
                    .glyphicon {margin-left:4px;
                                vertical-align: text-top !important;}    

          }

          &:first-of-type{
             color: white;     
             background-color: $darkgray;
             padding: 0 15px;
             @include shadow-inset (0px, -4px, 0px, lighten($darkgray, 15%));
             position: absolute;
             right: 115px;
             top:0px;
             font-weight: lighter;
             letter-spacing: 0.3px;
             @media screen and (max-width: 1023px) {position: absolute;
                                                   width: 100%;
                                                   left: 0;
                                                   top: 80px;
                                                   @include shadow-inset (0px, 0px, 0px, lighten($darkgray, 15%));}
      }
      }
      .navbar-nav li span:after {content:",";
      margin-right:2px;  
      }
      .navbar-nav li span:last-of-type:after {content:"";
      margin-right:0px;
      }
      .navbar-default .navbar-nav li a {@media screen and (max-width: 768px) {line-height: 60px;}
      }

      .navbar-collapse {
      display: block !important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible !important;
      visibility: visible !important;
      float:right;}

      .table td {padding: 25px 8px;}
  }

  .container.qa {@media screen and (max-width: 600px){padding:0;}}

  .qa {min-height: 394px; 
       max-height: 394px;
      .bubbleqa {   
      position: relative;
      width: 100%;
      padding: 0px;
      @include shadow-inset (-2px, 0px, 0px, black); 
      border:0;  
      border-right:1px solid transparent;  
      padding: 0 40px 0 0;  
      @media screen and (max-width: 600px) {padding: 0 20px 0 0;
          min-height: 830px; 
          max-height: 830px;}
            &:after {
              content: "";
              position: absolute;
              top: 145px;
              right: -14px;
              border-style: solid;
              border-width: 12px 0 12px 14px;
              border-color: transparent black;
              display: block;
              width: 0;
              z-index: 1;
          }    
      .box {border:1px solid $gray;
            min-height: 394px; 
            max-height: 394px;
            margin-bottom: 0;
          @media screen and (max-width: 600px) {
          min-height: 830px; 
          max-height: 830px;}}    
  }
      .box {max-height: 394px; 
            overflow-x: auto;
            @media screen and (max-width: 600px) { 
            max-height: 830px;}
            @include shadow(0, 0, 0, rgba(0, 0, 0, 0.05));
            margin-bottom: 0;
      }    
     .col-xs-3  {@media screen and (max-width: 600px) {padding-right: 5px;
                                                       padding-left: 5px;} 
      }
     .col-xs-9 {@media screen and (max-width: 600px) {padding-right: 5px;}
                 @media screen and (min-width: 1023px) {padding-right: 0px;}        
      } 
  }

  .vertical-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  table.floatThead-table {
      background-color: #FFF;
  }

  // Control what's displayed for printing Delivery Schedules

  // Utility class to prevent item appearing in print version
  .screenOnly {
    @media print { display: none; }
  }

  // Utility class for print only view
  .printOnly {
    @media screen { display: none; }
  }

  @media print {
    body {
      font-size: 10px;
    }
      
    table, tr, td {
      page-break-before: avoid;
    }

    .table>thead>tr>th {
      padding: 5px;
    }
    .table>tbody>tr>td {padding:5px 2px;}

    .table.left tr th:first-of-type, .table.left tr td:first-of-type{padding-left:10px;}
      
    .center-vertical {
      display: inline-block;
      vertical-align: middle;
    }

    p {
      word-wrap: break-word;
      margin: 0 0 5px;
    }
  }

  td.longtext {
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap; text-align: left;
    max-width: 200px;
  }
  
  td.longtextRequest {
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap; text-align: left;
    text-align: center;
  }
  
  .requestEdit{
    line-height: 5px;
  }
  
  .flex-container
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-item
{
  outline: 1px solid #E2E2E2;
  margin: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
  flex: 1 0;
  height: auto;
  font-size: 16px;
}

.ti{
    font-size: 1.4vw;
}

.sm{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 2vw;
}

.md{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 3vw;
}

.lg{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 4.5vw;
}

.red-indicator {
    background-color: red;
}

.amber-indicator {
    background-color: #ffcc00;
}

.green-indicator {
    background-color: green;
}

.purple-indicator {
    background-color: purple;
}

.white-indicator {
    background-color: #FFF;
}

#performanceDate{
    font-size: 1.2vw;
    height: 100%;
}

.areaslist {
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.qaErrors{
  color: red;
}

/* nvd3 charts */
.nv-x line{
  display: none;
}
.nv-y2 text{
  display: none;
}

.rectLine{
    stroke-width: 1 !important;
    stroke: rgb(0, 0, 0) !important;
    stroke-opacity: 1 !important;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #BED600;
  border-right: 16px solid black;
  border-bottom: 16px solid #903F98;
  border-left: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#estimatedAmount {
  fill-opacity: 0.2;  
}

#estimatedAmountAnim {
    -webkit-animation: blink 0.5s infinite ;
            animation: blink 0.5s infinite ;
}

@-webkit-keyframes blink {
  0% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0.2;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes blink {
  0% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0.2;
  }
  100% {
    fill-opacity: 1;
  }
}

.specialInput{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;

  //transform: rotateX(45deg) rotateY(-10deg) rotate(25deg) scale(2)
  .label{
    position:absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
    }
  .border{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
  }
  .input{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .15s ease;
  
    &:hover{
      background: rgba(#223254,.03);
    }
    &:not(:placeholder-shown){
      + span{
        color:#5A667F;
        transform: translateY(-26px) scale(.75);
        }
    }
    &:focus{
      background: none;
      outline: none;
    }
      + span{
        color: #0077FF;
        transform: translateY(-26px) scale(.75)
      }
        + .border{
         transform: scaleX(1)
        }
  }
}

.pinInput{
    height:55px; 
    min-width:20%; 
    font-weight: bold; 
    font-size: large;   
}

.greenDot {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
}

.redDot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > span {
  background-color: white;
  color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
      