<qa-inn-navbar/>

<div class="container" ng-init="vm.whichHTML = 'panelQA'">
  <div class="row">
      <div>
        <p>Panel: <span>{{vm.panel.id}}</span></p>
        <p><span>Start: <span>{{vm.panel.qa.started | date : "HH:mm" }}</span></span> <span data-ng-if="vm.panel.qa.finishAssembly !== undefined">Assembly: <span>{{vm.panel.qa.finishAssembly | date : "HH:mm" }}</span></span><span>Duration: <span>{{vm.duration | date : "HH:mm:ss"}}</span></span></p>
      </div>
    <form class="form-horizontal" name="qaForm" data-ng-submit="vm.save(qaForm.$valid)">
      <div class="box">
        <div class="row panel-body">
          <div class="form-group col-sm-3">
            <label for="completed" class="control-label col-sm-5">Length Mid</label>
            <div class="col-sm-6">
              <input class="form-control" ng-model="vm.panel.qa.midLength" name="midLength" type="number" min="{{vm.panel.dimensions.length-50}}" max="{{vm.panel.dimensions.length+50}}" required/>
              </br>
              <span class="qaErrors" ng-show="qaForm.midLength.$error.min">Not near design size!</span>
              <span class="qaErrors" ng-show="qaForm.midLength.$error.max">Not near design size!</span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="completed" class="control-label col-xs-12 col-sm-5">Height Mid</label>
            <div class="col-sm-6">
              <input class="form-control" ng-model="vm.panel.qa.midHeight" name="midHeight" type="number" min="{{vm.panel.dimensions.height-50}}" max="{{vm.panel.dimensions.height+50}}" required/>
              </br>
              <span class="qaErrors" ng-show="qaForm.midHeight.$error.min">Not near design size!</span>
              <span class="qaErrors" ng-show="qaForm.midHeight.$error.max">Not near design size!</span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="completed" class="control-label col-xs-12 col-sm-6">Diagonal L-R</label>
            <div class="col-sm-6">
              <input class="form-control" ng-model="vm.panel.qa.diagonalLength" type="number" min="50" required/>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="completed" class="control-label col-xs-12 col-sm-6">Diagonal R-L</label>
            <div class="col-sm-6">
              <input class="form-control" ng-model="vm.panel.qa.diagonalHeight" type="number" min="50" required/>
            </div>
            
          </div>
          
        </div>
        
      </div>
      <div class="box" style="background-color:darkgrey">
      <div data-ng-if="vm.productionLine === 'SIP'" style="background-color:darkgrey">
        <div >
          <div class="container">
            <div class="col-xs-3 tabletMode" style="display:contents">
              <button class="btn btn-primary" data-ng-if="qaForm.$valid && vm.panel.qa.finishAssembly !== undefined || vm.panel.qa.completed !== undefined" type="submit">Save and Finish</button>
              <button class="btn btn-primary" data-ng-if="qaForm.$valid && vm.panel.qa.finishAssembly === undefined && vm.panel.qa.completed === undefined " type="button" data-ng-click="vm.finishAssembly(vm.panel.id)">Finish Assembly</button>
            </div>
            <div class="col-xs-3 tabletMode" style="display:contents">
                <button  class="btn btn-secondary" type="button" ng-click="vm.showErrors = !vm.showErrors" ng-hide="vm.showErrors === true">new error</button>
                <div ng-show="vm.errorSuccess === true">Error Logged</div>
            </div> 
            <div class="col-xs-3 tabletMode" style="display:contents">
              <button class="btn btn-primary"  data-ng-if="vm.panel.qa.started !== undefined && vm.panel.qa.finishAssembly !== undefined && vm.panel.qa.completed === undefined" type="button" data-ng-click="vm.undoPrevious(vm.panel.id)">Undo</button>
            </div>
            <div class="col-xs-3 tabletMode" style="display:contents">
              <button class="btn btn-secondary" style="margin-right:25%" type="button" confirm-if="qaForm.$dirty" confirm="You haven't clicked on the 'Save and Finish' button and by going back you will lose any modifications you have made to this panel. Are you certain that you want to continue?" data-ng-click="vm.goBack()">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-if="vm.productionLine !== 'SIP'">
        <div >
          <div class="container">
            <div class="col-xs-12">
              <div class="col-xs-4 tabletMode">
                <button class="btn btn-primary" data-ng-if="qaForm.$valid" type="submit">Save and Finish</button>
              </div>
              <div class="col-xs-4 tabletMode">
                <button  class="btn btn-secondary" type="button" ng-click="vm.showErrors = !vm.showErrors" ng-hide="vm.showErrors === true">new error</button>
              </div>
              <div class="col-xs-4 tabletMode">
                <button class="btn btn-secondary" type="button" confirm-if="qaForm.$dirty" confirm="You haven't clicked on the 'Save and Finish' button and by going back you will lose any modifications you have made to this panel. Are you certain that you want to continue?" data-ng-click="vm.goBack()">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      

    </form>
  </div>
</div>



<div uib-collapse="!vm.showSelectPopup" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="operativeslist modal-body" data-ng-if="vm.showSelectPopup">
        <div class="row">
          <div class="panel panel-default">
            <div data-ng-if="vm.showSelectPopup" data-ng-repeat="operative in vm.operatives() | orderBy: 'name'">
              
              <div ng-show="!vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  ng-class="{colortxtgr: vm.isSelected(operative.$id)}">
                {{operative.name}}
                
              </div>
              
              <div ng-if="vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                   ng-style="{color: vm.color}">
                {{operative.name}} 
              </div> 
              <div ng-if="!vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  style="color:red">
                {{operative.name}} 
              </div>               
            </div>
          </div>
        </div>
        
                

        <div class="row buttonsrow">
            <div class="col-xs-4">
            <button class="btn btn-primary " type="button" ng-click="vm.done()">Done</button>
            </div>
            <div class="col-xs-4">
            <input  placeholder="Pin" size="4" class="btn pinInput" ng-hide="!vm.showPinPopup" ng-keyup="vm.digitEntered(vm.pin)" ng-model="vm.pin">
            </div>
            <div class="col-xs-4">
              <button class="btn btn-secondary" type="button" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div> 
      </div>
    </div>
  </div> 
    <div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" uib-modal-backdrop="modal-backdrop" modal-animation="true" ></div> 
</div>


<div uib-collapse="!vm.showErrors" class="modal fade " tabindex="-1" role="dialog" style="bottom:25%;">
  <div class="modal-dialog">
    <div class="modal-content" ng-hide="vm.confirm">
      
      <div style="overflow-y:auto;height:auto;"><h1><button style="float:left;" ng-click="vm.showErrors = false">&#10006 </button>Errors List:</h1>
        <div ng-repeat="error in vm.errorsList" style="margin-bottom:7px;margin-top:7px;"><input ng-click="vm.confirm = true;vm.show = true;vm.error = error;vm.hideCancel = false;" class="hoverItem" style="width:100%;background-color: white;border-left:purple 6px solid;text-align:left;" ng-model="error" type="button" name="error" value="{{error}}"></div>
      </div>
    </div>
  </div>  
    
    
  <div class="modal-content modalClose" style="width:80%;left: 5%;height: -webkit-fill-available;" ng-show="vm.confirm">
    <div>
      <h3>Are you sure you would like to add this error to this panel?</h3>
      <div style="text-align: center;font-size: 17px;" >"{{vm.error}}"      
        <br>
        <inn-image-uploader vm.confirm="vm.confirmErrors" data="vm.panel" error="vm.error" ></inn-image-uploader> 
        <button  class="btn btn-secondary" ng-click="vm.confirm = false;vm.confirmErrors = false;vm.showErrors = false;">cancel</button>
        <button  class="btn btn-secondary" style="float:left" ng-click="vm.showErrors = false;vm.confirm = false;">Save</button>
      </div>
    </div>
  </div>
    

  
  
  <div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" uib-modal-backdrop="modal-backdrop" modal-animation="true" ></div> 
</div>


