<div class="container" ng-init="vm.whichHTML = 'prekitQA'">
    <div class="row">
        <div>
            <p>Jobsheet: <span>{{vm.jobsheet.jobsheet}}</span></p>
            <p>Start: <span>{{vm.jobsheet.started| date : "HH:mm" }}</span> Duration: <span>{{vm.duration| date : "HH:mm:ss"}}</span></p>
        </div>
        <form class="form-horizontal" name="qaForm" data-ng-submit="vm.save(qaForm.$valid)">
            <div class="box">
                <table class="table leftleft">
                    <thead>
                        <tr>
                            <td> Material Description </td>
                            <td> Amount </td>
                            <td> Total </td>
                            <td> Length </td>
                            <td> Qty </td>
                            <td> Length </td>
                            <td> Qty </td>
                            <td> Length </td>
                            <td> Qty </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="list in vm.cuttingList">
                            <td class="col-xs-4">{{list.type}}</td>
                            <td class="col-xs-4">{{list.cuttingDetails.required/1000 | number : 1}} m</td>
                            <td class="col-xs-4">{{list.cuttingDetails.actual/1000 | number : 1}} m</td>
                            <td class="col-xs-4">5.4 m</td>
                            <td class="col-xs-4"><input class="form-control" ng-model="list.lengths.fives" ng-change="vm.saveTotal(list)" style="width: 100px;" type="number" step="any"/></td>
                            <td class="col-xs-4">4.8 m</td>
                            <td class="col-xs-4"><input class="form-control" ng-model="list.lengths.fours" ng-change="vm.saveTotal(list)" style="width: 100px;" type="number" step="any"/></td>
                            <td class="col-xs-4">3.6 m</td>
                            <td class="col-xs-4"><input class="form-control" ng-model="list.lengths.threes" ng-change="vm.saveTotal(list)" style="width: 100px;" type="number" step="any"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="navbar navbar-fixed-bottom">
                <div class="row buttonsrow">
                    <div class="container">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" type="submit">Save and Finish</button>
                            <button class="btn btn-secondary" type="button" confirm-if="qaForm.$dirty" confirm="You haven't clicked on the 'Save and Finish' button, jobsheet will not be marked as complete but all cutting lengths are save when you change them. Are you certain that you want to continue?" data-ng-click="vm.goBack()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div uib-collapse="!vm.showSelectPopup" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="operativeslist modal-body" data-ng-if="vm.showSelectPopup">
        <div class="row">
          <div class="panel panel-default">
            <div data-ng-if="vm.showSelectPopup" data-ng-repeat="operative in vm.operatives() | orderBy: 'name'">
              
              <div ng-show="!vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  ng-class="{colortxtgr: vm.isSelected(operative.$id)}">
                {{operative.name}}
                
              </div>
              
              <div ng-if="vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                   ng-style="{color: vm.color}">
                {{operative.name}} 
              </div> 
              <div ng-if="!vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  style="color:red">
                {{operative.name}} 
              </div>               
            </div>
          </div>
        </div>

        <div class="row buttonsrow">
            <div class="col-xs-4">
            <button class="btn btn-primary " type="button" ng-click="vm.done()">Done</button>
            </div>
            <div class="col-xs-4">
            <input  placeholder="Pin" size="4" class="btn pinInput" ng-hide="!vm.showPinPopup" ng-keyup="vm.digitEntered(vm.pin)" ng-model="vm.pin">
            </div>
            <div class="col-xs-4">
            <button class="btn btn-secondary" type="button" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div> 
      </div>
    </div>
  </div> 
      <div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" uib-modal-backdrop="modal-backdrop" modal-animation="true" ></div> 
</div>
