<qa-inn-navbar>
</qa-inn-navbar>

<div class="container qa vertical-flex">
    <div class="row">
        <div class="row">
            <div class="col-xs-6 middle">
                <a class="btn btn-primary" href="/qa/#/selectJobsheet">Pre Kit</a>
            </div>
            <div class="col-xs-6 middle">
                <a class="btn btn-primary" href="/qa/#/selectProductionLine">Panel QA</a>
            </div>
        </div>
    </div>
</div>
