<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/qa/#/"><img src="img/innviewlogo.svg" alt="InnviewLogo">
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <div data-ng-if="vm.status.userId">
      <ul class="nav navbar-nav navbar-right">
        <li>
          Operatives:
          <span ng-repeat="operativeId in vm.selected">{{operativeId | operative}}</span>
        </li>
        <li>
          <a ng-click="vm.selectOperatives()">
            Update<i class="glyphicon glyphicon-triangle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

<div uib-collapse="!vm.showSelectPopup" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="operativeslist modal-body" data-ng-if="vm.showSelectPopup">
        <div class="row">
          <div class="panel panel-default">
            <div data-ng-if="vm.showSelectPopup" data-ng-repeat="operative in vm.operatives() | orderBy: 'name'">
              
              <div ng-show="!vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  ng-class="{colortxtgr: vm.isSelected(operative.$id)}">
                {{operative.name}}
                
              </div>
              
              <div ng-if="vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                   ng-style="{color: vm.color}">
                {{operative.name}} 
              </div> 
              <div ng-if="!vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  style="color:red">
                {{operative.name}} 
              </div>               
            </div>
          </div>
        </div>

        <div class="row buttonsrow">
            <div class="col-xs-4">
            <button class="btn btn-primary " type="button" ng-click="vm.done()">Done</button>
            </div>
            <div class="col-xs-4">
            <input  placeholder="Pin" size="4" class="btn pinInput" ng-hide="!vm.showPinPopup" ng-keyup="vm.digitEntered(vm.pin)" ng-model="vm.pin">
            </div>
            <div class="col-xs-4">
            <button class="btn btn-secondary" type="button" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div> 
      </div>
    </div>
  </div> 
      <div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" uib-modal-backdrop="modal-backdrop" modal-animation="true" ></div> 
</div>
 

</nav>
