<qa-inn-navbar>
</qa-inn-navbar>

<div class="container qa vertical-flex">
  <div class="row">
    <div class="row">
      <div  class="tablet-size col-xs-3">
        <a class="btn btn-primary tablet-size"  href="/qa/#/TF">Timber Frame</a>
      </div>
      <div class="tablet-size col-xs-3">
        <a class="btn btn-primary tablet-size"  href="/qa/#/SIP">SIP</a>
      </div>
      <div class="tablet-size col-xs-3">
        <a class="btn btn-primary tablet-size"  href="/qa/#/HSIP">HSIP</a>
      </div>
      <div class="tablet-size col-xs-3">
        <a class="btn btn-primary tablet-size"  href="/qa/#/IFAST">IFAST</a>
      </div>
      <div class="tablet-size col-xs-3">
        <a class="btn btn-primary tablet-size"  href="/qa/#/CASS">Cassette</a>
      </div>
    </div>
  </div>
</div>
