<qa-inn-navbar>
  <!--
  <li><a href="/qa/#/TF" data-ng-class="{'active': vm.productionLine === 'TF'}">Timber Frame</a></li>
  <li><a href="/qa/#/SIP" data-ng-class="{'active': vm.productionLine === 'SIP'}">SIP</a></li>
  <li><a href="/qa/#/CASS" data-ng-class="{'active': vm.productionLine === 'CASS'}">Cassette</a></li>
  -->
</qa-inn-navbar>
<div class="container qa" ng-init="vm.whichHTML = 'selectJobsheet'">
    <div class="row">
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <p>Select a project</p>
                </div>
                <div class="bubbleqa">
                    <div class="row">
                        <div class="box">
                            <table class="table">
                                <tbody>
                                    <tr data-ng-repeat="project in vm.projects | orderBy:'-id'" 
                                        data-ng-click="vm.selectProject(project.id)" 
                                        data-ng-if="project.active === undefined || project.active" 
                                        data-ng-class="{'colorbg' : vm.selectedArea === project.$id}">
                                        <td class="col-xs-12">{{project.id}} - {{project.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="col-xs-6">
                <p>Job Sheet List</p>
                <div class="box">
                    <table class="table leftleft">
                        <tbody>
                            <tr data-ng-repeat="js in vm.jobsheets">
                                <td class="col-xs-4">{{js.jobsheet}}</td>
                                <td class="col-xs-4" data-ng-if="!js.started" data-ng-click="vm.startPanel(js.jobsheet)"><a>Start</a></td>
                                <td class="col-xs-4" data-ng-if="js.started" data-ng-click="vm.startPanel(js.jobsheet)">Started {{js.started | date: "HH:mm"}}</td>
                                <td class="col-xs-4" data-ng-if="!js.completed && js.qa.started">In Progress</td>
                                <td class="col-xs-4" data-ng-if="!js.completed && !js.started">...</td>
                                <td class="col-xs-4" data-ng-if="js.completed">Finished {{js.completed | date: "HH:mm"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div uib-collapse="!vm.showSelectPopup" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="operativeslist modal-body" data-ng-if="vm.showSelectPopup">
        <div class="row">
          <div class="panel panel-default">
            <div data-ng-if="vm.showSelectPopup" data-ng-repeat="operative in vm.operatives() | orderBy: 'name'">
              
              <div ng-show="!vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  ng-class="{colortxtgr: vm.isSelected(operative.$id)}">
                {{operative.name}}
                
              </div>
              
              <div ng-if="vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                   ng-style="{color: vm.color}">
                {{operative.name}} 
              </div> 
              <div ng-if="!vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  style="color:red">
                {{operative.name}} 
              </div>               
            </div>
          </div>
        </div>

        <div class="row buttonsrow">
            <div class="col-xs-4">
            <button class="btn btn-primary " type="button" ng-click="vm.done()">Done</button>
            </div>
            <div class="col-xs-4">
            <input  placeholder="Pin" size="4" class="btn pinInput" ng-hide="!vm.showPinPopup" ng-keyup="vm.digitEntered(vm.pin)" ng-model="vm.pin">
            </div>
            <div class="col-xs-4">
            <button class="btn btn-secondary" type="button" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div> 
      </div>
    </div>
  </div> 
      <div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" uib-modal-backdrop="modal-backdrop" modal-animation="true" ></div> 
</div>

