<qa-inn-navbar>
  <!--
  <li><a href="/qa/#/TF" data-ng-class="{'active': vm.productionLine === 'TF'}">Timber Frame</a></li>
  <li><a href="/qa/#/SIP" data-ng-class="{'active': vm.productionLine === 'SIP'}">SIP</a></li>
  <li><a href="/qa/#/CASS" data-ng-class="{'active': vm.productionLine === 'CASS'}">Cassette</a></li>
  -->
</qa-inn-navbar>

<div class="container qa" ng-init="vm.whichHTML = 'selectPanel'">
  <div class="row">
    <div class="row">
      <div class="col-xs-3">
        <div class="row">
          <p>Select an area</p>
        </div>
        <div class="bubbleqa">
          <div class="row">
            <div class="box">
              <table class="table">
                <tbody>
                  <tr data-ng-repeat="area in vm.areas"
                    data-ng-click="vm.selectArea(area.$id)"
                    data-ng-class="{'colorbg' : vm.selectedArea === area.$id}">
                    <td class="col-xs-12">{{area.project | project}} {{area.phase}}-{{area.floor}}-{{area.type}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3" data-ng-if="vm.jobSheetsCount">
          <div class="row">
              <p>Select a job sheet</p>
          </div>
          <div class="bubbleqa">
              <div class="row">
                  <div class="box">
                      <table class="table">
                          <tbody>
                              <tr data-ng-repeat="panel in vm.panels | jobSheet:'jobSheet'"
                                  data-ng-click="vm.selectJobSheet(panel.jobSheet)"
                                  data-ng-class="{'colorbg' : vm.selectedJobSheet === panel.jobSheet}">
                                  <td data-ng-if="panel.jobSheet" class="col-xs-4">JS-{{panel.id.slice(0,3)}}-{{panel.id.slice(7,14)}}-{{("00"+panel.jobSheet).slice(-3)}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <div ng-class="vm.colSize">
        <p>Select a panel</p>
        <div class="box">
          <table class="table leftleft">
            <tbody data-ng-if="!vm.jobSheetsCount">
              <tr data-ng-repeat="panel in vm.panels">
                <td class="col-xs-4">{{panel.id}}</td>
                <td class="col-xs-4" data-ng-if="!panel.qa.started" data-ng-click="vm.startPanel(panel.id)"><a>Start</a></td>
                <td class="col-xs-4" data-ng-if="panel.qa.started" data-ng-click="vm.startPanel(panel.id)">Started {{panel.qa.started | date: "HH:mm"}}</td>
                <td class="col-xs-4" data-ng-if="!panel.qa.completed && panel.qa.started">In Progress</td>
                <td class="col-xs-4" data-ng-if="!panel.qa.completed && !panel.qa.started">...</td>
                <td class="col-xs-4" data-ng-if="panel.qa.completed">Finished {{panel.qa.completed | date: "HH:mm"}}</td>
              </tr>
            </tbody>
            <tbody data-ng-if="vm.jobSheetsCount">
              <tr data-ng-repeat="panel in vm.panelsFiltered">
                <td class="col-xs-4">{{panel.id}}</td>
                <td class="col-xs-4" data-ng-if="!panel.qa.started" data-ng-click="vm.startPanel(panel.id)"><a>Start</a></td>
                <td class="col-xs-4" data-ng-if="panel.qa.started" data-ng-click="vm.startPanel(panel.id)">Started {{panel.qa.started | date: "HH:mm"}}</td>
                <td class="col-xs-4" data-ng-if="!panel.qa.completed && panel.qa.started">In Progress</td>
                <td class="col-xs-4" data-ng-if="!panel.qa.completed && !panel.qa.started">...</td>
                <td class="col-xs-4" data-ng-if="panel.qa.completed">Finished {{panel.qa.completed | date: "HH:mm"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div uib-collapse="!vm.showSelectPopup" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="operativeslist modal-body" data-ng-if="vm.showSelectPopup">
        <div class="row">
          <div class="panel panel-default">
            <div data-ng-if="vm.showSelectPopup" data-ng-repeat="operative in vm.operatives() | orderBy: 'name'">
              
              <div ng-show="!vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  ng-class="{colortxtgr: vm.isSelected(operative.$id)}">
                {{operative.name}}
                
              </div>
              
              <div ng-if="vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                   ng-style="{color: vm.color}">
                {{operative.name}} 
              </div> 
              <div ng-if="!vm.isSelected(operative.$id)" ng-show="vm.errMssg[operative.$id]" class="col-xs-4 panel-body" ng-click="vm.requestPin(operative)"
                  style="color:red">
                {{operative.name}} 
              </div>               
            </div>
          </div>
        </div>

        <div class="row buttonsrow">
            <div class="col-xs-4">
            <button class="btn btn-primary " type="button" ng-click="vm.done()">Done</button>
            </div>
            <div class="col-xs-4">
            <input  placeholder="Pin" size="4" class="btn pinInput" ng-hide="!vm.showPinPopup" ng-keyup="vm.digitEntered(vm.pin)" ng-model="vm.pin">
            </div>
            <div class="col-xs-4">
            <button class="btn btn-secondary" type="button" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div> 
      </div>
    </div>
  </div> 
      <div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" uib-modal-backdrop="modal-backdrop" modal-animation="true" ></div> 
</div>
