<inn-navbar data-ng-if="!vm.qaApp"/>
<qa-inn-navbar data-ng-if="vm.qaApp"/>

<div class="container box col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">

  <div class="row panel-body">
     <div class=""> 
     <div class="col-xs-12 login"> 
     <img src="img/login-icon.svg" alt="login">
     </div> 
      </div>     
 
    <form name="loginForm" data-ng-submit="vm.login(loginForm.$valid)" class="form-signin">
   
      <div data-ng-if="vm.errorMessage" class="alert alert-danger">
        <span>{{vm.errorMessage}}</span>
      </div>
   
      <div data-ng-if="vm.loggedOut" class="alert alert-success">
        You have been logged out.
      </div>
        
    <div class="row panel-body">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">    
      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" name="email" placeholder="EMAIL" class="form-control"
          data-ng-model="vm.email" required="required" autofocus="autofocus"/>
      </div>   
    </div>    
    
    <div class="row panel-body"> 
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">    
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" placeholder="PASSWORD" class="form-control"
          data-ng-model="vm.password" required="required"/>
               <br> 
      </div>         
    </div>       

    <div class="row buttonsrow">
      <div class="col-xs-12 col-xs-offset-4 col-xs-4 col-sm-4 middle">   
      <button data-ng-disabled="loginForm.$pristine || loginForm.$invalid" type="submit" name="submit" class="btn btn-lg btn-block btn-sign-in btn btn-primary">Sign in</button>
      </div>      
    </div>          
    </form>
    </div>

</div>
