<inn-navbar>
  <li><a href="#/materialanalysis/loadtimbers">Load Timbers</a></li>
  <li><a href="#/materialanalysis/cuttingTypePricing">Cutting Type Pricing</a></li>
  <li><a href="#/materialanalysis/materialByJobsheet">Material By Jobsheet</a></li>
  <li><a href="#/materialanalysis/materialByPanel">Material By Panel</a></li>
  <li class="active"><a href="#/materialanalysis/cubicAverage">Cubic Average</a></li>
  <li><a href="#/materialanalysis/datumCubicAverage">Datum Cubic Average</a></li>
</inn-navbar>

<div class="container animate-bottom" id="myDiv">
  <div class="row">
    <div class="container box">
      <div class="row">
        <h1>
            <span>Cutting Average:</span>
            <span class="pull-center">
            <span data-ng-hide="vm.backButton" data-ng-click="vm.backWeek()"><img src="/icons/arrow-left.svg"></span>
            <span data-ng-hide="!vm.backButton"><img src="/icons/block.svg"></span>
            {{vm.selectedMonday | date:"dd/MM/yyyy"}}
            <span data-ng-hide="vm.forwardButton" data-ng-click="vm.forwardWeek()"><img src="/icons/arrow-right.svg"></span>
            <span data-ng-hide="!vm.forwardButton"><img src="/icons/block.svg"></span>
            </span>
            <span id="loader" data-ng-show="vm.loader"></span>
        </h1>
      </div>
      <div class="row">
        <table class="table table-hover table-bordered">
          <col/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <thead>
                <tr>
                    <th scope="row">#</th>
                    <td ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{weekDay| date:"dd/MM/yyyy"}} </td>
                    <td>Week Totals</td>
                    <td>Month Totals</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productionType in vm.cubicAverageList.ProductionTypes[vm.selectedMonday]">
                    <th  scope="row">{{productionType}}</th>
                    <td ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><div>{{(vm.cubicAverageList.DayType[weekDay][productionType].average / 1000000000) || 0 | number : 4}}</div></td>
                    <td>{{(vm.cubicAverageList.WeekType[vm.selectedMonday][productionType].average / 1000000000) || 0 | number : 4}}</td>
                    <td>{{(vm.cubicAverageList.MonthType[vm.selectedMonth][productionType].average / 1000000000) || 0 | number : 4}}</td>
                </tr>   
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

