<inn-navbar>
  <li><a href="#/materialanalysis/loadtimbers">Load Timbers</a></li>
  <li class="active"><a href="">Cutting Type Pricing</a></li>
  <li><a href="#/materialanalysis/materialByJobsheet">Material By Jobsheet</a></li>
  <li><a href="#/materialanalysis/materialByPanel">Material By Panel</a></li>
  <li><a href="#/materialanalysis/cubicAverage">Cubic Average</a></li>
  <li><a href="#/materialanalysis/datumCubicAverage">Datum Cubic Average</a></li>
</inn-navbar>

<div class="container animate-bottom" id="myDiv">
  <div class="row">
    <div class="container box">
      <div class="row">
        <h1>
            <span>Set Price Increase:</span>
            <span><button ng-if="vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleMain()">Show</button><button ng-if="!vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleMain()">Hide</button></span>
        </h1>
      </div>
      <div  ng-hide="vm.toggleMainFlag" class="row">
        <h1>
            <span class="pull-center">
            <inn-date-future-input id="fromDate" name="fromDate" type="text" data-ng-model="vm.increaseDate" required/>
            </span>
        </h1>
      </div>
      <div ng-hide="vm.toggleMainFlag" class="row">
        <table class="table table-hover table-bordered">
          <col/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <thead>
                <tr>
                    <th scope="row">#</th>
                    <td>Date Set</td>
                    <td>Latest Price (£)</td>
                    <td>New Price (£)</td>
                </tr>
            </thead>
            <tbody>   
                <tr ng-hide="vm.toggleMainFlag" ng-repeat="cuttingType in vm.cuttingTypesPricesList.cuttingTypes">
                    <th scope="row">{{cuttingType.$id}}</th>
                    <td>{{vm.cuttingTypesPricesList.defaultCuttingTypesPrices[cuttingType.$id] | greatestDate:true}}</td>
                    <td>{{vm.cuttingTypesPricesList.defaultCuttingTypesPrices[cuttingType.$id] | greatestDate:false}}</td>
                    <td><input class="form-control" type=number data-ng-model="vm.newPrices[cuttingType.$id]" data-ng-change="vm.updateDefaultPrice(cuttingType.$id, vm.increaseDate, vm.newPrices[cuttingType.$id])"/></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="container box">
      <div class="row">
        <h1>
            <span>Set Stock Meters:</span>
            <span><button ng-if="vm.toggleMainFlag3" class="pull-right" data-ng-click="vm.toggleMain3()">Show</button><button ng-if="!vm.toggleMainFlag3" class="pull-right" data-ng-click="vm.toggleMain3()">Hide</button></span>
        </h1>
      </div>
      <div  ng-hide="vm.toggleMainFlag3" class="row">
        <h1>
            <span class="pull-center">
            <inn-month-input id="fromDate" name="fromDate" type="text" data-ng-model="vm.stockMonth" required/>
            </span>
        </h1>
      </div>
      <div  ng-hide="vm.toggleMainFlag3" class="row">
        <table class="table table-hover table-bordered">
          <col/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <thead>
                <tr>
                    <th scope="row">#</th>
                    <td>Stock Count</td>
                </tr>
            </thead>
            <tbody>   
                <tr ng-repeat="cuttingType in vm.cuttingTypesPricesList.cuttingTypes">
                    <th scope="row">{{cuttingType.$id}}</th>
                    <td><input class="form-control" type=number data-ng-model="vm.cuttingTypesPricesList.stockCount[cuttingType.$id][vm.stockMonth]" data-ng-change="vm.updateStock(cuttingType.$id, vm.stockMonth, vm.cuttingTypesPricesList.stockCount[cuttingType.$id][vm.stockMonth])"/></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="container box">
      <div class="row">
        <h1>
            <span>Prices by Day (£):</span>
            <span class="pull-center">
            <span data-ng-disabled="!vm.backButton" data-ng-click="vm.backWeek()"><img src="/icons/arrow-left.svg"></span>
            {{vm.selectedMonday | date:"dd/MM/yyyy"}}
            <span data-ng-disabled="!vm.forwardButton" data-ng-click="vm.forwardWeek()"><img src="/icons/arrow-right.svg"></span>
            </span>
            <span><button ng-if="vm.toggleMainFlag2" class="pull-right" data-ng-click="vm.toggleMain2()">Show</button><button ng-if="!vm.toggleMainFlag2" class="pull-right" data-ng-click="vm.toggleMain2()">Hide</button></span>
        </h1>
      </div>
      <div ng-hide="vm.toggleMainFlag2" class="row">
        <table class="table table-hover table-bordered">
          <col/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <colgroup span="2"/>
          <thead>
                <tr>
                    <th scope="row">#</th>
                    <td ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{weekDay | date:"dd/MM/yyyy"}} </td>
                </tr>
            </thead>
            <tbody>   
                <tr ng-repeat="cuttingType in vm.cuttingTypesPricesList.cuttingTypes">
                    <th  scope="row">{{cuttingType.$id}}</th>
                    <td ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><input class="form-control" type=number data-ng-model="vm.cuttingTypesPricesList.cuttingTypesPrices[cuttingType.$id][weekDay]" data-ng-change="vm.updatePrice(cuttingType.$id, weekDay, vm.cuttingTypesPricesList.cuttingTypesPrices[cuttingType.$id][weekDay])"/></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myPopoverTemplate.html">
  <ul>
      <li ng-repeat = "jobsheet in vm.jobsheetCuttingList.Day[weekDay][cuttingType]['jobsheets']">{{jobsheet}}</li>
  </ul>
</script>
