<inn-navbar>
  <li><a href="#/materialanalysis/loadtimbers">Load Timbers</a></li>
  <li><a href="">Cutting Type Pricing</a></li>
  <li><a href="#/materialanalysis/materialByJobsheet">Material By Jobsheet</a></li>
  <li><a href="#/materialanalysis/materialByPanel">Material By Panel</a></li>
  <li><a href="#/materialanalysis/cubicAverage">Line Cubic Average</a></li>
  <li class="active"><a href="#/materialanalysis/datumCubicAverage">Datum Cubic Average</a></li>
</inn-navbar>

<div class="container box">
    <div class="row">
        <h1>
            Datum Entries
        </h1>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered">
            <col/>
            <colgroup span="2"/>
            <colgroup span="2"/>
            <colgroup span="2"/>
            <colgroup span="2"/>
            <thead>
                <tr>
                    <th>Datum Type</th>
                    <th>SIP (m)</th>
                    <th>HSIP (m)</th>
                    <th>IFAST (m)</th>
                    <th>TF (m)</th>
                    <th>CASS (m)</th>
                    <th>Average (m)</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="datum in vm.datums">
                    <td>{{datum.$id}}</td>
                    <td>{{(vm.usage[datum.$id].productionTypes["SIP"].average / 1000000000) || 0 | number : 4}}</td>
                    <td>{{(vm.usage[datum.$id].productionTypes["HSIP"].average / 1000000000) || 0 | number : 4}}</td>
                    <td>{{(vm.usage[datum.$id].productionTypes["IFAST"].average / 1000000000) || 0 | number : 4}}</td>
                    <td>{{(vm.usage[datum.$id].productionTypes["TF"].average / 1000000000) || 0 | number : 4}}</td>
                    <td>{{(vm.usage[datum.$id].productionTypes["CASS"].average / 1000000000) || 0 | number : 4}}</td>
                    <td>{{(vm.usage[datum.$id].average / 1000000000) || 0 | number : 4}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>