<inn-navbar>
    <li><a href="#/materialanalysis/loadtimbers">Load Timbers</a></li>
    <li><a href="#/materialanalysis/cuttingTypePricing">Cutting Type Pricing</a></li>
    <li class="active"><a href="">Material By Jobsheet</a></li>
    <li><a href="#/materialanalysis/materialByPanel">Material By Panel</a></li>
    <li><a href="#/materialanalysis/cubicAverage">Cubic Average</a></li>
    <li><a href="#/materialanalysis/datumCubicAverage">Datum Cubic Average</a></li>
</inn-navbar>

<div class="container animate-bottom" id="myDiv">
    <div class="row">
        <div class="container box">
            <div class="row">
                <h1>
                    <span>Material By Jobsheet:</span>
                    <span class="pull-center">
                        <span data-ng-disabled="!vm.backButton" data-ng-click="vm.backWeek()"><img src="/icons/arrow-left.svg"></span>
                        {{vm.selectedMonday| date:"dd/MM/yyyy"}}
                        <span data-ng-disabled="!vm.forwardButton" data-ng-click="vm.forwardWeek()"><img src="/icons/arrow-right.svg"></span>
                    </span>
                    <span><button ng-if="!vm.toggleCostFlag" data-ng-hide="vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleCost()">Cost Show</button><button ng-if="vm.toggleCostFlag" data-ng-hide="vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleCost()">Cost Hide</button></span>
                    <span><button ng-if="vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleMain()">Show</button><button ng-if="!vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleMain()">Hide</button></span>
                </h1>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered">
                    <col/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <thead>
                        <tr>
                            <th scope="row">#</th>
                            <td ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{weekDay| date:"dd/MM/yyyy"}} </td>
                            <td>Week Totals</td>
                            <td>Month Totals</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-hide="vm.toggleMainFlag" ng-repeat="cuttingType in vm.jobsheetCuttingList.CuttingTypes[vm.selectedMonday]">
                            <th  scope="row">{{cuttingType}}</th>
                            <td ng-hide="vm.toggleCostFlag" ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><div data-uib-popover-template="vm.dynamicPopover.templateUrl" data-popover-trigger="mouseenter" data-popover-title="Jobsheets:">{{vm.jobsheetCuttingList.Day[weekDay][cuttingType].totalRequired / 1000|| 0 | number : 1}} m </div></td>
                            <td ng-hide="!vm.toggleCostFlag" ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><div data-uib-popover-template="vm.dynamicPopover.templateUrl" data-popover-trigger="mouseenter" data-popover-title="Jobsheets:">{{vm.jobsheetCuttingList.Day[weekDay][cuttingType].requiredAmount / 1000|| 0 | currency : "£"}}</div></td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.Week[vm.selectedMonday][cuttingType].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.Week[vm.selectedMonday][cuttingType].requiredAmount / 1000|| 0 | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.Month[vm.selectedMonth][cuttingType].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.Month[vm.selectedMonth][cuttingType].requiredAmount / 1000|| 0 | currency : "£"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Predicted Length</th>
                            <td ng-hide="vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{vm.jobsheetCuttingList.DayTotal[weekDay].totalRequired / 1000|| 0 | number : 1}} m </td>
                            <td ng-hide="!vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{vm.jobsheetCuttingList.DayTotal[weekDay].totalRequired / 1000|| 0 | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].requiredAmount / 1000|| 0 | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].requiredAmount / 1000|| 0 | currency : "£"}}</td>
                        </tr>     
                        <tr ng-hide="vm.toggleMainFlag" ng-repeat="cuttingType in vm.jobsheetCuttingList.CuttingTypes[vm.selectedMonday]">
                            <th scope="row">{{cuttingType}}</th>
                            <td ng-hide="vm.toggleCostFlag" ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><div data-uib-popover-template="vm.dynamicPopover.templateUrl" data-popover-trigger="mouseenter" data-popover-title="Jobsheets:">{{vm.jobsheetCuttingList.Day[weekDay][cuttingType].totalActual / 1000|| 0 | number : 1}} m </div></td>
                            <td ng-hide="!vm.toggleCostFlag" ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><div data-uib-popover-template="vm.dynamicPopover.templateUrl" data-popover-trigger="mouseenter" data-popover-title="Jobsheets:">{{vm.jobsheetCuttingList.Day[weekDay][cuttingType].actualAmount / 1000|| 0 | currency : "£"}}</div></td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.Week[vm.selectedMonday][cuttingType].totalActual / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.Week[vm.selectedMonday][cuttingType].actualAmount / 1000|| 0 | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.Month[vm.selectedMonth][cuttingType].totalActual / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.Month[vm.selectedMonth][cuttingType].actualAmount / 1000|| 0 | currency : "£"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Optimized Length</th>
                            <td ng-hide="vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{vm.jobsheetCuttingList.DayTotal[weekDay].totalActual / 1000|| 0  | number : 1}} m </td>
                            <td ng-hide="!vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{vm.jobsheetCuttingList.DayTotal[weekDay].actualAmount / 1000|| 0  | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].totalActual / 1000|| 0  | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].actualAmount / 1000|| 0  | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].totalActual / 1000|| 0  | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].actualAmount / 1000|| 0  | currency : "£"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Difference Length</th>
                            <td ng-hide="vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{(vm.jobsheetCuttingList.DayTotal[weekDay].totalRequired / 1000 - vm.jobsheetCuttingList.DayTotal[weekDay].totalActual / 1000) || 0  | number : 1}} m </td>
                            <td ng-hide="!vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{(vm.jobsheetCuttingList.DayTotal[weekDay].requiredAmount / 1000 - vm.jobsheetCuttingList.DayTotal[weekDay].actualAmount / 1000) || 0  | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{(vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].totalRequired / 1000 - vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].totalActual / 1000) || 0  | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{(vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].requiredAmount / 1000 - vm.jobsheetCuttingList.WeekTotal[vm.selectedMonday].actualAmount / 1000) || 0  | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{(vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].totalRequired / 1000 - vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].totalActual / 1000) || 0  | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{(vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].requiredAmount / 1000 - vm.jobsheetCuttingList.MonthTotal[vm.selectedMonth].actualAmount / 1000) || 0  | currency : "£"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container box">
            <div class="row">
                <h1>
                    <span>Jobsheets: {{vm.jobsheetCuttingList.JobSheetData | countTrue: "hasOptimized"}} out of {{vm.jobsheetCuttingList.JobSheetData | keyLength}}</span>
                    <span><button ng-if="vm.toggleMainFlag2" class="pull-right" data-ng-click="vm.toggleMain2()">Show</button><button ng-if="!vm.toggleMainFlag2" class="pull-right" data-ng-click="vm.toggleMain2()">Hide</button></span>
                </h1>
            </div>
            <div ng-hide="vm.toggleMainFlag2" class="row">
                <table class="table table-hover table-bordered">
                    <col/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <thead>
                        <tr>
                            <td> Panel ID </td>
                            <td> Optimized? </td>
                            <td> Required </td>
                            <td> Actual </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in vm.jobsheetCuttingList.JobSheetData">
                            <td> {{key}} </td>
                            <td style="color: green" ng-if="value.hasOptimized">&#10004; Optimized! </td>
                            <td style="color: red" ng-if="!value.hasOptimized">&#10008; Please optimize to get full results </td>
                            <td> {{value.totalRequired / 1000|| 0  | number : 1}} m</td>
                            <td> {{value.totalActual / 1000|| 0  | number : 1}} m</td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myPopoverTemplate.html">
  <ul>
      <li ng-repeat = "jobsheet in vm.jobsheetCuttingList.Day[weekDay][cuttingType]['jobsheets']">{{jobsheet}}</li>
  </ul>
</script>
