<inn-navbar>
    <li><a href="#/materialanalysis/loadtimbers">Load Timbers</a></li>
    <li><a href="#/materialanalysis/cuttingTypePricing">Cutting Type Pricing</a></li>
    <li><a href="#/materialanalysis/materialByJobsheet">Material By Jobsheet</a></li>
    <li class="active"><a href="">Material By Panel</a></li>
    <li><a href="#/materialanalysis/cubicAverage">Cubic Average</a></li>
    <li><a href="#/materialanalysis/datumCubicAverage">Datum Cubic Average</a></li>
</inn-navbar>

<div class="container animate-bottom" id="myDiv">
    <div class="row">
        <div class="container box">
            <div class="row">
                <h1>
                    <span>Material By Panel:</span>
                    <span class="pull-center">
                        <span data-ng-hide="vm.backButton" data-ng-click="vm.backWeek()"><img src="/icons/arrow-left.svg"></span>
                        <span data-ng-hide="!vm.backButton"><img src="/icons/block.svg"></span>
                        {{vm.selectedMonday| date:"dd/MM/yyyy"}}
                        <span data-ng-hide="vm.forwardButton" data-ng-click="vm.forwardWeek()"><img src="/icons/arrow-right.svg"></span>
                        <span data-ng-hide="!vm.forwardButton"><img src="/icons/block.svg"></span>
                    </span>
                    <span id="loader" data-ng-show="vm.loader"></span>
                    <span><button ng-if="!vm.toggleCostFlag" data-ng-hide="vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleCost()">Cost Show</button><button ng-if="vm.toggleCostFlag" data-ng-hide="vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleCost()">Cost Hide</button></span>
                    <span><button ng-if="vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleMain()">Show</button><button ng-if="!vm.toggleMainFlag" class="pull-right" data-ng-click="vm.toggleMain()">Hide</button></span>
                </h1>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered">
                    <col/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <thead>
                        <tr>
                            <th scope="row">#</th>
                            <td>Month Stock</td>
                            <td ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{weekDay| date:"dd/MM/yyyy"}} </td>
                            <td>Week Totals</td>
                            <td>Month Totals</td>
                            <td>Stock Left</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-hide="vm.toggleMainFlag" ng-repeat="cuttingType in vm.panelCuttingList.CuttingTypes[vm.selectedMonday]">
                            <th  scope="row">{{cuttingType}}</th>
                            <td>{{vm.panelCuttingList.stockCount[cuttingType][vm.selectedMonth]|| 0 | number : 1}} m</td>
                            <td ng-hide="vm.toggleCostFlag" ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><div data-uib-popover-template="vm.dynamicPopover.templateUrl" data-popover-trigger="mouseenter" data-popover-title="Panels:">{{vm.panelCuttingList.Day[weekDay][cuttingType].totalRequired / 1000|| 0 | number : 1}} m </div></td>
                            <td ng-hide="!vm.toggleCostFlag" ng-repeat="weekDay in vm.weekRange(vm.selectedMonday)"><div data-uib-popover-template="vm.dynamicPopover.templateUrl" data-popover-trigger="mouseenter" data-popover-title="Panels:">{{vm.panelCuttingList.Day[weekDay][cuttingType].totalAmount / 1000|| 0 | currency : "£"}}</div></td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.panelCuttingList.Week[vm.selectedMonday][cuttingType].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.panelCuttingList.Week[vm.selectedMonday][cuttingType].totalAmount / 1000|| 0 | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.panelCuttingList.Month[vm.selectedMonth][cuttingType].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.panelCuttingList.Month[vm.selectedMonth][cuttingType].totalAmount / 1000|| 0 | currency : "£"}}</td>
                            <td>{{(vm.panelCuttingList.stockCount[cuttingType][vm.selectedMonth] - vm.panelCuttingList.Month[vm.selectedMonth][cuttingType].totalRequired / 1000) || 0 | number : 1}} m</td>
                        </tr>
                        <tr>
                            <th scope="row">Required Length</th>
                            <td></td>
                            <td ng-hide="vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{vm.panelCuttingList.DayTotal[weekDay].totalRequired / 1000|| 0 | number : 1}} m </td>
                            <td ng-hide="!vm.toggleCostFlag" ng-repeat="(weekDayKey, weekDay) in vm.weekRange(vm.selectedMonday)"> {{vm.panelCuttingList.DayTotal[weekDay].totalAmount / 1000|| 0 | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.panelCuttingList.WeekTotal[vm.selectedMonday].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.panelCuttingList.WeekTotal[vm.selectedMonday].totalAmount / 1000|| 0 | currency : "£"}}</td>
                            <td ng-hide="vm.toggleCostFlag">{{vm.panelCuttingList.MonthTotal[vm.selectedMonth].totalRequired / 1000|| 0 | number : 1}} m</td>
                            <td ng-hide="!vm.toggleCostFlag">{{vm.panelCuttingList.MonthTotal[vm.selectedMonth].totalAmount / 1000|| 0 | currency : "£"}}</td>
                            <td></td>
                        </tr>     
                    </tbody>
                </table>
            </div>

        </div>
        <div class="container box">

            <div class="row">
                <h1>
                    <span>Match Panels Required: {{vm.panelCuttingList.PanData | countTrue: "hasRequired"}} out of {{vm.panelCuttingList.PanData | keyLength}} </span>
                    <span><button ng-if="vm.toggleMainFlag2" class="pull-right" data-ng-click="vm.toggleMain2()">Show</button><button ng-if="!vm.toggleMainFlag2" class="pull-right" data-ng-click="vm.toggleMain2()">Hide</button></span>
                </h1>
            </div>
            <div ng-hide="vm.toggleMainFlag2" class="row">
                <table class="table table-hover table-bordered">
                    <col/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <colgroup span="2"/>
                    <thead>
                        <tr>
                            <td> Panel ID </td>
                            <td> Required Match </td>
                            <td> Total Length (m) </td>
                            <td> Date Completed </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in vm.panelCuttingList.PanData">
                            <td> {{key}} </td>
                            <td style="color: green" ng-if="value.hasRequired">&#10004; Matched! </td>
                            <td style="color: red" ng-if="!value.hasRequired">&#10008; Please upload to get full results </td>
                            <td> {{value.totalForPanel / 1000| number : 1}} m</td>
                            <td> {{value.dateComplete| date:"dd/MM/yyyy"}} </td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myPopoverPanels.html">
  <ul>
      <li ng-repeat = "panel in vm.panelCuttingList.Day[weekDay][cuttingType]['panels']">{{panel}}</li>
  </ul>
</script>

