<inn-navbar theme="newux" class="screenOnly">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('dashboard','humanresource')" name="dashboard">Dashboard</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>
<div class="secondary-toolbar screenOnly" layout="row">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item md-nav-click="vm.goto('dashboard','logistics')" name="logistics"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Logistics</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','design')" name="design"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Design</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','production')" name="production"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Production</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','humanresource')" name="humanresource"><md-icon md-svg-src="/icons/details.svg"></md-icon>Resource Plan</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','booking')" name="booking"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Booking</md-nav-item>
    </md-nav-bar>
</div>

<main class="main" layout="column" ng-if="vm.loaded" flex>

    <md-content>
        <div layout="row" layout-xs="column">
            <md-card md-whiteframe="5" flex="66">
                <p style="padding-left:30px">Booking Dashboard</p>
            </md-card>
            <md-card md-whiteframe="5" flex="66">
                <md-button ng-click="vm.toggleRight()"
                           ng-hide="vm.isOpenRight()"
                           class="md-primary">
                    Bookings
                </md-button>
            </md-card>
        </div>
        <div layout="row" layout-xs="column">
            <md-card md-whiteframe="5" flex="66">
                <nvd3 options="vm.options" api="vm.chartAPI" data="vm.data"></nvd3>
            </md-card>
            <md-card md-whiteframe="5" flex="66">
                <md-content-card style="height:100%; overflow-x: auto;" >
                    <table class="data-table" style="height:100%;">
                        <thead>
                            <tr>
                                <td>
                                    <span class="pull-center">
                                        <span data-ng-hide="vm.backButton" data-ng-click="vm.backWeek()"><img src="/icons/arrow-left.svg"></span>
                                        <span data-ng-hide="!vm.backButton"><img src="/icons/block.svg"></span>
                                        Week {{vm.weekStart | date:"w"}}
                                        <span data-ng-hide="vm.forwardButton" data-ng-click="vm.forwardWeek()"><img src="/icons/arrow-right.svg"></span>
                                        <span data-ng-hide="!vm.forwardButton"><img src="/icons/block.svg"></span>
                                    </span>
                                </td>
                                <td ng-repeat="(day,object) in vm.booking.daysOfWeeks">{{day | date:'EEEE'}}</td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{day | date:"d MMM"}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Deliveries</td>
                                <td ng-repeat="data in vm.booking.daysOfWeeks">{{data.deliverys}}</td>
                            </tr>
                            <tr>
                                <td>Booked</td>
                                <td ng-repeat="data in vm.booking.daysOfWeeks">{{data.booked}}</td>
                            </tr>
                            <tr>
                                <td>Overdue</td>
                                <td ng-repeat="data in vm.booking.daysOfWeeks">{{data.deliverys - data.booked}}</td>
                            </tr>
                            <tr>
                                <td>On-Time</td>
                                <td ng-repeat="data in vm.booking.daysOfWeeks"><span ng-if="data.booked > 0">{{((data.booked/data.deliverys)*100).toFixed(0)}}%</span><span ng-if="data.booked === 0">0%</span></td>
                            </tr>
                            <tr>
                                <td>Unplanned</td>
                                <td ng-repeat="data in vm.booking.daysOfWeeks">{{data.unplanned}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-content-card>
            </md-card>
        </div>
        <div layout="row" layout-md="column">
            <md-card md-whiteframe="5" flex="20">
                <div class="md-accordion" ng-repeat="(day, daydata) in vm.booking.areasByDispatch">

                    <div layout="row" layout-xs="column">
                        <div class="deliveryDateHolder" flex="30">
                            <p class="deliveryDateText">{{day | date:'EEEE'}} </br> {{day | date:"d MMM"}}</p>
                        </div>
                        <div flex="70">
                            <div class="md-accordion" ng-repeat="(componentName, component) in daydata">
                                <md-toolbar style="min-height: 85px; background-color: #FFF; colour: #000;" ng-click="vm.collapseAll(vm.expandables[day][componentName])">
                                    <div class="md-toolbar-tools">
                                        <md-checkbox ng-disabled="true" ng-model="component.delivered"></md-checkbox>
                                        <p class="dynamicText">{{component.areas[0]._idWithoutType}}-{{componentName | numbersFromString}}</p>
                                        <span flex=""></span>
                                        <span ng-class="{expandCollapse:true, active:vm.expandables[day][componentName].expanded}"></span>
                                    </div>
                                </md-toolbar>

                                <div ng-class="{dataContent:true, activeContent:vm.expandables[day][componentName].expanded}">
                                    <table class="new-data-table">                   
                                        <tr repeat-end ng-repeat="(key, value) in component.areas">
                                            <td><md-icon ng-if="vm.areaChecker(value)" ng-click="vm.toggleRight(); vm.addToDelivery(value, vm.booking.groupByBookingDate);" md-svg-src="/icons/add-box.svg"></md-icon><md-checkbox ng-disabled="true" ng-model="value.delivered"></md-checkbox><p class="dynamicText">{{value._id}}</p><br/>                                         
                                                <md-select ng-if="value._bookings.length" ng-model="vm.bookingSelected">
                                                    <md-option ng-value="value._bookings[0].id" ng-selected="true">Booking {{value._bookings[0].id}}</md-option>
                                                    <md-option ng-repeat="booking in value._bookings" ng-value="booking.id" ng-if="$index !== 0">
                                                        Booking {{booking.id}}
                                                    </md-option>
                                                </md-select>                                 
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>



                </div>

            </md-card>
            <md-card md-whiteframe="5" flex="80" style="overflow-y: auto;">
                <div class="md-accordion" ng-repeat="(day, book) in vm.booking.groupByBookingDate">

                    <div layout="row" layout-xs="column">
                        <div class="deliveryDateHolder" flex="10">
                            <p class="deliveryDateText">{{day | date:'EEEE'}} </br> {{day | date:"d MMM"}}</p>
                        </div>
                        <div flex="90">
                            <table class="data-table">
                                <tr>
                                    <td>Number</td>
                                    <td>Booked</td>
                                    <td>Time</td>
                                    <td>Haulier</td>
                                    <td>Vehicle</td>
                                    <td>Ticket</td>
                                    <td>Loaded</td>
                                    <td>Delivered</td>
                                    <td>Time</td>
                                    <td>Completed</td>
                                </tr>
                                <tr repeat-end ng-repeat="(key, value) in book">
                                    <td><p class="dynamicText">Booking {{value.booking.id}}</p></td>
                                    <td>
                                <md-checkbox aria-label="booked" ng-model="vm.booking.groupByBookingDate[day][key].booking.booked.status" ng-change="vm.updateBookingCheckData(key, 'booked', vm.booking.groupByBookingDate[day][key].booking.booked.status); $event.stopImmediatePropagation();"></md-checkbox><span data-ng-if="vm.booking.groupByBookingDate[day][key].booking.booked.status"> / {{vm.booking.groupByBookingDate[day][key].booking.booked.user}}</span>
                                </td>
                                <td>
                                    <span ng-if="vm.booking.groupByBookingDate[day][key].booking.bookedTime">{{vm.booking.groupByBookingDate[day][key].booking.bookedTime | date:'d' || ""}}/{{vm.booking.groupByBookingDate[day][key].booking.bookedTime | date:'M' || ""}}</span></br>
                                    <input mdc-datetime-picker="" format="hh:mm a" week-days="true" short-time="true" date="true" time="true" type="text" id="datetime"
                                           placeholder="Add Time" show-todays-date min-date="date" ng-model="vm.booking.groupByBookingDate[day][key].booking.bookedTime" class="noBorder md-input"
                                           ng-change="vm.updateBookingData(key, 'bookedTime',  vm.booking.groupByBookingDate[day][key].booking.bookedTime)" readonly="readonly">
                                </td>
                                <td>
                                <md-select ng-model="vm.booking.groupByBookingDate[day][key].booking.haulierType" ng-change="vm.updateBookingData(key, 'haulierType', vm.booking.groupByBookingDate[day][key].booking.haulierType)">
                                    <md-option ng-value="haulier.name" ng-repeat="haulier in vm.hauliers">{{haulier.name}}</md-option>
                                </md-select>
                                </td>
                                <td>
                                <md-select ng-model="vm.booking.groupByBookingDate[day][key].booking.vehicleType" ng-change="vm.updateBookingData(key, 'vehicleType', vm.booking.groupByBookingDate[day][key].booking.vehicleType)">
                                    <md-option ng-value="vehicle.name" ng-repeat="vehicle in vm.vehicles">{{vehicle.name}}</md-option>
                                </md-select>
                                </td>
                                <td>
                                <md-checkbox aria-label="ticket" ng-model="vm.booking.groupByBookingDate[day][key].booking.ticket.status" ng-change="vm.updateBookingCheckData(key, 'ticket', vm.booking.groupByBookingDate[day][key].booking.ticket.status)"></md-checkbox><span data-ng-if="vm.booking.groupByBookingDate[day][key].booking.ticket.status"> / {{vm.booking.groupByBookingDate[day][key].booking.ticket.user}}</span>
                                </td>
                                <td>
                                <md-checkbox aria-label="loaded" ng-model="vm.booking.groupByBookingDate[day][key].booking.loaded.status" ng-change="vm.updateBookingCheckData(key, 'loaded', vm.booking.groupByBookingDate[day][key].booking.loaded.status)"></md-checkbox><span data-ng-if="vm.booking.groupByBookingDate[day][key].booking.loaded.status"> / {{vm.booking.groupByBookingDate[day][key].booking.loaded.user}}</span>
                                </td>
                                <td>    
                                <md-checkbox aria-label="loaded" ng-model="vm.booking.groupByBookingDate[day][key].booking.delivered.status" ng-change="vm.updateBookingAddCheckDataDelivered(key, vm.booking.groupByBookingDate[day][key].booking.delivered.status)"></md-checkbox><span data-ng-if="vm.booking.groupByBookingDate[day][key].booking.delivered.status"> / {{vm.booking.groupByBookingDate[day][key].booking.delivered.user}}</span>
                                </td>
                                <td>
                                    <span ng-if="vm.booking.groupByBookingDate[day][key].booking.deliveryTime">{{vm.booking.groupByBookingDate[day][key].booking.deliveryTime| date:'d' || ""}}/{{vm.booking.groupByBookingDate[day][key].booking.deliveryTime| date:'M' || ""}}</span></br>
                                    <input mdc-datetime-picker="" format="hh:mm a" short-time="true" date="true" time="true" type="text" id="datetime"
                                           placeholder="Add Time" show-todays-date min-date="date" ng-model="vm.booking.groupByBookingDate[day][key].booking.deliveryTime" class="noBorder md-input"
                                           ng-change="vm.updateBookingData(key, 'deliveryTime', vm.booking.groupByBookingDate[day][key].booking.deliveryTime)" readonly="readonly">
                                </td>
                                <td>
                                <md-checkbox aria-label="complete" ng-model="vm.booking.groupByBookingDate[day][key].booking.complete.status" ng-change="vm.updateBookingCheckData(key, 'complete', vm.booking.groupByBookingDate[day][key].booking.complete.status)"></md-checkbox><span data-ng-if="vm.booking.groupByBookingDate[day][key].booking.complete.status"> / {{vm.booking.groupByBookingDate[day][key].booking.complete.user}}</span>
                                </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </md-content>
</main>

<div ng-hide="vm.loaded" class="centered">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">This weeks Bookings</h1>
    </md-toolbar>
    <md-content layout-padding>
        <div ng-repeat="(bookingDate, book) in vm.booking.groupByBookingDate">
            <h2>{{bookingDate | date:'d'}}/{{bookingDate | date:'M'}}</h2>
            <md-card ng-repeat="(bookingRef, booking) in book" md-whiteframe="3">
                <md-list ng-cloak>
                    <md-list-item>
                        <p ng-click="vm.addAreaToBooking(bookingRef, vm.selectedArea)" style="cursor: pointer;"><md-tooltip ng-if="vm.selectedArea" md-direction="top">Add area {{vm.selectedArea._id}} to Booking {{booking.booking.id}}</md-tooltip>Booking {{booking.booking.id}}</p>
                        <md-icon ng-click="vm.removeBooking(bookingRef, booking.areas)" md-svg-src="/icons/remove.svg"></md-icon>
                    </md-list-item>
                    <md-divider ></md-divider>
                    <md-list-item ng-repeat="(areaRef, areaData) in booking.areas">
                        <p ng-click="vm.showPanelsDelivered(areaData.area, bookingRef)"> {{areaData.area._id}}<span ng-if="areaData.bookedPanels"> : {{areaData.bookedPanels + "/" + areaData.area.actualPanels}}</span></p>
                        <md-icon ng-click="vm.removeAreaFromBooking(areaData.area, bookingRef)" md-svg-src="/icons/remove.svg"></md-icon>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
        <md-card md-whiteframe="3">
            <md-card-content layout="row" layout-align="space-between">
                <h2><md-icon ng-click="vm.incBooking()"md-svg-src="/icons/add-simple.svg"></md-icon> Add Booking</h2>
            </md-card-content>
        </md-card>
        <md-button ng-click="vm.close()" class="md-primary">
            Close Sidenav Right
        </md-button>
    </md-content>

</md-sidenav>