<inn-navbar theme="newux" class="screenOnly">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('dashboard','humanresource')" name="dashboard">Dashboard</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>
<div class="secondary-toolbar screenOnly" layout="row">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item md-nav-click="vm.goto('dashboard','logistics')" name="logistics"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Logistics</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','design')" name="design"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Design</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','production')" name="production"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Production</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','humanresource')" name="humanresource"><md-icon md-svg-src="/icons/details.svg"></md-icon>Resource Plan</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','booking')" name="booking"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Booking</md-nav-item>
    </md-nav-bar>
</div>

<main class="main" layout="column" ng-if="vm.loaded" flex>
    <md-content>
        <div layout="row">
            <md-card md-whiteframe="5" flex="66">
                <p style="padding-left:30px">Design Dashboard</p>
            </md-card>
            <md-card md-whiteframe="5" flex="66">
                <p style="text-align: center;">DFM required 2 weeks (10 days) prior to delivery date</p>
            </md-card>
        </div>
        <div layout="row">
            <md-card md-whiteframe="5" flex="66">
                <nvd3 options="vm.options" api="vm.chartAPI" data="vm.data"></nvd3>
            </md-card>
            <md-card md-whiteframe="5" flex="66">
                <table class="data-table" style="height:100%;">
                    <thead>
                        <tr>
                            <td>
                                <span class="pull-center">
                                    <span data-ng-hide="vm.backButton" data-ng-click="vm.backWeek()"><img src="/icons/arrow-left.svg"></span>
                                    <span data-ng-hide="!vm.backButton"><img src="/icons/block.svg"></span>
                                    Week {{vm.weekStart | date:"w"}}
                                    <span data-ng-hide="vm.forwardButton" data-ng-click="vm.forwardWeek()"><img src="/icons/arrow-right.svg"></span>
                                    <span data-ng-hide="!vm.forwardButton"><img src="/icons/block.svg"></span>
                                </span>
                            </td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{day | date:'EEEE'}}</td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{day | date:"d MMM"}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>m2 (design entered)</td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{vm.booking.weeks[day].areaOfPanels | number : 0}} / {{vm.booking.weeks[day].numberOfPanels}}</td>
                        </tr>
                        <tr>
                            <td>m2 (predicted)</td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{vm.booking.weeks[day].predictedPlanM2 | number : 0}} / {{vm.booking.weeks[day].predictedPlanPanels}}</td>
                        </tr>
                        <tr>
                            <td>m2 (actual)</td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{vm.booking.weeks[day].actualPlanM2 | number : 0}} / {{vm.booking.weeks[day].actualPlanPanels}}</td>
                        </tr>
                        <tr>
                            <td>Areas</td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{vm.booking.areasByDesignHandoverDate[vm.weekStart][day].length || 0}}</td>
                        </tr>
                        <tr>
                            <td>Areas Uploaded</td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks">{{vm.areasWithActuals(vm.booking.areasByDesignHandoverDate[vm.weekStart][day])}}</td>
                        </tr>
                        <tr>
                            <td>DFM Buffer</td>
                            <td ng-repeat="(day, val) in vm.booking.daysOfWeeks"><span>{{((vm.booking.weeks[day].designIssued.totalDesignedM2 - vm.booking.weeks[day].designIssued.totalCompleteM2) / 500).toFixed(0)}} Days</span></td>
                        </tr>
                        <tr>
                          <td>Errors Reported</td>
                          <td ng-repeat="(day, val) in vm.booking.daysOfWeeks"><inn-day-errors date="{{day}}"></inn-day-errors></td>
                        </tr> 
                    </tbody>
                </table>
            </md-card>
        </div>
        <div layout="row">
            <md-card md-whiteframe="5" flex>
                <table class="data-table">
                    <tr>
                        <th>Day</th>
                        <td>Area</td>
                        <td>Edit Panels</td>
                        <td>Area Uploaded</td>
                        <td>Area Start Date</td>
                        <td>Risk Days</td>
                        <td>Designer</td>
                        <td>DFM. Check</td>
                        <td>Handover Conf.</td>
                    </tr>
                    <tr ng-repeat-start="(key, val) in vm.booking.areasByDesignHandoverDate[vm.weekStart]" >
                        <td rowspan="{{val.length}}">{{key | date:'EEEE'}} </br> {{day | date:"d MMM"}}</td>
                        <td><a href="/newux.html#/projects/{{val[0]._projectId}}/schedule">{{val[0]._id}}</a></td>
                        <td><span data-ng-click="vm.editAreaPanelsAndMeterSquared(val[0].$id)"><img src="/icons/edit.svg"></span></td>
                        <td ng-if="val[0].panStatus === true">
                          <md-checkbox ng-checked="true" ng-disabled="true"></md-checkbox>
                        </td>
                        <td ng-if="val[0].panStatus === false">
                          <md-checkbox ng-checked="false" ng-disabled="true"></md-checkbox>
                        </td>
                        <td>{{val[0]._startDate | date:"d MMM yy"}}</td>
                        <td>{{val[0]._riskDays}}</td>
                         <td>
                            {{val[0]._designer}}
                        </td>
                        <td>
                            <md-checkbox aria-label="checkedDFM" ng-model="vm.booking.additionalData[val[0].$id].checkedDFM.status" ng-change="vm.updateAddCheckData(val[0].$id, 'checkedDFM', vm.booking.additionalData[val[0].$id].checkedDFM.status)"></md-checkbox><span data-ng-if="vm.booking.additionalData[val[0].$id].checkedDFM.status"> / {{vm.booking.additionalData[val[0].$id].checkedDFM.user}}</span>
                        </td>
                        <td>
                            <md-checkbox aria-label="handoverConfirmed" ng-model="vm.booking.additionalData[val[0].$id].handoverConfirmed.status" ng-change="vm.updateAddCheckData(val[0].$id, 'handoverConfirmed', vm.booking.additionalData[val[0].$id].handoverConfirmed.status)"></md-checkbox><span data-ng-if="vm.booking.additionalData[val[0].$id].handoverConfirmed.status"> / {{vm.booking.additionalData[val[0].$id].handoverConfirmed.user}}</span>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-repeat="value in val.slice(1)">
                        <td><a href="/newux.html#/projects/{{value._projectId}}/schedule">{{value._id}}</a></td>
                        <td><span data-ng-click="vm.editAreaPanelsAndMeterSquared(value.$id)"><img src="/icons/edit.svg"></span></td>
                        <td ng-if="value.panStatus === true">
                          <md-checkbox ng-checked="true" ng-disabled="true"></md-checkbox>
                        </td>
                        <td ng-if="value.panStatus === false">
                          <md-checkbox ng-checked="false" ng-disabled="true"></md-checkbox>
                        </td>
                        <td>{{value._startDate | date:"d MMM yy"}}</td>
                        <td>{{value._riskDays}}</td>
                        <td>
                            {{value._designer}}
                        </td>
                        <td>
                            <md-checkbox aria-label="checkedDFM" ng-model="vm.booking.additionalData[value.$id].checkedDFM.status" ng-change="vm.updateAddCheckData(value.$id, 'checkedDFM', vm.booking.additionalData[value.$id].checkedDFM.status)"></md-checkbox><span data-ng-if="vm.booking.additionalData[value.$id].checkedDFM.status"> / {{vm.booking.additionalData[value.$id].checkedDFM.user}}</span>
                        </td>
                        <td>
                            <md-checkbox aria-label="handoverConfirmed" ng-model="vm.booking.additionalData[value.$id].handoverConfirmed.status" ng-change="vm.updateAddCheckData(value.$id, 'handoverConfirmed', vm.booking.additionalData[value.$id].handoverConfirmed.status)"></md-checkbox><span data-ng-if="vm.booking.additionalData[value.$id].handoverConfirmed.status"> / {{vm.booking.additionalData[value.$id].handoverConfirmed.user}}</span>
                        </td>
                    </tr>
                </table>
            </md-card>
        </div>
    </md-content>
</main>

<div ng-hide="vm.loaded" class="centered">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>
