<md-dialog id="dialogFixForIE11" class="mdDialogFixIE" area-label="Edit Area Panels">
  <form ng-cloak name="vm.areaForm" data-ng-submit="vm.saveArea(vm.areaForm.$valid)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Area Panels</h2>
        <span flex></span>
        <!--
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        -->
      </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="row">
                <md-input-container class="md-block" flex="50">
                    <label>Number of Panels</label>
                    <input type="number" data-ng-model="vm.areaTemplate.numberOfPanels">
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>Area of Panels</label>
                    <input type="number" data-ng-model="vm.areaTemplate.areaOfPanels">
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button data-ng-click="vm.closeDialog()">
        <!--<md-icon md-svg-src="/icons/close.svg"></md-icon>-->
        Cancel
      </md-button>
      <span flex></span>
      <md-button type="submit" class="md-raised md-primary" data-ng-disabled="vm.areaForm.$pristine || vm.areaForm.$invalid">
        <md-icon md-svg-src="/icons/save.svg"></md-icon>
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
