<inn-navbar theme="newux" class="screenOnly">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('dashboard','humanresource')" name="dashboard">Dashboard</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>
<div class="secondary-toolbar screenOnly" layout="row">
  <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
    <md-nav-item md-nav-click="vm.goto('dashboard','logistics')" name="logistics"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Logistics</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('dashboard','design')" name="design"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Design</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('dashboard','production')" name="production"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Production</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('dashboard','humanresource')" name="humanresource"><md-icon md-svg-src="/icons/details.svg"></md-icon>Resource Plan</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('dashboard','booking')" name="booking"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Booking</md-nav-item>
  </md-nav-bar>
</div>

<main class="main" layout="column" ng-if="vm.loaded" flex>
    <md-content flex>
        <table ng-repeat="(day, productLineData) in vm.humanResource.resourceDays" class="data-table">
            <tr>
                <td>{{day | date:"d MMM"}}</td>
                <td>
                    <table ng-repeat="(productionLine, data2) in productLineData" class="data-table" style='table-layout: fixed;'>
                        <tr ng-if="$first">
                            <th>Line:</th>
                            <th>F Bench</th>
                            <th>F People</th>
                            <th>F m2</th>
                            <th>A Bench</th>
                            <th>A People</th>
                            <th>Output</th>
                        </tr>
                        <tr>
                            <th rowspan="{{(productLineData | objectKeys).length}}">{{productionLine}}</th>
                            <td ng-if="$first">{{data2.fBenches}}</td>
                            <td ng-if="$first">{{data2.fPeople}}</td>
                            <td ng-if="$first">{{data2.fm2}}</td>
                            <td ng-if="$first"><md-input-container class="md-block" flex><input type="number" ng-keyup="vm.updateBench(vm.humanResource.lineBenches, productionLine, day, 'aBench', vm.humanResource.lineBenches[productionLine][day].aBench);" ng-model="vm.humanResource.lineBenches[productionLine][day].aBench"></md-input-container></td>
                            <td ng-if="$first"><md-input-container class="md-block" flex><input type="number" ng-keyup="vm.updateBench(vm.humanResource.lineBenches, productionLine, day, 'aPeople', vm.humanResource.lineBenches[productionLine][day].aPeople);" ng-model="vm.humanResource.lineBenches[productionLine][day].aPeople"></md-input-container></td>
                            <td ng-if="$first">{{data2.fm2 / data2.fPeople * vm.humanResource.lineBenches[productionLine][day].aPeople | number : 1 || 0}}</td>
                        </tr>
                        <tr>
                            <td ng-if="!$first">{{data2.fBenches}}</td>
                            <td ng-if="!$first">{{data2.fPeople}}</td>
                            <td ng-if="!$first">{{data2.fm2}}</td>
                            <td ng-if="!$first"><md-input-container class="md-block" flex><input type="number" ng-keyup="vm.updateBench(vm.humanResource.lineBenches, productionLine, day, 'aBench', vm.humanResource.lineBenches[productionLine][day].aBench);" ng-model="vm.humanResource.lineBenches[productionLine][day].aBench"></md-input-container></td>
                            <td ng-if="!$first"><md-input-container class="md-block" flex><input type="number" ng-keyup="vm.updateBench(vm.humanResource.lineBenches, productionLine, day, 'aPeople', vm.humanResource.lineBenches[productionLine][day].aPeople);" ng-model="vm.humanResource.lineBenches[productionLine][day].aPeople"></md-input-container></td>
                            <td ng-if="!$first">{{data2.fm2 / data2.fPeople * vm.humanResource.lineBenches[productionLine][day].aPeople| number : 1 || 0}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </md-content>
</main>

<div ng-hide="vm.loaded" class="centered">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

