<inn-navbar theme="newux" class="screenOnly">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('dashboard','humanresource')" name="dashboard">Dashboard</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>
<div class="secondary-toolbar screenOnly" layout="row">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item md-nav-click="vm.goto('dashboard','logistics')" name="logistics"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Logistics</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','design')" name="design"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Design</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','production')" name="production"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Production</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','humanresource')" name="humanresource"><md-icon md-svg-src="/icons/details.svg"></md-icon>Resource Plan</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','booking')" name="booking"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Booking</md-nav-item>
    </md-nav-bar>
</div>

<main class="main" layout="column" ng-if="vm.loaded" flex>

    <md-content>
        <div layout="row" layout-xs="column">
            <md-card md-whiteframe="5" flex="66">
                <p style="padding-left:30px">Logistics Dashboard</p>
            </md-card>
            <md-card md-whiteframe="5" flex="66">
                <div layout="row" layout-xs="column">
                    <div flex="40">
                        <span class="pull-center">
                            <span data-ng-hide="vm.backButton" data-ng-click="vm.backWeek()"><img src="/icons/arrow-left.svg"></span>
                            <span data-ng-hide="!vm.backButton"><img src="/icons/block.svg"></span>
                            Week {{vm.weekStart | date:"w"}}
                            <span data-ng-hide="vm.forwardButton" data-ng-click="vm.forwardWeek()"><img src="/icons/arrow-right.svg"></span>
                            <span data-ng-hide="!vm.forwardButton"><img src="/icons/block.svg"></span>
                        </span>
                    </div>
                    <div flex="60">
                        <span class="pull-center">
                            <p>Week Dispatches</p>
                        </span>
                    </div>
                </div>
            </md-card>
        </div>
        <div layout="row" layout-xs="column">
            <md-card md-whiteframe="5" flex="66">
                <nvd3 class="theChart" options="vm.options" api="vm.chartAPI" data="vm.data"></nvd3>
            </md-card>
            <md-card class="dynamicCard" md-whiteframe="5" flex="66">
                <md-content-card>
                    <div layout="row">
                        <div ng-repeat="(day, val) in vm.logistics.daysOfWeeks" flex>
                            <md-list class="alignTextCenter">
                                <md-subheader class="subHeader md-no-sticky">{{day | date : "EEE"}}</md-subheader>
                                <md-subheader class="solidBorder subHeader md-no-sticky">{{day | date:"d MMM"}}</md-subheader>
                                <md-subheader class="subHeader md-no-sticky" ng-repeat="(componentName, component) in vm.logistics.areasByDispatch[day]">
                                    <span style="font-size: 0.6vw;">{{component.areas[0]._idWithoutType}}-{{componentName | numbersFromString}}</span>
                                </md-subheader>
                            </md-list>
                        </div>
                    </div>
                    <div layout="row">
                        <div ng-repeat="(day, val) in vm.logistics.daysOfWeeks" flex>
                            <md-list class="alignTextCenter">
                                <md-subheader class="solidBorder subHeader md-no-sticky">
                                    <span style="font-size: 0.6vw;">{{vm.keysLength(vm.logistics.areasByDispatch[day])}}</span>
                                </md-subheader>
                            </md-list>
                        </div>
                    </div>
                </md-content-card>
            </md-card>
        </div>
        <div layout="row" layout-md="column">
            <md-card md-whiteframe="5" flex>
                <md-content-card style="height:100%; overflow-x: auto;" >
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Dispatch Date</th>
                                <th>Component</th>
                                <th>Complete</th>
                                <th>Delivery Date</th>
                                <th>Finish Date</th>
                                <th>Risk</th>
                                <th>Panel Qty</th>
                                <th>Panel m2</th>
                                <th>Delivery Manager</th>
                                <th>Contact Details</th>
                                <th>Standard Vehicle</th>
                                <th>Site Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="(day, daydata) in vm.logistics.areasByDispatch">
                                <td class="weekTitle" rowspan="{{vm.keysLength(daydata)+1}}">{{day | date:"d MMM"}}</td>  
                            </tr>
                            <tr ng-repeat-end ng-repeat="(componentName, component) in daydata"  ng-hide="(vm.isToggleDelivered && component.delivered) || (vm.isToggleShowHide && component.active)" data-ng-class="component.areas[0].supplier+' Strip'">
                                <td>{{component.areas[0]._idWithoutType}}-{{componentName | numbersFromString}}</td>
                                <td>{{vm.calculatePercentage(component.completedCountTotal, component.actualCountTotal)}}%</td>
                                <td>{{component.deliveryDate | date:"d MMM"}}</td>
                                <td>{{component.plannedFinish | date:"d MMM"}}</td>
                                <td>{{component.riskDays}}</td>
                                <td>{{component.actualCountTotal}}</td>
                                <td>{{vm.round(component.actualAreaTotal)}}</td>
                                <td>{{component.projectManagerName}}</td>
                                <td>{{component.projectManagerContact}}</td>
                                <td>{{component.siteAccess}}</td>
                                <td>{{component.siteAddress + ", " + component.postCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-content-card>
           </md-card>
        </div>
    </md-content>
</main>

<div ng-hide="vm.loaded" class="centered">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>