<md-dialog id="dialogFixForIE11" area-label="Panels Delivered Note dialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Area Panels</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-list>
                <md-divider></md-divider>
                <md-list-item ng-repeat="(panelRef, panel) in vm.panelsDeliveredTemplate">  
                    <p> {{ panel.id}} </p>
                    <p> &nbsp; : &nbsp; </p>
                    <md-checkbox class="md-secondary" ng-model="panel.isBooked" ng-change="vm.togglePanels(panel.$id, panel.isBooked)"></md-checkbox>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button data-ng-click="vm.closeDialog();">
        Update
      </md-button>
    </md-dialog-actions>
</md-dialog>
