<inn-navbar theme="newux" class="screenOnly">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','home')" name="home">Projects</md-nav-item>
        <md-nav-item class="global-nav-item global-nav-item--active" md-nav-click="vm.goto('dashboard','humanresource')" name="dashboard">Dashboard</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','materialrequests')" name="materialrequests">Material Requests</md-nav-item>
        <md-nav-item class="global-nav-item" md-nav-click="vm.goto('global','admin')" name="admin">Admin</md-nav-item>
    </md-nav-bar>
</inn-navbar>
<div class="secondary-toolbar screenOnly" layout="row">
    <md-nav-bar md-selected-nav-item="vm.selectedTab" aria-label="sections">
        <md-nav-item md-nav-click="vm.goto('dashboard','logistics')" name="logistics"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Logistics</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','design')" name="design"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Design</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','production')" name="production"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Production</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','humanresource')" name="humanresource"><md-icon md-svg-src="/icons/details.svg"></md-icon>Resource Plan</md-nav-item>
        <md-nav-item md-nav-click="vm.goto('dashboard','booking')" name="booking"><md-icon md-svg-src="/icons/delivery-schedule.svg"></md-icon>Booking</md-nav-item>
    </md-nav-bar>
</div>

<main class="main" layout="column" ng-if="vm.loaded" flex >
    <md-content>
        <div layout="row">
            <md-card md-whiteframe="5" flex="66">
                <p style="padding-left:30px">Production Dashboard</p>
            </md-card>
            <md-card md-whiteframe="5" flex="66">
                <p style="text-align: center;">Weekly m2 Manufactured, compared to planned</p>
            </md-card>
        </div>
        <div layout="row">
            <md-card md-whiteframe="5" flex="66">
                <nvd3 id="chartId" options="vm.options" api="vm.chartAPI" class="productionChart" data="vm.data" on-ready="vm.callBack"></nvd3>
            </md-card>
            <md-card md-whiteframe="5" flex="66" >
                <table class="data-table" style="height:100%;">
                    <thead>
                        <tr>
                            <td>
                                <span class="pull-center">
                                    <span data-ng-hide="vm.backButton" data-ng-click="vm.backWeek()"><img alt="left arrow" src="/icons/arrow-left.svg"></span>
                                    <span data-ng-hide="!vm.backButton"><img alt="block arrow" src="/icons/block.svg"></span>
                                    Week {{vm.weekStart | date:"w"}}
                                    <span data-ng-hide="vm.forwardButton" data-ng-click="vm.forwardWeek()"><img alt="right arrow"src="/icons/arrow-right.svg"></span>
                                    <span data-ng-hide="!vm.forwardButton"><img alt="block arrow" src="/icons/block.svg"></span>
                                </span>
                            </td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{day | date:'EEEE'}}</td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{day | date:"d MMM"}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SIP Plan (m2/qty)</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{vm.production.weeks.SIP[day].planM2 | number : 0}} / {{vm.production.weeks.SIP[day].planPanels | number : 0}}</td>
                        </tr>
                        <tr>
                            <td>SIP Manu (m2/qty)</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{vm.production.productionStats.SIP[day].completedM2 | number : 0}} / {{vm.production.productionStats.SIP[day].completedCount | number : 0}}</td>
                        </tr>
                        <tr>
                            <td>TF Plan (m2/qty)</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{vm.production.weeks.TF[day].planM2 | number : 0}} / {{vm.production.weeks.TF[day].planPanels | number : 0}}</td>
                        </tr> 
                        <tr>
                            <td>TF Manu (m2/qty)</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{vm.production.productionStats.TF[day].completedM2 | number : 0}} / {{vm.production.productionStats.TF[day].completedCount | number : 0}}</td>
                        </tr>
                        <tr>
                            <td>CASS Plan (m2/qty)</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{vm.production.weeks.CASS[day].planM2 | number : 0}} / {{vm.production.weeks.CASS[day].planPanels | number : 0}}</td>
                        </tr>
                        <tr>
                            <td>CASS Manu (m2/qty)</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks">{{vm.production.productionStats.CASS[day].completedM2 | number : 0}} / {{vm.production.productionStats.CASS[day].completedCount | number : 0}}</td>
                        </tr>
                        <tr>
                            <td>Errors Reported</td>
                            <td ng-repeat="(day, val) in vm.production.daysOfWeeks"><inn-day-errors date="{{day}}"></inn-day-errors></td>
                        </tr>                       
                    </tbody>
                </table>
            </md-card>
        </div>
        <div layout="row">
            <md-card md-whiteframe="5" flex>
                <table class="data-table">
                    <tr>
                        <th>Day</th>
                        <td>Area</td>
                        <td>Start Date</td>
                        <td>Finish Date</td>
                        <td>Risk</td>
                        <td>Designer</td>
                        <td>Mat. Check</td>
                        <td>Issued Conf.</td>
                    </tr>
                    <tr ng-repeat-start="(key, val) in vm.production.areasByStart[vm.weekStart]">
                        <td rowspan="{{val.length}}">{{key | date:'EEEE'}} </br> {{day | date:"d MMM"}}</td>
                        <td>{{val[0]._id}}</td>
                        <td>{{val[0]._startDate | date:"d MMM"}}</td>
                        <td>{{val[0]._finishDate | date:"d MMM"}}</td>
                        <td>{{val[0]._riskDays}}</td>
                         <td>{{val[0]._designer}}</td>
                        <td>
                            <md-checkbox aria-label="matcheck" ng-model="vm.production.additionalData[val[0].$id].matcheck.status" ng-change="vm.updateAddCheckData(val[0].$id, 'matcheck', vm.production.additionalData[val[0].$id].matcheck.status)"></md-checkbox><span data-ng-if="vm.production.additionalData[val[0].$id].matcheck.status"> / {{vm.production.additionalData[val[0].$id].matcheck.user}}</span>
                        </td>
                        <td>
                            <md-checkbox ng-disabled="true" aria-label="handoverConfirmed" ng-model="vm.production.additionalData[val[0].$id].handoverConfirmed.status" ng-change="vm.updateAddCheckData(val[0].$id, 'handoverConfirmed', vm.production.additionalData[val[0].$id].handoverConfirmed.status)"></md-checkbox><span data-ng-if="vm.production.additionalData[val[0].$id].handoverConfirmed.status"> / {{vm.production.additionalData[val[0].$id].handoverConfirmed.user}}</span>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-repeat="value in val.slice(1)">
                        <td>{{value._id}}</td>
                        <td>{{value._startDate | date:"d MMM"}}</td>
                        <td>{{value._finishDate | date:"d MMM"}}</td>
                        <td>{{value._riskDays}}</td>
                        <td>
                            {{value._designer}}
                        </td>
                        <td>
                            <md-checkbox aria-label="matcheck" ng-model="vm.production.additionalData[value.$id].matcheck.status" ng-change="vm.updateAddCheckData(value.$id, 'matcheck', vm.production.additionalData[value.$id].matcheck.status)"></md-checkbox><span data-ng-if="vm.production.additionalData[value.$id].matcheck.status"> / {{vm.production.additionalData[value.$id].matcheck.user}}</span>
                        </td>
                        <td>
                            <md-checkbox ng-disabled="true" aria-label="handoverConfirmed" ng-model="vm.production.additionalData[value.$id].handoverConfirmed.status" ng-change="vm.updateAddCheckData(value.$id, 'handoverConfirmed', vm.production.additionalData[value.$id].handoverConfirmed.status)"></md-checkbox><span data-ng-if="vm.production.additionalData[value.$id].handoverConfirmed.status"> / {{vm.production.additionalData[value.$id].handoverConfirmed.user}}</span>
                        </td>
                    </tr>
                </table>
            </md-card>
        </div>
    </md-content>
</main>

<div ng-hide="vm.loaded" class="centered">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

