<inn-navbar>
  <li><a href="#/manage/plan">Manage projects</a></li>
  <li><a href="#/materialrequests">Material Requests</a></li>
  <li><a href="#/productionperformance">Production Performance</a></li>
  <li><a href="#/admin">Admin</a></li>
</inn-navbar>

<div class="fluid-container box wider">
    <h1>
        Production Performance
    </h1>
    <div class="flex-container">
        <div class="flex-item sm"><inn-date-input id="performanceDate" name="performanceDate" type="text" data-ng-model="vm.selectDate" data-ng-change="vm.changeDate(vm.selectDate)"/></div>
        <div class="flex-item sm">Target</div>
        <div class="flex-item sm">By Now</div>
        <div class="flex-item sm">Panel Qty</div>
        <div class="flex-item sm">Panel m2</div>
        <div class="flex-item sm">In Progress</div>
        <div class="flex-item sm">Day Target</div>
        <div class="flex-item sm">At Risk</div>
    </div>
    <div class="flex-container">
        <div class="flex-item lg">SIP</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['SIP'][vm.selectDate] === undefined">{{vm.defaultCapacities.SIP}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['SIP'][vm.selectDate] !== undefined">{{vm.productionCapacities["SIP"][vm.selectDate]}}</div>
        <div class="flex-item lg">{{vm.now | byNow : vm.productionCapacities["SIP"][vm.selectDate] : vm.defaultCapacities.SIP}}</div>
        <div class="flex-item lg" ng-class="vm.performanceIndicator(vm.panels._calculatedTotal.completed.SIP, vm.now, vm.productionCapacities['SIP'][vm.selectDate], vm.defaultCapacities.SIP)">{{vm.panels._calculatedTotal.completed.SIP|| 0}}</div>
        <div class="flex-item lg">{{(vm.panels._calculatedTotal.area.SIP|| 0) | number : 1}}</div>
        <div class="flex-item lg">{{vm.panels._calculatedTotal.started.SIP|| 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['SIP'][vm.selectDate] !== undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.SIP - vm.productionCapacities['SIP'][vm.selectDate]),-6,-5,0)">{{(vm.panels._calculatedTotal.completed.SIP - vm.productionCapacities["SIP"][vm.selectDate]) || 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['SIP'][vm.selectDate] === undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.SIP - vm.defaultCapacities.SIP),-6,-3,0)">{{(vm.panels._calculatedTotal.completed.SIP - vm.defaultCapacities.SIP) || 0}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['SIP']) !== undefined && (vm.areasPlans['SIP']) < 0">{{vm.areasPlans['SIP']}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['SIP']) === undefined || (vm.areasPlans['SIP']) >= 0">{{" ~ "}}</div>
    </div>
    <div class="flex-container">
        <div class="flex-item lg">HSIP</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['HSIP'][vm.selectDate] === undefined">{{vm.defaultCapacities.HSIP}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['HSIP'][vm.selectDate] !== undefined">{{vm.productionCapacities["HSIP"][vm.selectDate]}}</div>
        <div class="flex-item lg">{{vm.now | byNow : vm.productionCapacities["HSIP"][vm.selectDate] : vm.defaultCapacities.HSIP}}</div>
        <div class="flex-item lg" ng-class="vm.performanceIndicator(vm.panels._calculatedTotal.completed.HSIP, vm.now, vm.productionCapacities['HSIP'][vm.selectDate], vm.defaultCapacities.HSIP)">{{vm.panels._calculatedTotal.completed.HSIP|| 0}}</div>
        <div class="flex-item lg">{{(vm.panels._calculatedTotal.area.HSIP|| 0) | number : 1}}</div>
        <div class="flex-item lg">{{vm.panels._calculatedTotal.started.HSIP|| 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['HSIP'][vm.selectDate] !== undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.HSIP - vm.productionCapacities['HSIP'][vm.selectDate]),-6,-5,0)">{{(vm.panels._calculatedTotal.completed.HSIP - vm.productionCapacities["HSIP"][vm.selectDate]) || 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['HSIP'][vm.selectDate] === undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.HSIP - vm.defaultCapacities.HSIP),-6,-3,0)">{{(vm.panels._calculatedTotal.completed.HSIP - vm.defaultCapacities.HSIP) || 0}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['HSIP']) !== undefined && (vm.areasPlans['HSIP']) < 0">{{vm.areasPlans['HSIP']}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['HSIP']) === undefined || (vm.areasPlans['HSIP']) >= 0">{{" ~ "}}</div>
    </div>
    <div class="flex-container">
        <div class="flex-item lg">IFAST</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['IFAST'][vm.selectDate] === undefined">{{vm.defaultCapacities.IFAST}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['IFAST'][vm.selectDate] !== undefined">{{vm.productionCapacities["IFAST"][vm.selectDate]}}</div>
        <div class="flex-item lg">{{vm.now | byNow : vm.productionCapacities["IFAST"][vm.selectDate] : vm.defaultCapacities.IFAST}}</div>
        <div class="flex-item lg" ng-class="vm.performanceIndicator(vm.panels._calculatedTotal.completed.IFAST, vm.now, vm.productionCapacities['IFAST'][vm.selectDate], vm.defaultCapacities.IFAST)">{{vm.panels._calculatedTotal.completed.IFAST|| 0}}</div>
        <div class="flex-item lg">{{(vm.panels._calculatedTotal.area.IFAST|| 0) | number : 1}}</div>
        <div class="flex-item lg">{{vm.panels._calculatedTotal.started.IFAST|| 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['IFAST'][vm.selectDate] !== undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.IFAST - vm.productionCapacities['IFAST'][vm.selectDate]),-6,-5,0)">{{(vm.panels._calculatedTotal.completed.IFAST - vm.productionCapacities["IFAST"][vm.selectDate]) || 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['IFAST'][vm.selectDate] === undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.IFAST - vm.defaultCapacities.IFAST),-6,-3,0)">{{(vm.panels._calculatedTotal.completed.IFAST - vm.defaultCapacities.IFAST) || 0}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['IFAST']) !== undefined && (vm.areasPlans['IFAST']) < 0">{{vm.areasPlans['IFAST']}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['IFAST']) === undefined || (vm.areasPlans['IFAST']) >= 0">{{" ~ "}}</div>
    </div>
    <div class="flex-container">
        <div class="flex-item lg">TF</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['TF'][vm.selectDate] === undefined">{{vm.defaultCapacities.TF}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['TF'][vm.selectDate] !== undefined">{{vm.productionCapacities["TF"][vm.selectDate]}}</div>
        <div class="flex-item lg">{{vm.now | byNow : vm.productionCapacities["TF"][vm.selectDate] : vm.defaultCapacities.TF}}</div>
        <div class="flex-item lg" ng-class="vm.performanceIndicator(vm.panels._calculatedTotal.completed.TF, vm.now, vm.productionCapacities['TF'][vm.selectDate], vm.defaultCapacities.TF)">{{vm.panels._calculatedTotal.completed.TF|| 0}}</div>
        <div class="flex-item lg">{{(vm.panels._calculatedTotal.area.TF|| 0) | number : 1}}</div>
        <div class="flex-item lg">{{vm.panels._calculatedTotal.started.TF|| 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['TF'][vm.selectDate] !== undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.TF - vm.productionCapacities['TF'][vm.selectDate]),-6,-5,0)">{{(vm.panels._calculatedTotal.completed.TF - vm.productionCapacities["TF"][vm.selectDate]) || 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['TF'][vm.selectDate] === undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.TF - vm.defaultCapacities.TF),-6,-3,0)">{{(vm.panels._calculatedTotal.completed.TF - vm.defaultCapacities.TF) || 0}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['TF']) !== undefined && (vm.areasPlans['TF']) < 0">{{vm.areasPlans['TF']}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['TF']) === undefined || (vm.areasPlans['TF']) >= 0">{{" ~ "}}</div>
    </div>
    <div class="flex-container">
        <div class="flex-item lg">CASS</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['CASS'][vm.selectDate] === undefined">{{vm.defaultCapacities.CASS}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['CASS'][vm.selectDate] !== undefined">{{vm.productionCapacities["CASS"][vm.selectDate]}}</div>
        <div class="flex-item lg">{{vm.now | byNow : vm.productionCapacities["CASS"][vm.selectDate] : vm.defaultCapacities.CASS}}</div>
        <div class="flex-item lg" ng-class="vm.performanceIndicator(vm.panels._calculatedTotal.completed.CASS, vm.now, vm.productionCapacities['CASS'][vm.selectDate], vm.defaultCapacities.CASS)">{{vm.panels._calculatedTotal.completed.CASS|| 0}}</div>
        <div class="flex-item lg">{{(vm.panels._calculatedTotal.area.CASS || 0) | number : 1}}</div>
        <div class="flex-item lg">{{vm.panels._calculatedTotal.started.CASS|| 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['CASS'][vm.selectDate] !== undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.CASS - vm.productionCapacities['CASS'][vm.selectDate]),-4,-3,0)">{{(vm.panels._calculatedTotal.completed.CASS - vm.productionCapacities["CASS"][vm.selectDate]) || 0}}</div>
        <div class="flex-item lg" ng-if="vm.productionCapacities['CASS'][vm.selectDate] === undefined" ng-class="vm.colourIndicator((vm.panels._calculatedTotal.completed.CASS - vm.defaultCapacities.CASS),-4,-3,0)">{{(vm.panels._calculatedTotal.completed.CASS - vm.defaultCapacities.CASS) || 0}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['CASS']) !== undefined && (vm.areasPlans['CASS']) < 0">{{vm.areasPlans['CASS']}}</div>
        <div class="flex-item lg" ng-if="(vm.areasPlans['CASS']) === undefined || (vm.areasPlans['CASS']) >= 0">{{" ~ "}}</div>
    </div>
    <!--    <div class="flex-container">
        <div class="flex-item sm">{{vm.selectDateNextDay | date:'dd/M/yyyy'}}</div>
        <div class="flex-item sm">SIP</div>
        <div class="flex-item sm">TF</div>
        <div class="flex-item sm">CASS</div>
        <div class="flex-item sm"></div>
        <div class="flex-item sm">Week Target</div>
    </div>
    <div class="flex-container">
        <div class="flex-item md">Todays Targets</div>
        <div class="flex-item lg">{{vm.performanceData.panelsCapacityNextDay.SIP}}</div>
        <div class="flex-item lg">{{vm.performanceData.panelsCapacityNextDay.TF}}</div>
        <div class="flex-item lg">{{vm.performanceData.panelsCapacityNextDay.CASS}}</div>
        <div class="flex-item lg"></div>
        <div class="flex-item">
            <div class="flex-item ti">SIP</div>
            <div class="flex-item ti" ng-class="{'red-indicator': vm.performanceData.panelsDiffWeek.SIP <= -36, 'amber-indicator': vm.performanceData.panelsDiffWeek.SIP >= -35, 'green-indicator': vm.performanceData.panelsDiffWeek.SIP >= 0}">{{vm.performanceData.panelsDiffWeek.SIP}}</div>
            <div class="flex-item ti">TF</div>
            <div class="flex-item ti" ng-class="{'red-indicator': vm.performanceData.panelsDiffWeek.TF <= -36, 'amber-indicator': vm.performanceData.panelsDiffWeek.TF >= -35, 'green-indicator': vm.performanceData.panelsDiffWeek.TF >= 0}">{{vm.performanceData.panelsDiffWeek.TF}}</div>
            <div class="flex-item ti">CASS</div>
            <div class="flex-item ti" ng-class="{'red-indicator': vm.performanceData.panelsDiffWeek.CASS <= -22, 'amber-indicator': vm.performanceData.panelsDiffWeek.CASS >= -21, 'green-indicator': vm.performanceData.panelsDiffWeek.CASS >= 0}">{{vm.performanceData.panelsDiffWeek.CASS}}</div>
        </div>
    </div>-->


</div>
