<div class="modal-body">

  <p>{{data.text}}</p>

  <div class="row buttonsrow">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
      <button class="btn btn-secondary" ng-click="cancel()">{{data.cancel}}</button>
    </div>
  </div>
</div>
