

<main class="main" layout="column" flex>
  <md-content flex>
    <md-card flex>
      <table class="data-table" flex>
        <tr>
          <th>Date : {{vm.date}}</th>
          <th>Errors</th>
          <th>Image</th>
        </tr>
        <tr ng-repeat='(key,error) in vm.errors[vm.date] track by $index' >
          <td>{{error.panelRef}}</td>
          <td><div style="padding-top:15%;padding-bottom:15%;padding-right:0;">{{error.errorMsg}}<br></div></td>
          <td ng-if="error.imageUrl" ><div style="padding:5%;"><a href="{{error.imageUrl}}" target="_blank"><img src="{{error.imageUrl}}" alt="Smiley face" height="128" width="128"></a></div></td>
          <td ng-if="!error.imageUrl">No Image was Provided</td>
        </tr>      
      </table>
    </md-card> 


  </md-content>
</main>