<div class="image-uploader inputImage">
  <label>Please upload image of related panel</label><br>

  <input class="inputImage" ng-hide="!vm.show " ng-click="vm.show = false;" type="file" id="image" accept="image/x-png,image/gif,image/jpeg" data-ng-Model="vm.image" name="myImage">
  <button ng-hide="vm.show" type="button" class="btn-primary" style="width:100%" ng-click="vm.uploadImage(image);vm.show = true;vm.confirmErrors = true">Submit</button>
  
</div>

<script type="text/ng-template" id="imgModal.html">

    <div class="modal-header" style="height:200px;">
      <div style="font-size:200%;">Image Uploaded To Panel</div>
      <input style="width:100%;height:50%;" type="button" class="btn-primary" ng-click="vm.close();" value="OK">
    </div>  
</script>