<div class="input-group date">
  <input data-ng-readonly="true" class="form-control" type="text" id="{{vm.id}}" name="{{vm.name}}" data-ng-required="vm.required !== undefined"
      data-ng-model="vm.date" data-ng-model-options="{debounce: 250}" data-ng-change="vm.dateChanged()"
      data-uib-datepicker-popup="{{vm.dateFormat}}" alt-input-formats="vm.alternativeFormats" data-show-button-bar="false"
      data-is-open="vm.isOpen" data-datepicker-options="vm.datepickerOptions" data-datepicker-mode="vm.datepickerMode" data-datepicker-append-to-body="true"/>
  <div class="input-group-addon"  data-ng-click="vm.toggleOpen()">
    <span class="glyphicon glyphicon-calendar"></span>
  </div>
</div>
