<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="collapse-1"
      aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="img/innviewlogo.svg" alt="InnviewLogo">
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="">
    <ul class="nav navbar-nav navbar-right">
      <li data-ng-if="vm.status.userId">

          <a id="dLabel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> {{vm.status.userName}}
            <!--<span class="caret"></span> -->
          </a>

          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="/#/login?logout">Logout</a></li>
          </ul>
    
      </li>
    </ul>
  </div>

  <div class="container-fluid navigation">
    <div class="collapse navbar-collapse" id="collapse-1">
      <ul data-ng-transclude class="nav navbar-nav navbar-left">
        <!-- navigation items inserted here -->
        <li><a/></li>
      </ul>
    </div>
  </div>
</nav>
