<md-toolbar layout="row">
  <div class="logo" flex="none">
    <img src="/img/logo.svg" width="88" height="32" alt="Innnovaré logo">
  </div>
  <div data-ng-transclude class="global-nav" flex>
  </div>
  <div class="user text-right" flex>
    <md-icon md-svg-src="/icons/user-avatar.svg"></md-icon>
    <span class="user-username">{{vm.status.userName}}</span>
  </div>
</md-toolbar>
