<md-select
  data-ng-model="vm.ngModel"
  data-ng-required="vm.required !== undefined"
  data-ng-disabled="vm.disabled"
  data-model-options="{trackBy: '$value.label'}">
  <md-option></md-option>
  <md-option data-ng-repeat="item in vm.items | orderBy: 'seq'" data-ng-value="item.$id">{{item.$id}}</md-option>
</md-select>
