<select class="form-control" id="{{vm.id}}" name="{{vm.name}}" data-ng-model="vm.ngModel" data-ng-required="vm.required !== undefined"
    data-ng-options="{{vm.selectOptions}}" data-ng-disabled="vm.disabled"  data-ng-change="vm.dmNameChange(vm.ngModel)">
  <option value=""></option>
</select>
